{% extends "@RoadizRozier/admin/base.html.twig" %}

{%- block content_title -%}{% trans %}add.a.font{% endtrans %}{%- endblock -%}

{%- block content_header_nav -%}
    <a class="content-header-nav-back uk-navbar-content"
       href="{{ path('fontsHomePage') }}"
       title="{% trans %}back_to.fonts{% endtrans %}"
       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
{%- endblock -%}

{%- block content_body -%}
    <article class="content">
        {%- block content_body_before -%}{%- endblock -%}
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, {
            'attr': {
                'id': 'edit-font-form',
                'class': 'uk-form uk-form-stacked'
            }
        }) }}{{ form_widget(form) }}
        {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
        {{ actions_menu.saveItem('#edit-font-form') }}
        {{ form_end(form) }}
        {%- block content_body_after -%}{%- endblock -%}
    </article>
    {% include '@RoadizFont/admin/actionsMenu.html.twig' %}
{%- endblock -%}
