{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}add.a.group{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global add-group">
    {% include '@RoadizRozier/groups/head.html.twig' with {
        title: 'add.a.group'|trans,
        filters: filters,
        with_breadcrumb: true,
    } only %}

    <article class="content content-add">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: { id: "add-group-form" }}) }}
            {{ form_widget(form) }}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#add-group-form') }}
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/groups/actionsMenu.html.twig' %}
</section>
{% endblock %}
