{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "edit.group.%name%"|trans({'%name%': item.name})|u.truncate(25, '[…]', true) }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global edit-group">

    <header class="content-header header-group header-group-edit">
        <h1 class="content-title group-add-title">{{ "edit.group.%name%"|trans({'%name%': item.name})|u.truncate(25, '[…]', true) }}</h1>
        <a class="content-header-nav-back uk-navbar-content"
           href="{{ path('groupsHomePage') }}"
           title="{% trans %}back_to.groups{% endtrans %}"
           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
        {% include '@RoadizRozier/groups/navBar.html.twig' with {'item': item, current: 'edit'} %}
    </header>

    <article class="content content-edit">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: { id: "edit-group-form" }}) }}
        {{ form_widget(form) }}
        <fieldset data-uk-margin>
            <button data-action-save="#edit-group-form" class="uk-button uk-button-success rz-action-save" type="submit">
                <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
            </button>
        </fieldset>
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/groups/actionsMenu.html.twig' %}
</section>
{% endblock %}
