{% extends '@RoadizRozier/layout.html.twig' %}
{% import "@RoadizRozier/macros/rz_button.html.twig" as rz_button %}

{% block title %}{{- "edit.group.%name%.roles"|trans({'%name%': item.getName})|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global edit-group">
    {% include '@RoadizRozier/groups/head.html.twig' with {
        title: 'edit.group.%name%.roles'|trans({'%name%': item.name})|truncate_title(40),
        item: item,
        current: 'roles',
        with_nav_bar: true,
        with_breadcrumb: true,
    } only %}

    <article>
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            selection_available: false,
            actions_available: true,
        } %}
            {% block thead_cells %}
                <th>{% trans %}role{% endtrans %}</th>
            {% endblock %}

            {% block tbody_content %}
                {%- for role in item.roles -%}
                    <tr>
                        <td>{{ role }}</td>
                        {% if actions_available %}
                            <td>
                                {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    'delete_href': is_granted(role) ? path('groupsRemoveRolesPage', { id: item.id, role: role }) : null,
                                    'delete_title': 'unlink.role'|trans,
                                } %}
                                {% endembed %}
                            </td>
                        {% endif %}
                    </tr>
                {%- endfor -%}
            {% endblock %}
        {% endembed %}
        <hr />
        <h2 class="text-h1-sm">{% trans %}add.a.role{% endtrans %}</h2>

        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="rz-form-field rz-form-field--align-start">
            {{
            rz_button.root({
                attributes: {
                    type: 'submit',
                },
                emphasis: 'primary',
                label: 'add.role',
                icon: 'rz-icon-ri--add-line',
            })
            }}
        </div>
        {{ form_end(form) }}
    </article>
    {% include '@RoadizRozier/groups/actionsMenu.html.twig' %}
</section>
{% endblock %}
