{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "edit.document.%name%"|trans({'%name%': document})|u.truncate(25, '[…]', true) }} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="content-global manage-document">
        {% include '@RoadizRozier/documents/head.html.twig' with {
            document: document,
            title: "edit.document.%name%"|trans({'%name%': document})|u.truncate(25, '[…]', true),
            current: 'adjust',
            with_nav_bar: true,
        } only %}

        <article class="content content-document-edit">
            {% if document and document.image %}
                <blanchette-editor-container data-vuejs src-url="{{ document|url({ 'noProcess': true }) }}" filename="{{ document.filename }}">
                    <div class="hidden">
                        {{ form(file_form) }}
                    </div>
                </blanchette-editor-container>
            {% endif %}
        </article>
    </section>
{% endblock %}
