{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}embed.document{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global embed-document">

    <header class="content-header header-document header-document-embed">
        <h1 class="content-title document-embed-title">{% trans %}embed.document{% endtrans %}</h1>
        <a class="content-header-nav-back uk-navbar-content"
           href="{{ path('documentsHomePage', {folderId: folder.id}) }}"
           title="{% trans %}back_to.documents{% endtrans %}"
           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
    </header>

    <article class="content content-embed">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: "embed-dropzone-document"}}) }}
        {{ form_widget(form) }}
        {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as floating_bar %}
        {{ floating_bar.saveItem('#embed-dropzone-document') }}
        {{ form_end(form) }}
    </article>
</section>
{% endblock %}
