{% import "@RoadizRozier/macros/rz_menu_bar.html.twig" as rz_menu_bar %}
{% set editRouteParams = { documentId: document.id } %}

{% if app.request and app.request.get('referer') %}
    {% set editRouteParams = editRouteParams|merge({ referer: app.request.get('referer') }) %}
{% endif %}
<nav class="rz-menu-bar">
    <ul class="rz-menu-bar__inner">
        {{ rz_menu_bar.item(
            name: 'edit',
            label: 'document.edit',
            href: path('documentsEditPage', editRouteParams),
            current: current
        ) }}
        {{ rz_menu_bar.item(
            name: 'metas',
            label: 'document.metas',
            href: path('documentsMetaPage', editRouteParams),
            current: current
        ) }}
        {% if is_granted('ROLE_ACCESS_DOCUMENTS_LIMITATIONS') %}
            {{ rz_menu_bar.item(
                name: 'limitations',
                label: 'document.limitations',
                href: path('documentsLimitationsPage', { id: document.id, referer: app.request.get('referer') }),
                current: current
            ) }}
        {% endif %}
        {{ rz_menu_bar.item(
            name: 'preview',
            label: 'document.preview',
            href: path('documentsPreviewPage', editRouteParams),
            current: current
        ) }}
        {{ rz_menu_bar.item(
            name: 'usage',
            label: 'document.usage',
            href: path('documentsUsagePage', editRouteParams),
            current: current
        ) }}
        {% if document and document.image %}
            {{ rz_menu_bar.item(
                name: 'adjust',
                label: 'document.adjust',
                href: path('documentsAdjustPage', editRouteParams),
                current: current
            ) }}
        {% endif %}
    </ul>
</nav>
