{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}upload.document{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global upload-document">
    {% include '@RoadizRozier/documents/head.html.twig' with {
        title: "upload.document"|trans,
    } only %}

    <article class="content content-upload">
        <div class="content-upload-inner">
            {% form_theme form '@RoadizRozier/forms.html.twig' %}
            <form
                class="rz-form"
                action="#"
                method="post"
                enctype="multipart/form-data"
            >
                <div class="rz-form__field-list">
                    <div class="rz-form-field">
                        <rz-file-upload
                            {% if folder.id %}
                                url="{{ path('documentsUploadPage', {_format: 'json', folderId: folder.id}) }}"
                                style="--rz-accent-color: {{ folder.color }};"
                            {% endif %}
                        >
                            <noscript>
                                {{ form_widget(form) }}
                                <div class="rz-form-field rz-form-field--align-start">
                                    <input class="rz-input" type="submit" value="{% trans %}upload{% endtrans %}" />
                                </div>
                            </noscript>
                            {{ form_rest(form) }}
                        </rz-file-upload>
                    </div>
                </div>
            </form>
        </div>
    </article>
</section>
{% endblock %}
