{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "document.%name%.usage"|trans({'%name%': document})|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global manage-document">
    {% include '@RoadizRozier/documents/head.html.twig' with {
        document: document,
        title: "document.%name%.usage"|trans({'%name%': document})|truncate_title,
        current: 'usage',
        with_nav_bar: true,
        with_breadcrumb: true,
    } only %}

    <article class="content content-no-action-menu">
        {% if usages|length %}
            <h3>{% trans %}nodes{% endtrans %}</h3>

            {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
                usages: usages,
                actions_available: true,
            } only %}
                {% block thead_cells %}
                    <th>{% trans %}title{% endtrans %}</th>
                    <th>{% trans %}usage.fieldName{% endtrans %}</th>
                {% endblock %}
                {% block tbody_content %}
                    {% for usage in usages %}

                        {% set source = usage.nodeSource %}
                        {% set edit_href = path('nodesEditSourcePage', { nodeId: source.node.id, translationId: source.translation.id }) %}
                        <tr>
                            <td>
                                <a href="{{ edit_href }}">
                                    {% if source.title %}
                                        {{ source.title }}
                                    {% else %}
                                        {{ source.node.nodeName }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ usage.fieldName }}</td>
                            {% if actions_available %}
                                <td>
                                    {% include '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                        'edit_href': edit_href,
                                    } %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
            <hr>
        {% endif %}

        {% if attributes|length %}
            <h3>{% trans %}attributes{% endtrans %}</h3>
            {% embed '@RoadizRozier/includes/rz_table.html.twig' %}
                {% block thead_cells %}
                    <th>{% trans %}attributes.code{% endtrans %}</th>
                    <th>{% trans %}attributes.group{% endtrans %}</th>
                {% endblock %}

                {% block tbody_content %}
                    {% for attribute in attributes %}
                        <tr style="--rz-accent-color: {{ attribute.color }};">
                            <td class="name">
                                <a href="{{ path('attributesEditPage', { id: attribute.id }) }}">
                                    <span class="color"
                                        style="background-color:{{ attribute.color|default('transparent') }};"></span>
                                    {{ attribute.attributeTranslations.first.label|default(attribute.code) -}}
                                </a>
                            </td>
                            <td>{%- if attribute.group -%}
                                    {{- attribute.group.name -}}
                                {%- endif -%}</td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
            <hr>
        {% endif %}

        {% if tags|length %}
            <h3>{% trans %}tags{% endtrans %}</h3>
            {% embed '@RoadizRozier/includes/rz_table.html.twig' %}
                {% block thead_cells %}
                    <th>{% trans %}tagName{% endtrans %}</th>
                {% endblock %}

                {% block tbody_content %}
                    {% for tag in tags %}
                        <tr style="--rz-accent-color: {{ tag.color }};">
                            <td class="name">
                                <a href="{{ path('tagsEditPage', { tagId: tag.id }) }}">
                                    <span class="color"
                                        style="background-color:{{ tag.color|default('transparent') }};"></span>
                                    {{ tag.tagTranslations.first.label|default(tag.tagName) -}}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endif %}
    </article>

</section>
{% endblock %}
