{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "document.%name%.usage"|trans({'%name%': document})|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
    {% include '@RoadizRozier/documents/head.html.twig' with {
        document: document,
        title: "document.%name%.usage"|trans({'%name%': document})|truncate_title,
        current: 'usage',
        with_nav_bar: true,
        with_breadcrumb: true,
    } only %}

    <section>
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            usages: usages,
            actions_available: true,
        } only %}
            {% block thead_cells %}
                <th>{% trans %}node.name{% endtrans %}</th>
                <th>{% trans %}usage.fieldName{% endtrans %}</th>
            {% endblock %}
            {% block tbody_content %}
                {% for usage in usages %}
                    {% set source = usage.nodeSource %}
                    {% set edit_source_link = path('nodesEditSourcePage', { nodeId: source.node.id, translationId: source.translation.id }) %}
                    <tr>
                        <td>
                            {% import '@RoadizRozier/macros/rz_link.html.twig' as rz_link %}
                            {{ rz_link.root({
                                label: source.title|default(source.node.nodeName),
                                attributes: { href: edit_source_link },
                            }) }}
                        </td>
                        <td>{{ usage.fieldName }}</td>
                        {% if actions_available %}
                            <td>
                                {% include '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    'edit_href': edit_source_link,
                                    'edit_icon': 'rz-icon-ri--eye-line',
                                } %}
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    {{ _self.fallback_row({
                        length: 2,
                        selection_available: selection_available,
                        actions_available: actions_available,
                        message: 'no_results',
                    }) }}
                {% endfor %}
            {% endblock %}
        {% endembed %}

        {% if attributes|length %}
            <hr>
            <h3 class="text-h1-sm">{% trans %}attributes{% endtrans %}</h3>
            {% embed '@RoadizRozier/includes/rz_table.html.twig' %}
                {% block thead_cells %}
                    <th>{% trans %}attributes.code{% endtrans %}</th>
                    <th>{% trans %}attributes.group{% endtrans %}</th>
                {% endblock %}

                {% block tbody_content %}
                    {% for attribute in attributes %}
                        <tr style="--rz-accent-color: {{ attribute.color }};">
                            <td class="name">
                                <a href="{{ path('attributesEditPage', { id: attribute.id }) }}">
                                    <span class="color"
                                        style="background-color:{{ attribute.color|default('transparent') }};"></span>
                                    {{ attribute.attributeTranslations.first.label|default(attribute.code) -}}
                                </a>
                            </td>
                            <td>
                                {% if attribute.group %}
                                    {{ attribute.group.name }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
            <hr>
        {% endif %}

        {% if tags|length %}
            <h3>{% trans %}tags{% endtrans %}</h3>
            {% embed '@RoadizRozier/includes/rz_table.html.twig' %}
                {% block thead_cells %}
                    <th>{% trans %}tagName{% endtrans %}</th>
                {% endblock %}

                {% block tbody_content %}
                    {% for tag in tags %}
                        <tr style="--rz-accent-color: {{ tag.color }};">
                            <td class="name">
                                <a href="{{ path('tagsEditPage', { tagId: tag.id }) }}">
                                    <span class="color"
                                        style="background-color:{{ tag.color|default('transparent') }};"></span>
                                    {{ tag.tagTranslations.first.label|default(tag.tagName) -}}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endif %}
    </section>

{% endblock %}
