{% import "@RoadizRozier/macros/rz_button.html.twig" as rz_button %}

{% set entity_ids = [] %}
{% set is_sortable = isSortable|default('true') %}

{% for entity in value %}
    {% if entity is ContextualizedDocumentInterface %}
        {% set entity_ids = entity_ids|merge([{
            id: entity.id,
            document: entity.document.id,
            hotspot: entity.hotspot,
            imageCropAlignment: entity.imageCropAlignment
        }]) %}
    {% elseif entity.id is defined %}
        {% set entity_ids = entity_ids|merge([entity.id]) %}
    {% else %}
        {#
         # During **Form Errors**, entities are not transformed to ExplorerProviderItem.
         # We need to use directly data item as string.
         #}
        {% set entity_ids = entity_ids|merge([entity]) %}
    {% endif %}
{% endfor %}

{% set field_attributes_whitelist = [
    'data-field-group',
    'data-field-group-canonical',
    'data-dev-name',
] %}
{% set field_attributes = [] %}

{% for key, value in form.vars.attr %}
    {% if key in field_attributes_whitelist %}
        {% set field_attributes = field_attributes|merge([
            key ~ '="' ~ value|escape ~ '"'
        ]) %}
    {% endif %}
{% endfor %}

{% set drawer_attributes = [] %}
{% set drawer_attributes_map = {} %}

{# Parse widget_attributes string into a map for easy access #}
{% if widget_attributes is defined and widget_attributes is not empty %}
    {% set attribute_pairs = widget_attributes|split(' ') %}
    {% for pair in attribute_pairs %}
        {% if '=' in pair %}
            {% set parts = pair|split('=', 2) %}
            {% set attr_key = parts[0]|trim %}
            {% set attr_value = parts[1]|trim('"')|trim("'") %}
            {% set drawer_attributes_map = drawer_attributes_map|merge({ (attr_key): attr_value }) %}
            {% set drawer_attributes = drawer_attributes|merge([pair]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% set drawer_id = drawer_attributes_map['id']|default('drawer-' ~ random()) %}
{% set file_upload_id = drawer_id ~ '-file-upload' %}


{% import "@RoadizRozier/macros/rz_form_field.html.twig" as rz_form_field %}

<rz-form-field {{ field_attributes|join(' ')|raw }}>
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    {% if label is not same as(false) -%}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <div class="rz-form-field__head">
            {{ rz_form_field.inner_head(label, label_attr, form, icon, attr, entity_ids|length) }}
            <div class="rz-button-group rz-button-group--md rz-form-field__head__end">
                {% if enableDropzone %}
                    {{ rz_button.root({
                        size: 'sm',
                        class: 'rz-button-group__button',
                        label: 'documents.toggle-uploader',
                        icon: 'rz-icon-ri--upload-line',
                        attributes: {
                            'type': 'button',
                            'command': '--toggle-file-upload',
                            'commandfor': drawer_id,
                            'aria-expanded': 'false',
                            'aria-controls': file_upload_id,
                        }
                    }) }}
                {% endif %}
                {{ rz_button.root({
                    size: 'sm',
                    class: 'rz-button-group__button',
                    label: 'documents.toggle-explorer',
                    icon: 'rz-icon-ri--add-line',
                    attributes: {
                        'type': 'button',
                        'command': '--open-explorer',
                        'commandfor': drawer_id,
                    }
                }) }}
                <template v-if="drawer.errorMessage">
                    <div class="rz-message rz-message--error rz-form-field__message">
                        <p class="rz-message__text">{ drawer.errorMessage }}</p>
                    </div>
                </template>
            </div>
        </div>
    {% endif %}

    {%- if form.vars.help ?? false -%}
        {{ rz_form_field.help(
            form: form,
        ) }}
    {%- endif -%}

    <rz-drawer
        {{ drawer_attributes|join(' ')|raw }}
        class="rz-drawer--grid{% if entity == 'document' %}-larger{% endif %} rz-form-field__body"
        {% if entity %}accept-entity="{{ entity }}"{% endif %}
        {% if is_sortable %}sortable="" {% endif %}
        {% if provider_class %}provider-class="{{ provider_class }}" {% endif %}
        {% if provider_options %}provider-options="{{ provider_options|json_encode }}" {% endif %}
        entity-types="[]"
        items="{{ entity_ids|json_encode }}"
        entity-name="{{ entityName }}"
        locale="{{ form.vars._locale }}"
        document-alignment-template-path="{{ path('documentsAlignmentTemplate') }}"
    >
        <ul class="rz-drawer__body" data-list></ul>
        {% if enableDropzone %}
            <rz-file-upload id="{{ file_upload_id }}" hidden></rz-file-upload>
        {% endif %}
    </rz-drawer>
</rz-form-field>
