{% set entityIds = [] %}
{% set isSortable = isSortable|default('true') %}
{% for entity in value %}
    {% if entity is ContextualizedDocumentInterface %}
        {% set entityIds = entityIds|merge([{
            id: entity.id,
            document: entity.document.id,
            hotspot: entity.hotspot,
            imageCropAlignment: entity.imageCropAlignment
        }]) %}
    {% elseif entity.id is defined %}
        {% set entityIds = entityIds|merge([entity.id]) %}
    {% else %}
        {#
         # During **Form Errors**, entities are not transformed to ExplorerProviderItem.
         # We need to use directly data item as string.
         #}
        {% set entityIds = entityIds|merge([entity]) %}
    {% endif %}
{% endfor %}

{% set drawerAttributesWhitelist = [
    'data-field-group',
    'data-field-group-canonical',
    'data-dev-name',
] %}
{% set drawerAttributes = [] %}
{% for key, value in form.vars.attr %}
    {% if key in drawerAttributesWhitelist %}
        {% set drawerAttributes = drawerAttributes|merge([
            key ~ '="' ~ value|escape ~ '"'
        ]) %}
    {% endif %}
{% endfor %}
<div class="rz-form-field form-col-{{ name }} drawer-widget-wrapper" {{ drawerAttributes|join(' ')|raw }}>
    <drawer-container data-vuejs
                      inline-template
                      data-entity-name="{{ entityName }}"
                      data-locale="{{ form.vars._locale }}"
                      data-document-alignment-template-path="{{ path('documentsAlignmentTemplate') }}"
    >
        <div class="rz-drawer drawer-widget entity-{{ entity }}{%- if form.vars.help ?? false %} has-description{%- endif -%}{% if entity == 'document' %} rz-drawer--more-columns{% endif %}"
             :class="{ 'uk-active' : isActive, 'uk-alert-danger': drawer.errorMessage }"
             v-if="drawer"
             ref="drawer"
            {{ widget_attributes|raw }}
            {% if entity %}data-accept-entity="{{ entity }}"{% endif %}
             data-entity-types="[]"
             data-is-sortable="{{ isSortable }}"
            {% if provider_class %}data-provider-class="{{ provider_class }}" {% endif %}
            {% if provider_options %}data-provider-options="{{ provider_options|json_encode }}" {% endif %}
             data-initial-items="{{ entityIds|json_encode }}">
            {% if label is empty -%}
                {% set label = name|humanize %}
            {%- endif -%}

            <div class="rz-form-field__head">
                <span class="rz-form-field__head__icon {{ icon }}"></span>
                <label class="rz-form-field__head__label">{{ label|trans }}</label>
                <template v-if="this.drawer.maxLength < 9999">
                    <div class="rz-badge rz-badge--xs rz-badge--error rz-form-field__head__badge">
                        <span class="rz-badge__label">${ items.length } / ${ this.drawer.maxLength }</span>
                    </div>
                </template>
                <template v-if="this.drawer.minLength > 0">
                    <div class="rz-badge rz-badge--xs rz-badge--information rz-form-field__head__badge">
                        <span class="rz-badge__label">({% trans %}min{% endtrans %}: ${ this.drawer.minLength })</span>
                    </div>
                </template>
                {% if attr['data-universal'] %}
                    <div class="rz-badge rz-badge--xs rz-form-field__head__badge">
                        <span class="rz-badge__icon rz-icon-ri--earth-line"></span>
                    </div>
                {% endif %}
                <div class="rz-button-group rz-button-group--md rz-form-field__head__end">
                    {% if enableDropzone %}
                        <button
                            type="button"
                            class="rz-button rz-button--sm rz-button-group__button"
                            @click.prevent="onDropzoneButtonClick"
                        >
                            <span class="rz-button__label">{%- trans -%}documents.toggle-uploader{%- endtrans -%}</span>
                            <span class="rz-button__icon rz-icon-ri--upload-line"></span>
                        </button>
                    {% endif %}
                    <button
                        type="button"
                        class="rz-button rz-button--sm rz-button-group__button"
                        @click.prevent="onExplorerButtonClick"
                    >
                        <span class="rz-button__label">{%- trans -%}documents.toggle-explorer{%- endtrans -%}</span>
                        <span class="rz-button__icon rz-icon-ri--add-line"></span>
                    </button>
                    <template v-if="drawer.errorMessage">
                        <div class="rz-message rz-message--error rz-form-field__message">
                            <p class="rz-message__text"><i class="uk-icon-warning"></i>{{ drawer.errorMessage }}</p>
                        </div>
                    </template>
                </div>
            </div>
            {%- if form.vars.help ?? false -%}
                <p class="rz-drawer__description" id="{{ form.vars.id }}_help">{{- form.vars.help|trans|inlineMarkdown -}}</p>
            {%- endif -%}

            <div class="drawer-widget-sortable-container">
                <transition name="fade" v-if="drawer.isLoading">
                    <div class="spinner"></div>
                </transition>
                <ul class="drawer-widget-sortable"
                    data-input-name="{{ name }}">
                    <draggable
                        v-model="items"
                        :options="getOptions()"
                    >
                        <transition-group tag="div" class="rz-drawer__body">
                            <component
                                v-bind:is="drawer.currentListingView"
                                v-for="(item, index) in items"
                                :key="(item.document) ? item.document.id : item.id"
                                :drawer-name="drawerName"
                                :is-item-explorer="false"
                                :add-item="addItem"
                                :remove-item="removeItem"
                                :index="index"
                                :item="item"
                                :entity-name="entityName"
                                @edit="onEditItem"
                            >
                            </component>
                        </transition-group>
                    </draggable>
                </ul>
            </div>
            {% if enableDropzone %}
                <rz-file-upload
                    v-if="drawer.isDropzoneEnable"
                    @error="showError"
                    @success="showSuccess"
                >
                </rz-file-upload>
            {% endif %}
        </div>
    </drawer-container>
</div>
