{% set entityIds = [] %}
{% set isSortable = isSortable|default('true') %}

{% for entity in value %}
    {% if entity is ContextualizedDocumentInterface %}
        {% set entityIds = entityIds|merge([{
            id: entity.id,
            document: entity.document.id,
            hotspot: entity.hotspot,
            imageCropAlignment: entity.imageCropAlignment
        }]) %}
    {% elseif entity.id is defined %}
        {% set entityIds = entityIds|merge([entity.id]) %}
    {% else %}
        {#
         # During **Form Errors**, entities are not transformed to ExplorerProviderItem.
         # We need to use directly data item as string.
         #}
        {% set entityIds = entityIds|merge([entity]) %}
    {% endif %}
{% endfor %}

{% set fieldAttributesWhitelist = [
    'data-field-group',
    'data-field-group-canonical',
    'data-dev-name',
] %}
{% set fieldAttributes = [] %}

{% for key, value in form.vars.attr %}
    {% if key in fieldAttributesWhitelist %}
        {% set fieldAttributes = fieldAttributes|merge([
            key ~ '="' ~ value|escape ~ '"'
        ]) %}
    {% endif %}
{% endfor %}

{% set drawerAttributes = [] %}
{% set drawerAttributesMap = {} %}

{# Parse widget_attributes string into a map for easy access #}
{% if widget_attributes is defined and widget_attributes is not empty %}
    {% set attributePairs = widget_attributes|split(' ') %}
    {% for pair in attributePairs %}
        {% if '=' in pair %}
            {% set parts = pair|split('=', 2) %}
            {% set attrKey = parts[0]|trim %}
            {% set attrValue = parts[1]|trim('"')|trim("'") %}
            {% set drawerAttributesMap = drawerAttributesMap|merge({ (attrKey): attrValue }) %}
            {% set drawerAttributes = drawerAttributes|merge([pair]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% set drawerId = drawerAttributesMap['id']|default('drawer-id') %}
{% set fileUploadId = drawerId ~ '-file-upload' %}


{% import "@RoadizRozier/macros/rz_form_field.html.twig" as rz_form_field %}

<rz-form-field {{ fieldAttributes|join(' ')|raw }}>
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    {% if label is not same as(false) -%}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <div class="rz-form-field__head">
            {{ rz_form_field.inner_head(label, label_attr, form, icon, attr, entityIds|length) }}
            <div class="rz-button-group rz-button-group--md rz-form-field__head__end">
                {% if enableDropzone %}
                    <button
                        type="button"
                        class="rz-button rz-button--sm rz-button-group__button"
                        command="--toggle-file-upload"
                        commandfor="{{ drawerId }}"
                        aria-expanded="false"
                        aria-controls="{{ fileUploadId }}"
                    >
                        <span class="rz-button__label">{%- trans -%}documents.toggle-uploader{%- endtrans -%}</span>
                        <span class="rz-button__icon rz-icon-ri--upload-line"></span>
                    </button>
                {% endif %}
                <button
                    type="button"
                    class="rz-button rz-button--sm rz-button-group__button"
                    command="--open-explorer"
                    commandfor="{{ drawerId }}"
                >
                    <span class="rz-button__label">{%- trans -%}documents.toggle-explorer{%- endtrans -%}</span>
                    <span class="rz-button__icon rz-icon-ri--add-line"></span>
                </button>
                <template v-if="drawer.errorMessage">
                    <div class="rz-message rz-message--error rz-form-field__message">
                        <p class="rz-message__text">{ drawer.errorMessage }}</p>
                    </div>
                </template>
            </div>
        </div>
    {% endif %}

    {%- if form.vars.help ?? false -%}
        {{ rz_form_field.help(
            form: form,
        ) }}
    {%- endif -%}

    <rz-drawer 
        {{ drawerAttributes|join(' ')|raw }}
        class="rz-drawer--grid{% if entity == 'document' %}-larger{% endif %} rz-form-field__body"
        {% if entity %}accept-entity="{{ entity }}"{% endif %}
        {% if isSortable %}sortable="" {% endif %}
        {% if provider_class %}provider-class="{{ provider_class }}" {% endif %}
        {% if provider_options %}provider-options="{{ provider_options|json_encode }}" {% endif %}
        entity-types="[]"
        items="{{ entityIds|json_encode }}"
        entity-name="{{ entityName }}"
        locale="{{ form.vars._locale }}"
        document-alignment-template-path="{{ path('documentsAlignmentTemplate') }}"
    >
        <div class="rz-drawer__body" data-list></div>
        {% if enableDropzone %}
            <rz-file-upload id="{{ fileUploadId }}" hidden></rz-file-upload>
        {% endif %}
    </rz-drawer>
</rz-form-field>
