{% set type_prefix = tree_type|default('node') %}
{% set root_classes = ['rz-tree-wrapper', 'tree-widget', type_prefix ~ '-tree-widget'] %}

<rz-tree-wrapper
	class="{{ root_classes|join(' ') }}"
	type="{{ type_prefix }}"
	status="{{ tree is defined ? 'loaded' : 'idle' }}"
	hidden
>
	<div class="rz-aside__head">
		<span class="{{ icon|default('rz-icon-ri--node-tree') }}"></span>

		<h2 class="rz-aside__title">
			{{ title|default('rz_aside.title'|trans) }}
			{% block after_title %}{% endblock %}
		</h2>

		{% block head_button %}{% endblock %}
	</div>

	{% include '@RoadizRozier/widgets/rz_language_switcher.html.twig' with {
		tree: tree,
		classes: ['rz-aside__langs', type_prefix ~ '-tree-langs'],
	} only %}

	{% set tree_wrapper_classes = ['rz-tree', 'root-tree', type_prefix ~ '-tree'] %}
	{% block tree_content %}
		<div class="{{ tree_wrapper_classes|join(' ') }}" data-tree-placeholder></div>
	{% endblock %}
</rz-tree-wrapper>

{% macro add_button(options = {}) %}
	{% import "@RoadizRozier/macros/rz_button.html.twig" as rz_button %}
	{{ rz_button.root(options|merge({
		size: 'sm',
		class: 'rz-aside__button',
		icon: 'rz-icon-ri--add-line',
		label: 'add'|trans,
	})) }}
{% endmacro %}
