{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "edit.webhook.%name%"|trans({'%name%': item}) }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global edit-item">
    {% include '@RoadizRozier/admin/head.html.twig' with {
        title: "edit.webhook.%name%"|trans({'%name%': item}),
        breadcrumb: {
            label: 'webhooks-breadcrumb',
            parent: [{
                label: 'webhooks.homepage'|trans,
                type: 'listing',
                url: path('webhooksHomePage'),
            }],
            current: item.description,
        },
    } only %}

    <article class="content content-edit">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: { id: "edit-webhook-form" }}) }}
            {{ form_widget(form) }}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#edit-webhook-form') }}
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/admin/webhooks/actionsMenu.html.twig' with {"item": item} only %}
</section>
{% endblock %}
