{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "trigger.webhook.%name%"|trans({'%name%': item}) }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global delete-item">
    {% include '@RoadizRozier/admin/head.html.twig' with {
        title: "trigger.webhook.%name%"|trans({'%name%': item}),
    } only %}
    <article class="content content-trigger content-no-action-menu">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, {
            'attr': {
                'class': 'uk-form uk-form-stacked'
            }
        }) }}{{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-warning"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.trigger.webhook{% endtrans %}</legend>
                <a href="{{ path('webhooksHomePage') }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-warning" type="submit"><i class="uk-icon-space-shuttle"></i> {% trans %}webhook.trigger{% endtrans %}</button>
            </fieldset>
        {{ form_end(form) }}
    </article>
</section>
{% endblock %}
