<td class="name">
    <a href="{{ path('webhooksEditPage', { id: item.id }) }}">
        {{- item.description|u.truncate(50) -}}
    </a>
</td>
<td>{{- item.messageType -}}</td>
<td>
    {% if item.Automatic %}
        <span data-uk-tooltip="{animation:true}"
              title="{% trans %}webhooks.automatic.help{% endtrans %}"
              class="uk-button-status"><i class="uk-icon-flag-checkered"></i></span>
    {% endif %}
</td>
<td>{{- item.lastTriggeredAt ? item.lastTriggeredAt|format_datetime(locale=app.request.locale) : 'never'|trans -}}</td>
<td class="table-actions-row">
    {% if hasBulkActions %}
        <div class="bulk-selection">
            <input class="checkbox" type="checkbox" name="bulk-selection[]" value="{{ item.id }}" />
        </div>
    {% endif %}
    <div class="uk-button-group">
        <a class="uk-button uk-button-content uk-button-small"
           href="{{ path('webhooksTriggerPage', { id: item.id }) }}"
           title="{% trans %}webhook.trigger{% endtrans %}"
           data-uk-tooltip="{animation:true}"><i class="uk-icon-space-shuttle"></i></a>
        <a class="uk-button uk-button-content uk-button-small"
           href="{{ path('webhooksEditPage', { id: item.id }) }}"
           title="{% trans %}edit{% endtrans %}"
           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
        <a class="uk-button uk-button-content uk-button-small uk-button-danger"
           href="{{ path('webhooksDeletePage', { id: item.id }) }}"
           title="{% trans %}delete{% endtrans %}"
           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-mini-o"></i></a>
    </div>
</td>
