<nav class="uk-dropdown uk-dropdown-small uk-dropdown-flip">
    <div class="vertical-nodetype">
        {% if node.Locked %} <i class="uk-icon-lock"></i>{% endif %}
        {% if not node.Visible %} <i class="uk-icon-eye-slash"></i>{% endif %}
    </div>
    <div class="uk-nav uk-nav-dropdown">
        <div class="wrapper">
            <header class="uk-nav-header">{% trans %}actions{% endtrans %}</header>
            {% if- is_granted('CREATE', node) -%}
                <a
                   title="{{ "add.node.%name%.child"|trans({'%name%': node.nodeName}) }}"
                   href="{{ path('nodesAddChildPage', { nodeId: node.id }) }}">
                    <i class="uk-icon-rz-plus"></i> {% trans %}add.a.child.node{% endtrans %}
                </a>
            {%- endif -%}
            {% if is_granted('EDIT_SETTING', node) %}
                <a title="{{ "edit.node.%name%"|trans({'%name%': node.nodeName}) }}"
                   href="{{ path('nodesEditPage', { nodeId:node.id }) }}">
                    <i class="uk-icon-rz-pencil"></i> {% trans %}edit.node{% endtrans %}
                </a>
                {%- if not node.Locked -%}
                    <button
                        type="button"
                        class="move-node-first-position smaller-text"
                        title="{% trans %}move.node.to.first.position{% endtrans %}">
                        <i class="uk-icon-arrow-up"></i> {% trans %}move.node.to.first.position{% endtrans %}
                    </button>
                    <button
                        type="button"
                        class="move-node-last-position smaller-text"
                        title="{% trans %}move.node.to.last.position{% endtrans %}">
                        <i class="uk-icon-arrow-down"></i> {% trans %}move.node.to.last.position{% endtrans %}
                    </button>
                {%- endif -%}
            {%- endif -%}
            {% if is_granted('DUPLICATE', node) %}
                <button
                    data-action="duplicate"
                    class="duplicate-node"
                    type="button"
                    title="{% trans %}node.duplicate{% endtrans %}"
                ><i class="uk-icon-rz-duplicate"></i> {% trans %}node.duplicate{% endtrans %}</button>
            {%- endif -%}

            {% if workflow_can(node, 'delete') %}
                {% set refererUrl = node.parent ? getBreadcrumbsItem(node.parent).url : null %}
                <a title="{{ "delete.node.%name%"|trans({'%name%': node.nodeName}) }}"
                   href="{{ path('nodesDeletePage', { nodeId: node.id, referer: refererUrl }) }}">
                    <i class="uk-icon-rz-trash-o"></i> {% trans %}delete.node{% endtrans %}
                </a>
            {% endif %}
        </div>
        {% if not node.locked and is_granted('EDIT_STATUS', node)%}
            <div class="wrapper node-actions">
                <header class="uk-nav-header">{% trans %}statuses{% endtrans %}</header>
                {% if node.visible %}
                    <button
                        data-action="hide"
                        data-status="visible"
                        data-value="0"
                        type="button"
                        class="hide-node"
                        title="{% trans %}node.hide{% endtrans %}"
                    ><i class="uk-icon-eye-slash"></i> {% trans %}node.hide{% endtrans %}</button>
                {% else %}
                    <button
                        data-action="show"
                        data-status="visible"
                        data-value="1"
                        type="button"
                        class="show-node"
                        title="{% trans %}node.show{% endtrans %}"
                    ><i class="uk-icon-rz-visibility-mini"></i> {% trans %}node.show{% endtrans %}</button>
                {% endif %}
                {% if not node.published and workflow_can(node, 'publish') %}
                    <button
                        data-action="publish"
                        data-status="status"
                        data-value="publish"
                        type="button"
                        class="publish-node"
                        title="{% trans %}node.publish{% endtrans %}"
                    ><i class="uk-icon-rz-published-mini"></i> {% trans %}node.publish{% endtrans %}</button>
                {% elseif node.published and workflow_can(node, 'reject') %}
                    <button
                        data-action="reject"
                        data-status="status"
                        data-value="reject"
                        type="button"
                        class="unpublish-node"
                        title="{% trans %}node.unpublish{% endtrans %}"
                    ><i class="uk-icon-rz-draft-nodes"></i> {% trans %}node.unpublish{% endtrans %}</button>
                {% endif %}
            </div>
        {% endif %}
    </div>
</nav>
