{% if nodeTree %}
    {% set nodes = nodeTree.nodes %}
    <nav class="tree-widget nodetree-widget">
        {% if mainNodeTree %}
            <div class="tree-head nodetree-head">
                <h4>
                    {% trans %}nodeTree{% endtrans %}
                    <a class="see-all-root-tree"
                       data-uk-tooltip="{animation:true}"
                       title="{% trans %}see_all{% endtrans %}"
                       href="{{ path('nodesMainTreePage', { translationId: nodeTree.translation.id }) }}">
                       <i class="rz-icon-ri--search-line"></i>
                    </a>
                </h4>

                {% import "@RoadizRozier/macros/rz_button.html.twig" as rz_button %}
                {{ rz_button.root({
                    icon: 'rz-icon-ri--add-line',
                    label: not nodeTree.rootNode ? 'add.a.node'|trans : 'add.child.node'|trans,
                    attributes: {
                        href: not nodeTree.rootNode ?
                            path('nodesAddPage', { translationId: nodeTree.translation.id })
                            : path('nodesAddChildPage', { nodeId : nodeTree.rootNode.id }),
                    }
                }) }}
            </div>
        {% endif %}
        {% if mainNodeTree %}
        <div class="tree-scroll-cont">
            <div class="tree-scroll">
            {% endif %}
                {% if nodeTree and nodeTree.availableTranslations and nodeTree.availableTranslations|length > 1 %}
                    {% include '@RoadizRozier/widgets/nodeTree/language_switcher.html.twig' %}
                {% endif %}

                {% set rootTreeClasses = [
                    'nodetree',
                    'root-tree',
                ] %}
                {% if nodeTree.canReorder %}
                    {% set rootTreeClasses = rootTreeClasses|merge(['uk-nestable']) %}
                {% endif %}
                {% if not mainNodeTree and not nodeTree.isStackTree %}
                    {% set rootTreeClasses = rootTreeClasses|merge(['children-node-widget']) %}
                {% elseif nodeTree.isStackTree %}
                    {% set rootTreeClasses = rootTreeClasses|merge(['stack-tree-widget']) %}
                {% endif %}

                <ul class="{{ rootTreeClasses|join(' ') }}"
                    data-uk-nestable="{'group':'nodeTree', handleClass:'uk-nestable-handle'}"
                    data-parent-node-id="{{ nodeTree.rootNode.id }}"
                    data-translation-id="{{ nodeTree.translation.id }}"
                    {% if linkedTypes %}data-linked-types="{{ linkedTypes|map(t => t.name)|json_encode }}"{% endif %}
                    data-page="{{ nodeTree.filters.currentPage }}"
                    {% if nodeTree.isStackTree %}data-stack-tree="1"{% endif %}
                    {% if nodeTree.tag %}data-filter-tag="{{ nodeTree.tag.id }}"{% endif %}>
                    {% for cnode in nodes %}
                        {% include '@RoadizRozier/widgets/nodeTree/singleNode.html.twig' with {
                            "node":cnode,
                            "parent":nodeTree.rootNode,
                            "nodeTree":nodeTree,
                            "mainNodeTree":mainNodeTree,
                            "level": 0,
                            'canReorder': nodeTree.canReorder,
                        } only %}
                    {% endfor %}
                </ul>
            {% if mainNodeTree %}
            </div>
        </div>
        {% endif %}
    </nav>
{% endif %}
