{% set type = getNodeType(node) %}

{% set classes = ['rz-tree__item'] %}
{% if is_last %}
    {% set classes = classes|merge(['rz-tree__item--end']) %}
{% endif %}

{% if not node.isHidingChildren and
    not type.isHidingNodes and
    not type.isHidingNonReachableNodes %}
    {# Get children using EntityListManager for more control. #}
    {% set children = nodeTree.getChildrenNodes(node, true) %}
{% elseif not node.isHidingChildren and
    not type.isHidingNodes and
    type.isHidingNonReachableNodes %}
    {# Get children using EntityListManager for more control. #}
    {% set children = nodeTree.getReachableChildrenNodes(node, true) %}
{% else %}
    {% set children = false %}
{% endif %}

{% if children|length > 0 %}
    {% set classes = classes|merge(['rz-tree__item--parent']) %}
{% endif %}

{% if nodeTree.isStackTree and node.tags|length %}
    {% set classes = classes|merge(['has-tag']) %}
{% endif %}

{% if node.isLocked %}
    {% set classes = classes|merge(['rz-tree__item--locked']) %}
{% endif %}

{% set innerClasses = ['rz-tree__item__node'] %}
{% if not node.isVisible %}
    {% set innerClasses = innerClasses|merge(['rz-tree__item__node--not-visible']) %}
{% endif %}

    <li
        style="--rz-node-icon-background: {{ type.color }};"
        data-entity-id="{{ node.id }}"
        class="{{ classes|join(' ') }}"
        {% if node.isHidingChildren %}data-hiding-children="true"{% endif %}
        {% if not node.isVisible %}data-visible="false"{% endif %}
>
    <div
        class="{{ innerClasses|join(' ') }}"
        role="treeitem"
    >
        {% set icon_class = node.isPublished ? 'rz-icon-rz--status-published-fill' : 'rz-icon-rz--status-draft-fill' %}
        {% set source = node.nodeSource|default(node.nodeSources.first) %}
        {% if type.isPublishable and source.publishedAt %}
            {% set icon_class = source.publishedAt > date() ? 'rz-icon-ri--history-line' : 'rz-icon-rz--status-published-fill' %}
        {% endif %}
        {% if node.isHome %}
            {% set icon_class = node.isPublished ? 'rz-icon-ri--home-2-fill' : 'rz-icon-ri--home-draft-2-fill' %}
        {% endif %}

        {% embed '@RoadizRozier/widgets/rz_tree_item_inner.html.twig' with {
            item: node,
            has_children: children is defined and children|length > 0,
            icon_class: icon_class,
            can_reorder: canReorder and not node.isLocked,
            has_selection: nodeTree.isStackTree,
            nodeTree: nodeTree,
            isMainTree: isMainTree
        } only %}
            {% block icon_content %}
                {%- if not isMainTree and not nodeTree.isStackTree -%}
                    <rz-entity-thumbnail
                        class="nodetree-element-img rz-node-icon__thumbnail"
                        entity-class="RZ\Roadiz\CoreBundle\Entity\Node"
                        entity-id="{{ item.id }}"
                    ></rz-entity-thumbnail>
                {% endif %}
            {% endblock %}

            {% block label %}
                {% set node_label = '' %}
                {% set source = item.nodeSource|default(item.nodeSources.first) %}
                {% if source.title %}
                    {% set node_label = source.title|replace({'${':'--'}) %} {# Remove VueJS placeholder marks #}
                {% else %}
                    {% set node_label = item.nodeName|replace({'${':'--'}) %} {# Remove VueJS placeholder marks #}
                {% endif %}

                {% set node_href = null %}
                {% if node.isHidingChildren %}
                    {% set node_href = path('nodesTreePage', {
                        nodeId: item.id,
                        translationId: nodeTree.translation.id
                    }) %}
                {% else %}
                    {% set node_href = path('nodesEditSourcePage', {
                        nodeId: item.id,
                        translationId: nodeTree.translation.id,
                        referer: parent ? path('nodesEditSourcePage', {
                            nodeId: parent.id,
                            translationId: nodeTree.translation.id,
                        }) : null  })
                    %}
                {% endif %}

                {% if node_href is not null %}
                    <a href="{{ node_href }}" title="{{ node_label }}">{{- node_label -}}</a>
                {% else %}
                    {{- node_label -}}
                {% endif %}
            {% endblock %}


            {% block before_actions %}
                {% if nodeTree.isStackTree %}
                    {% set tags = nodeTree.getTags(item) %}
                    {% if tags|length %}
                        <div class="rz-tree__item__tags">
                            {% for tag in tags %}
                                {% import "@RoadizRozier/macros/rz_badge.html.twig" as rz_badge %}
                                {% set label = tag.name|default(tag.tagName) %}
                                {{ rz_badge.item({
                                    label: label|truncate_title(12, '...'),
                                    size: 'sm',
                                    color: 'default',
                                    attributes: {
                                        href: '?tagId=' ~ tag.id,
                                        title: label,
                                    }
                                }) }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endblock %}


            {% block contextual_menu %}
                {% set contextual_id = 'node-contextual-menu-' ~ (isMainTree ? 'main-' : '') ~ item.id %}
                <rz-node-tree-contextual-menu
                    class="rz-node-contextual-menu"
                    data-contextual-menu-path="{{ path('nodeContextualMenu', {
                        node: item.id,
                        translation: nodeTree.translation.id
                    }) }}"
                    data-node-id="{{ item.id }}"
                    data-node-status-path="{{ path('nodesStatusesAjax') }}"
                    data-node-duplicate-path="{{ path('nodesDuplicateAjax') }}"
                    data-node-paste-path="{{ path('nodesPasteAjax') }}"
                    data-node-copied-trans="{{ 'node.copied_to_clipboard'|trans }}"
                    data-node-edit-position-path="{{ path('nodesPositionAjax') }}"
                    popover-placement="bottom-end"
                    id="{{ contextual_id }}"
                >
                    {% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}
                    {{ rz_button.root({
                        icon: 'rz-icon-ri--more-line',
                        size: 'sm',
                        emphasis: 'tertiary',
                        class: 'tree-contextualmenu-button',
                        attributes: {
                            'aria-label': 'show.actions'|trans,
                            popovertarget: contextual_id ~ '-popover',
                            type: 'button',
                        }
                    })}}
                </rz-node-tree-contextual-menu>
            {% endblock %}
        {% endembed %}
    </div>

    {% set subListClasses = ['rz-tree__list'] %}
    {% if node.isHidingChildren or type.isHidingNodes or not children or children|length == 0 %}
        {% set subListClasses = subListClasses|merge(['empty']) %}
    {% endif %}

    {%- if children and children|length > 0 -%}
        <ul
            class="{{ subListClasses|join(' ') }}"
            data-parent-id="{{ node.id }}"
            role="group"
        >
            {% for subNode in children %}
                {% include '@RoadizRozier/widgets/nodeTree/singleNode.html.twig' with {
                    "node":subNode,
                    "parent":node,
                    "nodeTree":nodeTree,
                    "isMainTree": isMainTree,
                    "level": level + 1,
                    'canReorder': (node.childrenOrder == 'position'),
                    'is_last': loop.last,
                } only %}
            {% endfor %}
        </ul>
    {%- endif -%}
</li>
