<nav data-roadiz-rozier-bundle data-action-menu class="actions-menu uk-navbar">
    {% if node %}
        {% set canPublish = workflow_can(node, 'publish') %}
        {% if not readOnly and is_granted('DELETE', node) %}
            {% set canDelete = workflow_can(node, 'delete') %}
            {# Delete current node #}
            {% if workflow_can(node, 'undelete') %}
                <a role="button" tabindex="0" class="uk-button uk-button-danger" href="{{ path('nodesUndeletePage', { nodeId: node.getId}) }}">
                    <span class="icon-container"><i class="uk-icon-rz-untrash"></i></span>
                    <span class="label"><span class="label-text">{% trans %}undelete{% endtrans %}</span></span>
                </a>
            {% endif %}
            {% if canDelete and (node.nodeSources|length == 1 or source.translation.defaultTranslation)  %}
                <a role="button" tabindex="0" class="uk-button uk-button-danger" href="{{ path('nodesDeletePage', {
                    nodeId: node.getId,
                    referer: node.parent ? getBreadcrumbsItem(node.parent).url : null
                }) }}">
                    <span class="icon-container"><i class="uk-icon-rz-trash"></i></span>
                    <span class="label"><span class="label-text">{% trans %}delete.node{% endtrans %}</span></span>
                </a>
            {% endif %}
            {% if canDelete and node.nodeSources|length > 1 and source %}
                <a role="button" tabindex="0" class="uk-button uk-button-danger" href="{{ path('nodesDeleteSourcePage', { nodeSourceId: source.id}) }}">
                    <span class="icon-container"><i class="uk-icon-flag"></i></span>
                    <span class="label"><span class="label-text">{% trans %}delete.translation{% endtrans %}</span></span>
                </a>
            {% endif %}
        {% endif %}

        {% if versions and versions|length > 1 %}
            <div role="button" tabindex="0" class="node-actions with-subnav mobile-hidden">
                <header><i class="uk-icon-code-fork"></i><span class="label"><span class="label-text">{% trans %}versions{% endtrans %}</span></span></header>
                <nav class="versions-nav">
                    <a class="uk-button{% if not currentVersion %} uk-active{% endif %}" href="{{ path('nodesEditSourcePage', {
                        nodeId: node.id,
                        translationId: translation.id
                    }) }}">{% trans %}versions.working_copy{% endtrans %}</a>
                    {% for version in versions %}
                        {% if loop.index0 > 0 and loop.index <= max_versions_showed %}
                            {% include '@RoadizRozier/widgets/versionItem.html.twig' with {
                                version: version,
                                currentVersion: currentVersion,
                                url: path('nodesEditSourcePage', {
                                    nodeId: node.id,
                                    translationId: translation.id,
                                    version: version.version
                                })
                            } only %}
                        {% endif %}
                    {% endfor %}
                </nav>
            </div>
        {% endif %}

        {% if not node.isDeleted %}
            {#
            # Node actions
            #}
            <div role="button" tabindex="0" class="node-actions with-subnav">
                <header><i class="uk-icon-rz-actions"></i><span class="label"><span class="label-text">{% trans %}actions{% endtrans %}</span></span></header>
                <nav>
                    {% block node_public_urls %}
                        {# Only add preview/see button for Reachable node-types #}
                        {% if source and source.Reachable %}
                            {% if node.published %}
                                <a class="uk-button public-url-link"
                                   target="_blank"
                                   href="{{ path('nodesSourcesPublicRedirect', {
                                       'nodeSourceId': source.id,
                                   }) }}">
                                    <i class="uk-icon-rz-visibility"></i>
                                    <span class="label">{% trans %}see.page{% endtrans %}</span>
                                </a>
                            {% endif %}
                            {% if node.published or node.draft or node.pending %}
                                <a class="uk-button preview-url-link"
                                   target="_blank"
                                   href="{{ path('nodesSourcesPreviewRedirect', {
                                       'nodeSourceId': source.id,
                                   }) }}">
                                    <i class="uk-icon-rz-visibility"></i>
                                    <span class="label">{% trans %}preview.page{% endtrans %}</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endblock %}

                    {% if not node.isLocked %}
                        {% if is_granted('DUPLICATE', node) %}
                            <a
                                class="uk-button rz-no-ajax-link"
                                href="{{ path('nodesDuplicatePage', { nodeId:node.getId }) }}"
                            >
                                <i class="uk-icon-rz-duplicate"></i><span class="label">{% trans %}duplicate{% endtrans %}</span>
                            </a>
                        {% endif %}
                        {% if is_granted('EDIT_SETTING', node) %}
                            <a
                                class="uk-button"
                                href="{{ path('nodesTranstypePage', { nodeId:node.getId }) }}"
                            ><i class="uk-icon-bolt"></i><span class="label">{% trans %}transtype{% endtrans %}</span></a>
                        {% endif %}
                    {% endif %}

                    {% if canPublish %}
                        <a class="uk-button publish-all-node" title="{% trans %}publish_node_offspring{% endtrans %}" href="{{ path('nodesPublishAllAction', {nodeId : node.id}) }}"><i class="uk-icon-rz-published-mini"></i><span class="label">{% trans %}publish_node_offspring{% endtrans %}</span></a>
                    {% endif %}

                    {% block node_add_child %}
                        <a
                            class="uk-button"
                            href="{{ path('nodesAddChildPage', { nodeId: node.getId }) }}"
                        ><i class="uk-icon-rz-plus"></i><span class="label">{% trans %}add.child{% endtrans %}</span></a>
                    {% endblock %}
                    {% block node_export %}
                        {% if node.hidingChildren and translation %}
                            <a
                                class="uk-button rz-no-ajax-link"
                                href="{{ path('nodesExportNodeCsvPage', {parentNodeId: node.id, translationId:translation.id}) }}"
                            >
                                <i class="uk-icon-file-excel-o"></i>
                                <span class="label">{{ 'export_format.csv.%language%'|trans({'%language%':translation.name }) }}</span>
                            </a>
                        {% endif %}
                    {% endblock %}
                </nav>
            </div>
            {#
            # Node statuses
            #}
            <div role="button" tabindex="0" class="node-statuses node-status with-subnav uk-form">
                {% if node.isDraft %}
                    {% set iconClass = 'uk-icon-rz-draft-nodes' %}
                {% elseif node.isPending %}
                    {% set iconClass = 'uk-icon-rz-pending-nodes' %}
                {% elseif node.isPublished %}
                    {% set iconClass = 'uk-icon-rz-published' %}
                {% elseif node.isArchived %}
                    {% set iconClass = 'uk-icon-rz-archive-mini' %}
                {% endif %}

                <header><i class="{{ iconClass }}"></i><span class="label"><span class="label-text">{% trans %}statuses{% endtrans %}</span></span></header>
                <ul class="node-statuses-list">
                    {% if workflow_can(node, 'reject') or node.isDraft %}
                        <li class="node-statuses-item node-draft">
                            <i class="uk-icon-rz-draft-nodes"></i>
                            <span class="label">{% trans %}draft{% endtrans %}</span>
                            <input data-node-id="{{ node.getId }}"
                                   type="radio"
                                   name="status"
                                   value="reject"
                                   {% if node.isDraft %}checked{% endif %} />
                        </li>
                    {% endif %}
                    {% if workflow_can(node, 'unarchive') %}
                        <li class="node-statuses-item node-draft">
                            <i class="uk-icon-rz-draft-nodes"></i>
                            <span class="label">{% trans %}draft{% endtrans %}</span>
                            <input data-node-id="{{ node.getId }}"
                                   type="radio"
                                   name="status"
                                   value="unarchive"
                                   {% if node.isDraft %}checked{% endif %} />
                        </li>
                    {% endif %}
                    {% if workflow_can(node, 'review') or node.isPending %}
                        <li class="node-statuses-item node-pending">
                            <i class="uk-icon-rz-pending-nodes"></i>
                            <span class="label">{% trans %}pending{% endtrans %}</span>
                            <input data-node-id="{{ node.getId }}"
                                   type="radio"
                                   name="status"
                                   value="review"
                                   {% if node.isPending %}checked{% endif %} />
                        </li>
                    {% endif %}
                    {% if canPublish or node.isPublished %}
                        <li class="node-statuses-item node-published">
                            <i class="uk-icon-rz-published"></i>
                            <span class="label">{% trans %}published{% endtrans %}</span>
                            <input data-node-id="{{ node.getId }}"
                                   type="radio"
                                   name="status"
                                   value="publish"
                                   {% if node.isPublished %}checked{% endif %} />
                        </li>
                    {% endif %}
                    {% if workflow_can(node, 'archive') or node.isArchived %}
                        <li class="node-statuses-item node-archived">
                            <i class="uk-icon-rz-archive-mini"></i>
                            <span class="label">{% trans %}archived{% endtrans %}</span>
                            <input data-node-id="{{ node.getId }}"
                                   type="radio"
                                   name="status"
                                   value="archive"
                                   {% if node.isArchived %}checked{% endif %} />
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
</nav>
