{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}add.a.node{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
    {% set title = 'add.a.node'|trans %}
    {% if parentNode is defined and parentNode.nodeName %}
        {% set subtitle = 'In'|trans ~ ' ' ~ parentNode.nodeName %}
    {% endif %}
    {% include '@RoadizRozier/nodes/head.html.twig' with {
        title: title,
        subtitle: subtitle,
        breadcrumb: {
            label: 'nodes-breadcrumb'|trans,
            parent: [
                {
                    label: 'all.nodes'|trans,
                    type: 'listing',
                    url: path('nodesHomePage'),
                },
                (parentNode is defined and parentNode.nodeName) ? {
                    label: parentNode.nodeName,
                    type: 'node',
                    url: path('nodesEditPage', {'nodeId': parentNode.id}),
                } : null
            ],
            current: title,
        },
    } only %}

    <section class="rz-page__body">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, {
            'attr': {
                'id': 'add-node-form',
                'class': 'uk-form uk-form-stacked'
            }
        }) }}
        {{ form_widget(form) }}
        {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
        {{ actions_menu.saveItem('#add-node-form') }}
        {{ form_end(form) }}
    </section>
    {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
{% endblock %}
