{% embed "@RoadizRozier/widgets/rz_bulk_actions.html.twig" %}
    {% import "@RoadizRozier/macros/rz_button.html.twig" as rz_button %}

    {% set tags_panel_id = "nodes-bulk-folder-form-cont" %}
    {% set status_panel_id = "nodes-bulk-status-form-cont" %}

    {% block other_actions %}
        {% if (routeName !== 'nodesHomeDeletedPage') %}
            {{
                rz_button.root({
                    attributes: {
                        type: 'button',
                        title: "link.tags"|trans,
                        'data-tab-controls': tags_panel_id,
                        'data-tab-panel-active-class': 'rz-bulk-actions__group--visible',
                        'data-tab-active-class': 'rz-button--selected',
                    },
                    emphasis: 'primary',
                    icon: 'rz-icon-ri--price-tag-3-line',
                })
            }}
            {{
                rz_button.root({
                    attributes: {
                        type: 'button',
                        title: "nodes.status"|trans,
                        "data-tab-controls": status_panel_id,
                        'data-tab-panel-active-class': 'rz-bulk-actions__group--visible',
                        'data-tab-active-class': 'rz-button--selected',
                    },
                    emphasis: 'primary',
                    icon: 'rz-icon-ri--flag-line',
                })
            }}
        {% endif %}
    {% endblock %}

        {% block delete_form %}
            {% if (routeName == 'nodesHomeDeletedPage') %}
                <form
                    class="rz-bulk-actions__form-button"
                    action="{{ undelete_form_action }}"
                    method="POST"
                >
                    {% form_theme undelete_form_data '@RoadizRozier/forms.html.twig' %}
                    {{ form_widget(undelete_form_data) }}
                    {{ rz_button.root({
                        attributes: {
                            type: 'submit',
                            title: title
                        },
                        color: 'danger',
                        emphasis: 'primary',
                        icon: 'rz-icon-ri--device-recover-line',
                    }) }}
                </form>
            {% else %}
                {{ parent() }}
            {% endif %}
        {%  endblock %}

    {% block panels %}
        {% if tagNodesForm %}
            <tag-autocomplete
                id="{{ tags_panel_id }}"
                class="rz-bulk-actions__group"
                data-search-path="{{ path('tagAjaxSearch') }}"
                data-csrf-token="{{ csrf_token(constant('RZ\\Roadiz\\RozierBundle\\Controller\\Ajax\\AbstractAjaxController::AJAX_TOKEN_INTENTION')) }}"
            >
                {% form_theme tagNodesForm '@RoadizRozier/forms.html.twig' %}
                {{ form_start(tagNodesForm) }}
                {{ form_widget(tagNodesForm) }}
                {{ form_end(tagNodesForm) }}
            </tag-autocomplete>
        {% endif %}
        {% if statusNodesForm %}
            <div
                id="{{ status_panel_id }}"
                class="rz-bulk-actions__group"
            >
                {% form_theme statusNodesForm '@RoadizRozier/forms.html.twig' %}
                <form
                    class="rz-form rz-form--horizontal"
                    action="{{ path('nodesBulkStatusPage') }}"
                    method="get"
                >
                    {{ form_widget(statusNodesForm) }}
                    {{
                        rz_button.root({
                            attributes: {
                                type: 'submit',
                                title: "change.nodes.status"|trans,
                            },
                            emphasis: 'primary',
                            color: 'success',
                            icon: 'rz-icon-ri--save-line',
                        })
                    }}
                </form>
            </div>
        {% endif %}
    {% endblock %}
{% endembed %}
