{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}leave.realm{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global">
    <header class="content-header header-node header-node-delete">
        <h1 class="content-title node-delete-title">{% trans %}leave.realm{% endtrans %}</h1>
        <p>{{ source.title }}{{ realmNode.realm ? ' – ' ~ realmNode.realm.name : '' }}</p>
        {% include '@RoadizRozier/nodes/navBack.html.twig' %}
    </header>
    <article class="content content-delete content-node-delete content-no-action-menu">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, {
            'attr': {
                'class': 'uk-form uk-form-stacked'
            }
        }) }}{{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.leave.realm{% endtrans %}</legend>
                <a href="{{ path('nodesRealmsPage', {id: node.id}) }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-danger" type="submit"><i class="uk-icon-rz-trash-o"></i> {% trans %}delete{% endtrans %}</button>
            </fieldset>
        {{ form_end(form) }}
    </article>
</section>
{% endblock %}
