{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "duplicate.node.%name%"|trans({'%name%': node.nodeName})|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="content-global">
        {% include '@RoadizRozier/nodes/head.html.twig' with {
            title: "duplicate.node"|trans,
            subtitle: node.nodeName,
        } only %}
        <article class="content content-no-action-menu">
            {% form_theme form '@RoadizRozier/forms.html.twig' %}
            {{ form_start(form, {
                'attr': {
                    'class': 'uk-form uk-form-stacked'
                }
            }) }}{{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-warning"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.duplicate.node{% endtrans %}</legend>
                <a href="{{ path('nodesEditPage', {nodeId: node.getId}) }}" class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                <button class="uk-button uk-button-warning" type="submit"><i class="uk-icon-copy"></i> {% trans %}duplicate{% endtrans %}</button>
            </fieldset>
            {{ form_end(form) }}
        </article>
    </section>
{% endblock %}
