{% set currentTitle = source.title|default(node.nodeName) %}

{% extends '@RoadizRozier/layout.html.twig' %}
{% import "@RoadizRozier/macros/rz_status_badge.html.twig" as rz_status_badge %}

{% block title %}{{ "edit.node.%name%.seo"|trans({'%name%': currentTitle})|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/nodes/head.html.twig' with {
        node: node,
        title: "edit.node.%name%.seo"|trans({'%name%': currentTitle})|truncate_title,
        translation: translation,
        available_translations: available_translations,
        current: 'seo',
        app: app,
        with_debug_badge: true,
        with_info_badge: true,
        with_status_badge: true,
        with_nav_bar: true,
    } only %}

    <article class="content content-node-edit-seo">
        {% if seoForm %}
            <h2 class="content-subtitle">{% trans %}edit.node.seo{% endtrans %}</h2>
            {% form_theme seoForm '@RoadizRozier/forms.html.twig' %}
            <form id="edit-seo-form" class="uk-form uk-form-stacked" action="#" method="post">
                {{ form_widget(seoForm) }}
                {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
                {{ actions_menu.saveItem('#edit-seo-form') }}
            </form>
            <hr />
        {% endif %}

        <h2 id="manage-aliases" class="content-subtitle">{% trans %}urlAlias{% endtrans %}</h2>
        <p class="form-row-desc">{% trans %}nodeSource.urlAlias.help{% endtrans %}</p>

        <div class="content-table-cont">
            <table class="aliases content-table uk-table">
                <thead>
                    <tr>
                        <th>{% trans %}urlAlias{% endtrans %}</th>
                        <th>{% trans %}translation{% endtrans %}</th>
                        <th>{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if form %}
                        <tr>
                            <td colspan="3">
                                {% form_theme form '@RoadizRozier/horizontalForms.html.twig' %}
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button class="uk-button uk-button-primary" type="submit">
                                    <i class="uk-icon-rz-plus"></i> {% trans %}add.urlAlias{% endtrans %}
                                </button>
                                {{ form_end(form) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% for urlAlias in aliases %}
                        {% include '@RoadizRozier/url-aliases/editRow.html.twig' with {
                            'urlAlias': urlAlias
                        } %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />

        <h2 id="manage-redirections" class="content-subtitle">{% trans %}manage.redirections{% endtrans %}</h2>
        <p class="form-row-desc">{% trans %}nodeSource.redirections.help{% endtrans %}</p>

        <div class="content-table-cont">
            <table class="redirections content-table uk-table">
                <thead>
                <tr>
                    <th>{% trans %}redirection.query{% endtrans %}</th>
                    <th>{% trans %}redirection.redirect_uri{% endtrans %}</th>
                    <th>{% trans %}translation{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% if addRedirection %}
                    <tr>
                        <td colspan="4">
                            {% form_theme addRedirection '@RoadizRozier/horizontalForms.html.twig' %}
                            {{ form_start(addRedirection) }}
                            {{ form_widget(addRedirection) }}
                            <button class="uk-button uk-button-primary" type="submit">
                                <i class="uk-icon-rz-plus"></i> {% trans %}add.a.redirection{% endtrans %}
                            </button>
                            {{ form_end(addRedirection) }}
                        </td>
                    </tr>
                {% endif %}
                {% for redirection in redirections %}
                    {% include '@RoadizRozier/redirections/editRow.html.twig' with {
                        'redirection': redirection
                    } %}
                {% else %}
                    <tr><td colspan="4">{% trans %}no_redirection_found{% endtrans %}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>

    {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
