{% set currentTitle = source.title|default(node.nodeName) %}

{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "edit.node.%name%.seo"|trans({'%name%': currentTitle})|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
    {% include '@RoadizRozier/nodes/head.html.twig' with {
        node: node,
        title: "edit.node.%name%.seo"|trans({'%name%': currentTitle})|truncate_title,
        translation: translation,
        available_translations: available_translations,
        current: 'seo',
        app: app,
        with_debug_badge: true,
        with_info_badge: true,
        with_status_badge: true,
        with_nav_bar: true,
        source: source,
        route: 'nodesEditSEOPage',
    } only %}

    <section class="rz-page__body">
        {% if seoForm %}
            <h2 class="text-h1-sm">{% trans %}edit.node.seo{% endtrans %}</h2>

            {% form_theme seoForm '@RoadizRozier/forms.html.twig' %}
            {{ form_start(seoForm, { action: '#' }) }}
                {{ form_widget(seoForm, {'attr': { 'class': 'rz-form__field-list' }}) }}
                {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
                {{ actions_menu.saveItem('#' ~ field_id(seoForm)) }}
            {{ form_end(seoForm) }}
            <hr />
        {% endif %}

        <h2 id="manage-aliases" class="text-h1-sm">{% trans %}urlAlias{% endtrans %}</h2>
        <p class="text-body-md">{% trans %}nodeSource.urlAlias.help{% endtrans %}</p>

        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            selection_available: false,
            actions_available: true,
        } %}
            {% block thead_cells %}
                <th>{% trans %}urlAlias{% endtrans %}</th>
                <th>{% trans %}translation{% endtrans %}</th>
            {% endblock %}

            {% block tbody_content %}
                {% for urlAlias in aliases %}
                    {% include '@RoadizRozier/url-aliases/editRow.html.twig' with {
                        'urlAlias': urlAlias
                    } %}
                {% else %}
                    {{ _self.fallback_row({
                        length: 2,
                        selection_available: selection_available,
                        actions_available: actions_available,
                        message: 'no_alias_found',
                    }) }}
                {% endfor %}
            {% endblock %}

            {% block tfoot_content %}
                {% if form %}
                        <tr>
                            <td>
                                {% form_theme form '@RoadizRozier/forms.html.twig' %}
                                {{ form_start(form) }}
                                    {{ form_row(form.alias) }}
                                {{ form_end(form, { render_rest: false }) }}
                            </td>
                            <td>
                                {{ form_row(form.translation, { attr: { form: field_id(form) }}) }}
                                {{ form_row(form._token, { attr: { form: field_id(form) }}) }}
                            </td>
                            <td class="rz-table__cell--align-right">
                                {% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}
                                {{ rz_button.root({
                                    icon: 'rz-icon-ri--add-large-line',
                                    emphasis: 'primary',
                                    label: 'add.urlAlias'|trans,
                                    attributes: {
                                        type: 'submit',
                                        form: field_id(form),
                                    }
                                }) }}
                            </td>
                        </tr>
                {% endif %}
            {% endblock %}
        {% endembed %}

        <hr />

        <h2 id="manage-redirections" class="text-h1-sm">{% trans %}manage.redirections{% endtrans %}</h2>
        <p class="text-body-md">{% trans %}nodeSource.redirections.help{% endtrans %}</p>

        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            actions_available: true,
            filters: filters,
            redirections: redirections,
        } %}
            {% block thead_cells %}
                <th>{% trans %}redirection.query{% endtrans %}</th>
                <th>{% trans %}redirection.redirect_uri{% endtrans %}</th>
                <th>{% trans %}translation{% endtrans %}</th>
            {% endblock %}
            {% block tbody_content %}
                {% for redirection in redirections %}
                    {% include '@RoadizRozier/redirections/editRow.html.twig' with {
                        redirection: redirection
                    } %}
                {% else %}
                    {{ _self.fallback_row({
                        length: 4,
                        selection_available: selection_available,
                        actions_available: actions_available,
                        message: 'no_redirection_found',
                    }) }}
                {% endfor %}
            {% endblock %}

            {% block tfoot_content %}
                {% if addRedirection %}
                    <tr>
                        <td>
                            {% form_theme addRedirection '@RoadizRozier/forms.html.twig' %}
                            {{ form_start(addRedirection) }}
                                {{ form_widget(addRedirection) }}
                            {{ form_end(addRedirection) }}
                        </td>
                         <td></td>
                         <td></td>
                        <td class="rz-table__cell--align-right">
                            {% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}
                            {{ rz_button.root({
                                icon: 'rz-icon-ri--add-large-line',
                                emphasis: 'primary',
                                label: 'add.a.redirection'|trans,
                                attributes: {
                                    type: 'submit',
                                    form: field_id(addRedirection),
                                }
                            }) }}
                        </td>
                    </tr>
                {% endif %}
            {% endblock %}
        {% endembed %}
    </section>

    {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
{% endblock %}
