{% set currentTitle = source.title|default(node.nodeName) %}

{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "edit.node.%name%.seo"|trans({'%name%': currentTitle})|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/nodes/head.html.twig' with {
        node: node,
        title: "edit.node.%name%.seo"|trans({'%name%': currentTitle})|truncate_title,
        translation: translation,
        available_translations: available_translations,
        current: 'seo',
        app: app,
        with_debug_badge: true,
        with_info_badge: true,
        with_status_badge: true,
        with_nav_bar: true,
    } only %}

    <article class="content content-node-edit-seo">
        {% if seoForm %}
            <h2 class="content-subtitle">{% trans %}edit.node.seo{% endtrans %}</h2>
            <form id="edit-seo-form" class="rz-form" action="#" method="post">
                {% form_theme seoForm '@RoadizRozier/forms.html.twig' %}
                {{ form_widget(seoForm) }}
                {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
                {{ actions_menu.saveItem('#edit-seo-form') }}
            </form>
            <hr />
        {% endif %}

        <h2 id="manage-aliases" class="content-subtitle">{% trans %}urlAlias{% endtrans %}</h2>
        <p class="text-body-md">{% trans %}nodeSource.urlAlias.help{% endtrans %}</p>

        {% if form %}
            {% form_theme form '@RoadizRozier/horizontalForms.html.twig' %}
            {{ form_start(form, { 'attr': { 'class': 'rz-form--align-end' }}) }}
            {{ form_widget(form) }}
            {% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}
            {{ rz_button.root({
                icon: 'rz-icon-ri--add-large-line',
                emphasis: 'primary',
                label: 'add.urlAlias'|trans,
                attributes: {
                    type: 'submit',
                }
            }) }}
            {{ form_end(form) }}
        {% endif %}

        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            actions_available: true,
        } %}
            {% block thead_cells %}
                <th>{% trans %}urlAlias{% endtrans %}</th>
                <th>{% trans %}translation{% endtrans %}</th>
            {% endblock %}
            {% block tbody_content %}
                {% for urlAlias in aliases %}
                    {% include '@RoadizRozier/url-aliases/editRow.html.twig' with {
                        'urlAlias': urlAlias
                    } %}
                {% else %}
                    <tr>
                        <td colspan="3">{% trans %}no_alias_found{% endtrans %}</td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}

        <hr />

        <h2 id="manage-redirections" class="content-subtitle">{% trans %}manage.redirections{% endtrans %}</h2>
        <p class="text-body-md">{% trans %}nodeSource.redirections.help{% endtrans %}</p>

        {% if addRedirection %}
            {% form_theme addRedirection '@RoadizRozier/horizontalForms.html.twig' %}
            {{ form_start(addRedirection, { attr: { class: 'rz-form--align-end' }}) }}
            {{ form_widget(addRedirection) }}
            {% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}
            {{ rz_button.root({
                icon: 'rz-icon-ri--add-large-line',
                emphasis: 'primary',
                label: 'add.a.redirection'|trans,
                attributes: {
                    type: 'submit',
                }
            }) }}
            {{ form_end(addRedirection) }}
        {% endif %}


        {% include '@RoadizRozier/nodes/redirection_table.html.twig' with {
            actions_available: true,
            redirections: redirections
        } %}
    </article>

    {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
