{% set currentTitle = source.title|default(node.nodeName) %}

{% extends '@RoadizRozier/layout.html.twig' %}
{% import "@RoadizRozier/macros/rz_badge.html.twig" as rz_badge %}
{% import "@RoadizRozier/macros/rz_page_header.html.twig" as page_header %}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/nodes/head.html.twig' with {
        node: node,
        title: ("edit.nodeSource.%name%"|trans({'%name%': currentTitle}))|u.truncate(30, '[…]', false),
        translation: translation,
        available_translations: available_translations,
        current: 'source',
        app: app,
        with_debug_badge: true,
        with_info_badge: true,
        with_status_badge: true,
        with_nav_bar: true,
        source: source,
    } only %}

    <div class="content content-node-edit-source">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: 'edit-node-source-form'}}) }}
            {% set groups = {} %}
            {% for child in form %}
                {% if child.vars.name != 'base' %}
                    {% set gCanon = child.vars.attr['data-field-group-canonical']|default('default') %}
                    {% set gLabel = child.vars.attr['data-field-group']|default('default') %}
                    {% if groups[gCanon] is not defined %}
                        {% set groups = groups|merge({
                            (gCanon): {
                                'label': gLabel,
                                'fields': [child]
                            }
                        }) %}
                    {% else %}
                        {% set groups = groups|merge({
                            (gCanon): {
                                'label': groups[gCanon].label,
                                'fields': groups[gCanon].fields|merge([child])
                            }
                        }) %}
                    {% endif %}
                {% else %}
                    {{ form_row(child) }}
                {% endif %}
            {% endfor %}

            {% set defaultGroup = groups['default']|default(null) %}
            {% set orderedGroups = [] %}
            {% for code, data in groups %}
                {% if code != 'default' %}
                    {% set orderedGroups = orderedGroups|merge([{ 'code': code, 'data': data }]) %}
                {% endif %}
            {% endfor %}
            {% if defaultGroup %}
                {% set orderedGroups = [{ 'code': 'default', 'data': defaultGroup }] |merge(orderedGroups) %}
            {% endif %}

            {% if orderedGroups|length > 1 %}
            <rz-tablist class="rz-tablist">
                {% for g in orderedGroups %}
                    {% set code = g.code %}
                    {% set data = g.data %}
                    {% set safeCode = code|replace({' ':'-', '_':'-'})|lower %}
                    {% set tabId = 'tab-' ~ safeCode %}
                    {% set panelId = 'group-' ~ safeCode %}
                    <button type="button" id="{{ tabId }}" role="tab"
                            class="rz-tablist__item"
                            aria-controls="{{ panelId }}"{% if loop.first %} aria-selected="true"{% endif %}>
                        {% if code == 'default' %}
                            <span class="rz-icon-ri--star-line"></span>
                        {% else %}
                            {{ data.label|trans }}
                        {% endif %}
                    </button>
                {% endfor %}
            </rz-tablist>
            {% endif %}

            {% for g in orderedGroups %}
                {% set code = g.code %}
                {% set data = g.data %}
                {% set safeCode = code|replace({' ':'-', '_':'-'})|lower %}
                {% set tabId = 'tab-' ~ safeCode %}
                {% set panelId = 'group-' ~ safeCode %}
                {% if orderedGroups|length > 1 %}
                    <div role="tabpanel"
                        aria-labelledby="{{ tabId }}"
                        id="{{ panelId }}"
                        class="rz-tabpanel rz-form__field-list"
                        {% if not loop.first %}hidden{% endif %}
                    >
                {% endif %}
                {% for fieldView in data.fields %}
                    {{ form_row(fieldView) }}
                {% endfor %}
                {% if orderedGroups|length > 1 %}
                    </div>
                {% endif %}
            {% endfor %}
        {% if not readOnly %}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#edit-node-source-form') }}
        {% endif %}
        {{ form_end(form) }}
    </div>

    {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
