{% set currentTitle = source.title|default(node.nodeName) %}

{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "edit.node.%name%.seo"|trans({'%name%': currentTitle})|u.truncate(25, '[…]', true) }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global">
    <header class="content-header header-node header-node-edit-seo">
        {% include '@RoadizRozier/nodes/breadcrumb.html.twig' with {
            "node": node,
            "source": source,
        } only %}
        <h1 class="content-title node-edit-seo-title">
            {{ "edit.node.%name%.seo"|trans({'%name%': currentTitle})|u.truncate(25, '[…]', true) }}
           {% include '@RoadizRozier/nodes/nodeTypeCircle.html.twig' %}
        </h1>
        {% include '@RoadizRozier/nodes/navBack.html.twig' %}
        {% include '@RoadizRozier/nodes/navBar.html.twig' with {"current": 'seo'} %}
        {% include '@RoadizRozier/nodes/translationSEOBar.html.twig' with {"current": translation.getId} %}
    </header>

    <article class="content content-node-edit-seo">
        {% if seoForm %}
            <h2 class="content-subtitle">{% trans %}edit.node.seo{% endtrans %}</h2>
            {% form_theme seoForm '@RoadizRozier/forms.html.twig' %}
            <form id="edit-seo-form" class="uk-form uk-form-stacked" action="#" method="post">
                {{ form_widget(seoForm) }}
                <fieldset data-uk-margin>
                    <button is="rz-save-button" data-action-save="#edit-seo-form" class="uk-button uk-button-success" type="submit">
                        <span class="icon-container"><i class="uk-icon-rz-save-mini"></i></span>
                        <span class="label"><span class="label-text">{% trans %}save{% endtrans %}</span></span>
                    </button>
                </fieldset>
            </form>
            <hr />
        {% endif %}

        <h2 id="manage-aliases" class="content-subtitle">{% trans %}urlAlias{% endtrans %}</h2>
        <p class="form-row-desc">{% trans %}nodeSource.urlAlias.help{% endtrans %}</p>

        <div class="content-table-cont">
            <table class="aliases content-table uk-table">
                <thead>
                    <tr>
                        <th>{% trans %}urlAlias{% endtrans %}</th>
                        <th>{% trans %}translation{% endtrans %}</th>
                        <th>{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if form %}
                        <tr>
                            <td colspan="3">
                                {% form_theme form '@RoadizRozier/horizontalForms.html.twig' %}
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <button class="uk-button uk-button-primary" type="submit">
                                    <i class="uk-icon-rz-plus"></i> {% trans %}add.urlAlias{% endtrans %}
                                </button>
                                {{ form_end(form) }}
                            </td>
                        </tr>
                    {% endif %}
                    {% for urlAlias in aliases %}
                        {% include '@RoadizRozier/url-aliases/editRow.html.twig' with {
                            'urlAlias': urlAlias
                        } %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />

        <h2 id="manage-redirections" class="content-subtitle">{% trans %}manage.redirections{% endtrans %}</h2>
        <p class="form-row-desc">{% trans %}nodeSource.redirections.help{% endtrans %}</p>

        <div class="content-table-cont">
            <table class="redirections content-table uk-table">
                <thead>
                <tr>
                    <th>{% trans %}redirection.query{% endtrans %}</th>
                    <th>{% trans %}redirection.redirect_uri{% endtrans %}</th>
                    <th>{% trans %}translation{% endtrans %}</th>
                    <th>{% trans %}actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% if addRedirection %}
                    <tr>
                        <td colspan="4">
                            {% form_theme addRedirection '@RoadizRozier/horizontalForms.html.twig' %}
                            {{ form_start(addRedirection) }}
                            {{ form_widget(addRedirection) }}
                            <button class="uk-button uk-button-primary" type="submit">
                                <i class="uk-icon-rz-plus"></i> {% trans %}add.a.redirection{% endtrans %}
                            </button>
                            {{ form_end(addRedirection) }}
                        </td>
                    </tr>
                {% endif %}
                {% for redirection in redirections %}
                    {% include '@RoadizRozier/redirections/editRow.html.twig' with {
                        'redirection': redirection
                    } %}
                {% else %}
                    <tr><td colspan="4">{% trans %}no_redirection_found{% endtrans %}</td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>

    {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
</section>
{% endblock %}
