{% if not source %}
    {% set source = node.nodeSources.first %}
{% endif %}
{% set breadcrumb = {
    'label': 'node-breadcrumb',
    'parent': source|parents(null, true)|reverse,
    'current': source.title|default(node.nodeName)
} %}
{% embed "@RoadizRozier/macros/rz_page_header.html.twig" with {
    breadcrumb: breadcrumb
} %}
    {% block translation %}
        <div class="rz-page-header__item">
            {% include '@RoadizRozier/nodes/translationBar.html.twig' with {
                "current": translation.id,
                "route": translationRoute
            } %}
        </div>
    {% endblock %}

    {% block breadcrumb %}
        {{ _self.breadcrumb(breadcrumb) }}
    {% endblock %}

    {% block buttons %}
        {% if node.stackTypes|length and stackTypesButton %}
            <div class="stack-tree-quick-creation rz-button-group rz-button-group--gap-md rz-page-header__item--right">
                {% for stackType in node.stackTypes %}
                    {% set nodeType = getNodeType(stackType) %}
                    <button type="button"
                            class="rz-button rz-button--secondary rz-button-group__button"
                            data-children-node-type="{{ nodeType.name }}"
                            data-children-parent-node="{{ node.id }}"
                            {% if specificNodeTree.tag %}data-filter-tag="{{ specificNodeTree.tag.id }}"{% endif %}
                    >
                        <span class="rz-button__label">{{ nodeType.displayName }}</span>
                        <span class="rz-button__icon rz-icon-ri--add-line"></span>
                    </button>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

    {% block title %}
        {% import "@RoadizRozier/macros/rz_status_badge.html.twig" as rz_status_badge %}
        {% import "@RoadizRozier/macros/rz_badge.html.twig" as rz_badge %}
        <h1 class="rz-page-header__title rz-page-header__item">
            {{ title }}
        </h1>
        <div class="rz-page-header__item">
            {% include '@RoadizRozier/nodes/nodeTypeCircle.html.twig' %}
        </div>
        {% if app.debug and with_debug_badge %}
            <div class="rz-page-header__item">
                {{ rz_badge.item(
                    label: 'NS #' ~ source.id,
                    size: 'sm',
                    color: 'information'
                ) }}
            </div>
        {% endif %}
        {% if filters and filters.itemCount %}
            <div class="rz-page-header__item">
                {{ rz_badge.item(
                    label: '%count%.items'|transchoice(filters.itemCount)|raw,
                    size: 'sm',
                    color: 'information'
                ) }}
            </div>
        {% endif %}
        <div class="rz-page-header__item--right">
            {{ rz_status_badge.item(node: node) }}
        </div>
    {% endblock %}

    {% block nav_bar %}
        {% include '@RoadizRozier/nodes/navBar.html.twig' with {"current": current} %}
    {% endblock %}
{% endembed %}
