
{% set currentTitle = node.nodeSources.first.title|default(node.nodeName) %}

{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "edit.node.%name%"|trans({'%name%': currentTitle})|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
    {% include '@RoadizRozier/nodes/head.html.twig' with {
        node: node,
        title: "edit.node.%name%"|trans({'%name%': currentTitle})|truncate_title,
        available_translations: available_translations,
        current: null,
        with_info_badge: true,
        with_nav_bar: true,
    } only %}

    <section class="rz-page__body">
        {% if form %}
            {% form_theme form '@RoadizRozier/forms.html.twig' %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
                {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
                {{ actions_menu.saveItem('#' ~ field_id(form)) }}
            {{ form_end(form) }}
        {% else %}
            <div class="rz-message rz-message--error">
                <span class="rz-icon-ri--error-warning-line"></span>
                <p class="rz-message__text">{% trans %}no_more_translation_available{% endtrans %}</p>
            </div>
        {% endif %}
    </section>

    {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
{% endblock %}
