
{% macro root(options = {}) %}
    {% import '@RoadizRozier/macros/element_attributes.html.twig' as el_attrs %}

    {% set element_class = 'rz-button' %}
    {% set tagName = options.tagName|default('button') %}
    {% set component = options.component|default('rz-button') %}

    {% if options.attributes.href is defined %}
        {% set tagName = 'a' %}
        {% set component = 'rz-link' %}
    {% endif %}

    {% set class = options.class|default('') %}
    {% set label = options.label|default(null) %}
    {% set icon = options.icon|default(null) %}

    {% set size = options.size|default(null) %}
    {% set emphasis = options.emphasis|default(null) %}
    {% set color = options.color|default(null) %}
    {% set selected = options.selected|default(false) %}

    <{{ tagName }}
        is="{{ component }}"
        class="{{ html_classes(element_class, class, {
            (element_class ~ '--' ~ size): size,
            (element_class ~ '--' ~ emphasis): emphasis,
            (element_class ~ '--' ~ color): color,
            (element_class ~ '--' ~ 'selected'): selected,
            (element_class ~ '--' ~ 'on-dark'): onDark|default(false),
        }) }}"
		{{ el_attrs.print(options.attributes|default({})) }}
    >
        {{ _self.inner({
            element_class: element_class,
            label: label,
            icon: icon,
            iconClass: options.iconClass|default(null),
        }) }}
    </{{ tagName }}>
{% endmacro %}

{% macro inner(options = {} ) %}
    {% set element_class = options.element_class|default('rz-button') %}
    {% set label = options.label|default(null) %}
    {% set icon = options.icon|default(null) %}

    {% if label is defined and label %}
        <span class="{{element_class ~ '__label'}}">{{- label|trans -}}</span>
    {% endif %}
    {% if (icon is defined and icon) or (options.iconClass is defined and options.iconClass) %}
        {% set icon_classes = [element_class ~ '__icon', icon, options.iconClass]|filter(v => v is defined and v)|join(' ') %}
        <span class="{{ icon_classes }}"></span>
    {% endif %}
{% endmacro %}
