{% macro item(label, icon, size, color, href, tagName = 'span', onlyIcon = false) %}

    {# If a link is provided, use an <a> tag instead of the default #}
    {% if href is defined and href %}
        {% set tagName = 'a' %}
    {% endif %}

    <{{ tagName }}
        class="
            rz-badge
            {{ size is defined and size ? ' rz-badge--'~size : '' }}
            {{ color is defined and color ? ' rz-badge--'~color : '' }}
        "
        {# If the badge is clickable, add href and an accessible title #}
        {% if href is defined and href %}
            href="{{ href }}"
            {{ label is defined and label ? 'title="'~label|trans~'"' : '' }}
        {% endif %}
    >
        {# Internal content: icon, label or icon-only #}
        {{ _self.inner_item(label, icon, onlyIcon) }}
    </{{ tagName }}>

{% endmacro %}

{% macro inner_item(label, icon, onlyIcon) %}
    {% if icon is defined and icon %}
        <span class="rz-badge__icon {{ icon }}"></span>
    {% endif %}
    {% if label is defined and label and not onlyIcon %}
        <span class="rz-badge__label">{{- label|trans -}}</span>
    {% endif %}
{% endmacro %}
