{% macro label(label, label_attr, form, icon, attr, items_length, isDrawer, enableDropzone) %}
    {% if label is not same as(false) -%}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <div class="rz-form-field__head">
            {% if icon is defined and icon %}
                <span class="rz-form-field__head__icon {{ icon }}"></span>
            {% endif %}
            <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- label|trans -}}
            </label>
            {% if attr['data-universal'] %}
                <div class="rz-badge rz-badge--xs rz-form-field__head__badge">
                    <span class="rz-badge__icon rz-icon-ri--earth-line"></span>
                </div>
            {% endif %}
            {%- if attr['data-max-length'] -%}
                <div class="rz-badge rz-badge--xs rz-badge--error rz-form-field__head__badge" title="Count title">
                    <span class="rz-badge__label count">
                        <span class="count-current">{{ items_length ? items_length : 0 }}</span>
                        /
                        <span class="count-limit">{{ attr['data-max-length'] }}</span>
                    </span>
                </div>
            {%- endif -%}
            {% if attr['data-min-length'] %}
                <div class="rz-badge rz-badge--xs rz-badge--information rz-form-field__head__badge">
                    <span class="rz-badge__label">({% trans %}min{% endtrans %}: {{ attr['data-min-length'] }})</span>
                </div>
            {% endif %}
            {% if isDrawer %}
                <div class="rz-button-group rz-button-group--md rz-form-field__head__end">
                    {% if enableDropzone %}
                        <button
                            type="button"
                            class="rz-button rz-button--sm rz-button-group__button"
                            @click.prevent="onDropzoneButtonClick"
                        >
                            <span class="rz-button__label">{%- trans -%}documents.toggle-uploader{%- endtrans -%}</span>
                            <span class="rz-button__icon rz-icon-ri--upload-line"></span>
                        </button>
                    {% endif %}
                    <button
                        type="button"
                        class="rz-button rz-button--sm rz-button-group__button"
                        @click.prevent="onExplorerButtonClick"
                    >
                        <span class="rz-button__label">{%- trans -%}documents.toggle-explorer{%- endtrans -%}</span>
                        <span class="rz-button__icon rz-icon-ri--add-line"></span>
                    </button>
                    <template v-if="drawer.errorMessage">
                        <div class="rz-message rz-message--error rz-form-field__message">
                            <p class="rz-message__text">{ drawer.errorMessage }}</p>
                        </div>
                    </template>
                </div>
            {% endif %}
        </div>
        {%- if form.vars.help ?? false -%}
            <p id="{{ form.vars.id }}_help" class="{{ isDrawer ? 'rz-drawer' : 'rz-form-field' }}__description">{{ form.vars.help|trans|inlineMarkdown }}</p>
        {%- endif -%}
    {%- endif %}
{% endmacro %}
