{% macro head(label, label_attr, form, icon, attr, items_length) %}
    {% if label is not same as(false) -%}
        <div class="rz-form-field__head">
            {{ _self.inner_head(label, label_attr, form, icon, attr, items_length) }}
        </div>
        {{ _self.help(form) }}
    {%- endif %}
{% endmacro %}

{% macro inner_head(label, label_attr, form, icon, attr, items_length) %}
    {% if icon is defined and icon %}
        <span class="rz-form-field__head__icon {{ icon }}"></span>
    {% endif %}
    <label
        class="rz-form-field__head__label"
        {% for attrname, attrvalue in label_attr %}
            {{ attrname }}="{{ attrvalue }}"
        {% endfor %}>
    {{- label|trans -}}
    </label>
    {% if attr['data-universal'] %}
        {% import "@RoadizRozier/macros/rz_badge.html.twig" as rz_badge %}
        {{ rz_badge.item({
            size: 'xs',
            color: 'default',
            icon: 'rz-icon-ri--earth-line',
            class: 'rz-form-field__head__badge',
            attributes: {
                title: 'universal'|trans,
            }
        }) }}
    {% endif %}
    {% if attr['data-max-length'] or attr['data-min-length'] -%}
        {% set has_error = false %}
        {% if attr['data-max-length'] and items_length > attr['data-max-length'] %}
            {% set has_error = true %}
        {% elseif attr['data-min-length'] and items_length < attr['data-min-length'] %}
            {% set has_error = true %}
        {% endif %}
        {% set error_class = 'rz-badge--danger' %}
        <div class="rz-badge rz-badge--xs {{ has_error ? error_class : '' }} rz-form-field__head__badge" data-length-indicator="{{ error_class }}">
            <span class="rz-badge__label">
                <span data-length-indicator-current>{{ items_length ? items_length : 0 }}</span>
                {%- if attr['data-max-length'] -%}/<span>{{ attr['data-max-length'] }}</span>
                {%- endif -%}
            </span>
        </div>
    {% endif %}
    {% if attr['data-min-length'] %}
        <div class="rz-badge rz-badge--xs rz-badge--information rz-form-field__head__badge">
            <span class="rz-badge__label">({% trans %}min{% endtrans %}: {{ attr['data-min-length'] }})</span>
        </div>
    {% endif %}
{% endmacro %}

{% macro help(form, class = 'rz-form-field') %}
    {%- if form.vars.help ?? false -%}
        <p id="{{ form.vars.id }}_help" class="{{ class }}__description">{{ form.vars.help|trans|inlineMarkdown }}</p>
    {%- endif -%}
{% endmacro %}
