{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}nodeTypes{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="content-global content-nav-and-filters">
        {% include '@RoadizRozier/node-types/head.html.twig' with {
            title: 'nodeTypes'|trans,
            filters: filters,
            buttons: [
                {
                    label: 'manage.decorators'|trans,
                    attributes: {
                        href: path('nodeTypeDecoratorsListPage'),
                    },
                    icon: 'rz-icon-ri--paint-brush-line',
                },
                {
                    label: 'export.documentation'|trans,
                    attributes: {
                        href: path('nodesTypesExportDocumentationPage'),
                    },
                    icon: 'rz-icon-ri--download-cloud-2-line',
                    class: 'rz-no-ajax-link'
                },
                {
                    label: 'export.typescript_declaration'|trans,
                    attributes: {
                        href: path('nodesTypesExportTypeScriptPage'),
                    },
                    icon: 'rz-icon-ri--download-cloud-2-line',
                    class: 'rz-no-ajax-link'
                }
            ]
        } only %}

        <article>
             {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
                selection_available: false,
                actions_available: true,
            } %}
                {% block thead_cells %}
                    <th>
                        {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                            'label': 'name'|trans,
                            'field': 'name',
                        } %}
                    </th>
                    <th class="mobile-hidden uk-hidden-small">{% trans %}nodeType.displayName{% endtrans %}</th>
                    <th class="mobile-hidden uk-hidden-small uk-visible-xlarge">{% trans %}nodeType.entityName{% endtrans %}</th>
                    <th class="mobile-hidden uk-hidden-small uk-visible-large">{% trans %}nodeType.numberFields{% endtrans %}</th>
                    <th class="mobile-hidden uk-hidden-small uk-visible-large">{% trans %}nodeType.status{% endtrans %}</th>
                {% endblock %}

                {% block tbody_content %}
                 {%- for type in node_types -%}
                        {% set classes = ['node-type-item'] %}
                        {% if not type.reachable %}
                            {% set classes = classes|merge(['not-reachable']) %}
                        {% endif %}
                        {% if not type.visible %}
                            {% set classes = classes|merge(['not-visible']) %}
                        {% endif %}
                        {% if type.hidingNodes %}
                            {% set classes = classes|merge(['hiding-children']) %}
                        {% endif %}

                        <tr
                             {{ _self.colored_row_attrs({'color': type.color }) }}
                        >
                            <td>
                                {% import '@RoadizRozier/macros/rz_link.html.twig' as rz_link %}
                                {{ rz_link.root({
                                    label: type.getName,
                                    attributes: { href: path('nodeTypeFieldsListPage', { nodeTypeName: type.getName }) },
                                }) }}
                            </td>
                            <td class="mobile-hidden uk-hidden-small">{{ type.getDisplayName }}</td>
                            <td class="mobile-hidden uk-hidden-small uk-visible-xlarge">{{ type.getSourceEntityClassName }}</td>
                            <td class="mobile-hidden uk-hidden-small uk-visible-large">
                                {% transchoice type.getFields|length %}{0} no.nodeTypeField|{1} 1.nodeTypeField|]1,Inf] %count%.nodeTypeFields{% endtranschoice %}
                            </td>
                            <td class="mobile-hidden uk-hidden-small uk-visible-large">
                                {% import '@RoadizRozier/macros/rz_node_badge.html.twig' as rz_node_badge %}
                                {% if not type.visible %}
                                    {{ rz_node_badge.item('hidden', false) }}
                                {% endif %}
                                {% if type.hidingNodes %}
                                    {{ rz_node_badge.item('hiding-nodes', false) }}
                                {% endif %}
                                {%- if type.highlighted -%}
                                    {{ rz_node_badge.item('highlighted', false) }}
                                {%- endif -%}
                            </td>
                            {% if actions_available %}
                                <td>
                                    {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' %}
                                        {% block other_actions %}
                                            {{ _self.button({
                                                icon: 'uk-icon-rz-node-type-field',
                                                attributes: {
                                                    href: path('nodeTypeFieldsListPage', { nodeTypeName: type.name }),
                                                    title: 'manage.nodeTypeFields'|trans,
                                                }
                                            }) }}
                                            {{ _self.button({
                                                icon: 'rz-icon-ri--add-line',
                                                attributes: {
                                                    href: path('nodeTypeDecoratorsAddPage', {'nodeTypeName': type.name}),
                                                    title: 'add.a.nodeTypeDecorator'|trans,
                                                }
                                            }) }}
                                        {% endblock %}
                                    {% endembed %}
                                </td>
                            {% endif %}
                        </tr>
                    {%- endfor -%}
                {% endblock %}
            {% endembed %}
        </article>
    </section>
{% endblock %}
