{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}nodeTypes{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global content-nav-and-filters">
    {% include '@RoadizRozier/node-types/head.html.twig' with {
        title: 'nodeTypes'|trans,
        filters: filters
    } only %}

    {% include '@RoadizRozier/widgets/filtersBar.html.twig' %}
    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="node-types content-table uk-table">
                <thead>
                <tr>
                    <th>{% trans %}name{% endtrans %}</th>
                    <th class="mobile-hidden">{% trans %}displayName{% endtrans %}</th>
                    <th class="mobile-hidden">{% trans %}status{% endtrans %}</th>
                    <th class="table-actions-row table-actions-row-3 table-actions-row-xs-2">{% trans %}actions{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for nodeType in nodeTypes %}
                    <tr>
                        <td>{{ nodeType.name }}</td>
                        <td class="mobile-hidden"><strong>{{ nodeType.displayName }}</strong></td>
                        <td class="mobile-hidden">
                            {% if nodeType.isVisible == false %}
                                <div class="uk-badge uk-badge-warning">{% trans %}not_available{% endtrans %}</div>
                            {% endif %}
                            {% if nodeType.isReachable == false %}
                                <div class="uk-badge uk-badge-warning">{% trans %}not_reachable{% endtrans %}</div>
                            {% endif %}
                            {% if nodeType.isPublishable == false %}
                                <div class="uk-badge uk-badge-warning">{% trans %}not_publishable{% endtrans %}</div>
                            {% endif %}
                            {% if nodeType.isHidingNodes == true %}
                                <div class="uk-badge uk-badge-notification">{% trans %}hiding_nodes{% endtrans %}</div>
                            {% endif %}
                            {% if nodeType.isHidingNonReachableNodes == true %}
                                <div class="uk-badge uk-badge-notification">{% trans %}hiding_non_reachable_nodes{% endtrans %}</div>
                            {% endif %}
                        </td>
                        <td class="table-actions-row">
                            <div class="uk-button-group">
                                <a class="uk-button uk-button-content uk-button-small"
                                   href="{{ path('nodeTypeFieldsListPage', { nodeTypeName: nodeType.name }) }}"
                                   title="{% trans %}edit{% endtrans %}"
                                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                                <a class="uk-button uk-button-content uk-button-small"
                                   href="{{ path('nodesTypesShowSchemasPage', {nodeTypeName:nodeType.name}) }}"
                                   title="{% trans %}schema{% endtrans %}"
                                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-file-code"></i> </a>
                                <a class="uk-button uk-button-content uk-button-small rz-no-ajax-link"
                                   href="{{ path('nodesTypesExportSingleJsonSchemaPage', {nodeTypeName:nodeType.name}) }}"
                                   title="{% trans %}export.schema{% endtrans %}"
                                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-download"></i> </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
