{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}add.an.attribute{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/attributes/head.html.twig' with {
        title: 'add.an.attribute'|trans
    } only %}

    <article class="content">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: { id: 'add-attribute-form'}}) }}
            {{ form_widget(form) }}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#add-attribute-form') }}
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/attributes/actionsMenu.html.twig' %}
</section>
{% endblock %}
