<td style="--rz-accent-color: {{ item.color }};" class="name">
    <a href="{{ path('attributesEditPage', { id: item.id }) }}">
        <span class="color" style="background-color:{{ item.color|default('transparent') }};"></span>
        {{ item.code -}}
    </a>
</td>
<td>{{ item.attributeTranslations.first.label -}}</td>
<td class="mobile-hidden">
    {%- if item.group -%}
        {{- item.group.name -}}
    {%- endif -%}
</td>
<td>{{- item.typeLabel|trans -}}</td>
<td class="mobile-hidden">
    {%- if item.attributeValues|length > 0 -%}
        <span
            data-uk-tooltip="{animation:true}"
            title="{% trans %}attributes.usage{% endtrans %}"
            class="uk-button-status">
            {{- item.attributeValues|length -}}
        </span>
    {%- endif -%}
</td>
<td class="mobile-hidden">
    {{- item.weight -}}
</td>
<td class="table-actions-row">
    {% if hasBulkActions %}
        <div class="bulk-selection">
            <input class="checkbox" type="checkbox" name="bulk-selection[]" value="{{ item.id }}" />
        </div>
    {% endif %}
    <div class="uk-button-group">
        <a class="uk-button uk-button-content uk-button-small"
           href="{{ path('attributesEditPage', { id: item.id }) }}"
           title="{% trans %}edit{% endtrans %}"
           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
        {% if is_granted('ROLE_ACCESS_ATTRIBUTES_DELETE') %}
            <a class="uk-button uk-button-content uk-button-small uk-button-danger"
               href="{{ path('attributesDeletePage', { id: item.id }) }}"
               title="{% trans %}delete{% endtrans %}"
               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-mini-o"></i></a>
        {% endif %}
    </div>
</td>
