{% extends "@RoadizRozier/realms/add.html.twig" %}

{% block title %}{{ "edit.realm.%name%"|trans({'%name%': item.name}) }} | {{ parent() }}{% endblock %}

{% block content %}
<section>
    {% include '@RoadizRozier/realms/head.html.twig' with {
        title: "edit.realm.%name%"|trans({'%name%': item.name}),
        with_breadcrumb: true,
    } only %}

    <article>
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form) }}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#' ~ field_id(form)) }}
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/realms/actionsMenu.html.twig' %}
</section>
{% endblock %}
