{% extends "@RoadizRozier/realms/add.html.twig" %}

{% block title %}{{ "edit.realm.%name%"|trans({'%name%': item.name}) }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/realms/head.html.twig' with {
        title: "edit.realm.%name%"|trans({'%name%': item.name})
    } only %}

    <article class="content">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, {
            'attr': {
                'id': 'edit-realm-form',
                'class': 'rz-form'
            }
        }) }}{{ form_widget(form) }}
        {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
        {{ actions_menu.saveItem('#edit-realm-form') }}
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/realms/actionsMenu.html.twig' %}
</section>
{% endblock %}
