{% if levels[log.level] == 'error' %}
    {% set tdClass = 'class="uk-alert-danger"' %}
    {% set icon = 'uk-icon-warning' %}
{% else %}
    {% set tdClass = 'class=""' %}
    {% set icon = 'uk-icon-info-circle' %}
{% endif %}

<div class="history-log-item{% if log.additionalData.entity_title %} has-source{% endif %}{% if log.additionalData.user_id or log.username %} has-user{% endif %}">
    <div class="history-log-date">
        <div class="table">
            <div class="table-cell">{{ log.datetime|format_datetime('short', 'short', locale=app.request.locale) }}</div>
        </div>
    </div>
    {% if log.additionalData.user_id %}
        <div class="history-log-user">
            {% if is_granted('ROLE_ACCESS_USERS') and log.additionalData.user_id %}
                {% set userPath = path("usersEditPage", { id: log.additionalData.user_id }) %}
            {% elseif is_granted('ROLE_ACCESS_LOGS') and log.additionalData.user_id %}
                {% set userPath = path('historyUserPage', { userId: log.additionalData.user_id }) %}
            {% else %}
                {% set userPath = '#' %}
            {% endif %}
            <a href="{{ userPath }}">
                {% if log.additionalData.user_picture_url %}
                    <img width="60"
                         height="60"
                         class="user-image uk-thumbnail"
                         src="{{ log.additionalData.user_picture_url }}"
                         alt="{{ log.additionalData.user_public_name|default(log.username) }}"
                         title="{{ log.additionalData.user_public_name|default(log.username) }}"
                         data-uk-tooltip="{animation:true}"/>
                {% else %}
                    <span
                        data-uk-tooltip="{animation:true}"
                        title="{{ log.additionalData.user_public_name|default(log.username) }}"
                        class="user-image uk-thumbnail"><i class="uk-icon uk-icon-rz-user"></i></span>
                {% endif %}
            </a>
        </div>
    {% elseif log.username %}
        <div class="history-log-user">
            <span class="user-image uk-thumbnail"
                  title="{{ log.username }}"
                  data-uk-tooltip="{animation:true}" ><i class="uk-icon uk-icon-rz-user"></i></span>
        </div>
    {% endif %}
    <div class="history-log-message">
        <div class="table">
            {% if log.additionalData.entity_title %}
                <div class="history-log-source table-cell">
                    {% set entityPath = log_entity_edit_path(log) %}
                    {% if entityPath %}
                    <a href="{{ entityPath }}">
                    {% endif %}
                        {% set thumbnail = log.additionalData.entity_thumbnail_src %}
                        {% if thumbnail %}
                            <figure title="{{ log.additionalData.entity_title }}" data-uk-tooltip="{animation:true}" >
                                <img src="{{ thumbnail }}" alt="{{ log.additionalData.entity_title }}">
                            </figure>
                        {% else %}
                            <span class="no-thumb"
                                  title="{{ log.additionalData.entity_title }}"
                                  data-uk-tooltip="{animation:true}"></span>
                        {% endif %}
                    {% if entityPath %}
                    </a>
                    {% endif %}
                </div>
            {% endif %}
            <div class="table-cell">
                {% if log.channel and log.channel != 'roadiz' and log.channel != 'app' %}
                    <span class="uk-badge">{{ log.channel|trans }}</span>&nbsp;
                {% endif %}
                {% if log.level and log.level >= 300 %}
                    <span class="uk-badge{% if log.level >= 400 %} uk-badge-danger{% elseif log.level >= 300 %} uk-badge-warning{% endif %}">{{ levels[log.level]|trans }}</span>
                {% endif %}
                {{ log.message|u.truncate(300, '[…]') -}}
                <div class="history-log-message-details">
                    <dl>
                        {% if log.username %}
                            <dt>{{ 'username'|trans }}</dt>
                            <dd>{{ log.username }}</dd>
                        {% endif %}
                        {% for key, data in log.additionalData %}
                            {% if data and data is not iterable %}
                                <dt>{{ key|trans }}</dt>
                                <dd>{{ data|u.truncate(140, '[…]') }}</dd>
                            {% endif %}
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
