{#
 #
 # This file extends default symfony fields types
 # It adds Roadiz CMS special types templates such as
 # Markdown, document and childrenNodeTree fields
 #
 #}
{% extends "form_div_layout.html.twig" %}

{%- block date_widget -%}
     {%- if widget == 'single_text' -%}
         {%- set type = type|default('text') -%}
         <input is="rz-input" type="date" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}>
     {%- else -%}
         <div {{ block('widget_container_attributes') }}>
             {{- date_pattern|replace({
                 '{{ year }}':  form_widget(form.year),
                 '{{ month }}': form_widget(form.month),
                 '{{ day }}':   form_widget(form.day),
             })|raw -}}
         </div>
     {%- endif -%}
{%- endblock date_widget -%}

{%- block color_widget -%}
    <rz-color-input>
        <input
            type="color"
            aria-hidden="true"
            {{ block('widget_attributes') }}
            {% if value is not empty %}value="{{ value }}" {% endif %}
        />
        <input
            type="text"
            maxlength="7"
            pattern="^#[0-9A-Fa-f]{6}$"
            placeholder="{{ 'color_input.placeholder'|trans }}"
            {{ block('widget_attributes') }}
            {% if value is not empty %}value="{{ value }}" {% endif %}
        />
    </rz-color-input>
{%- endblock color_widget -%}

{%- block data_list_text_widget -%}
    {%- set type = type|default('text') -%}
    {%- if type == 'range' or type == 'color' -%}
        {# Attribute "required" is not supported #}
        {%- set required = false -%}
    {%- endif -%}

    <input list="datalist-{{ form.vars.listName }}" type="{{ type }}" {{ block('widget_attributes') }}{% if value is not empty %} value="{{ value }}"{% endif %}>
    {% if form.vars.list %}
        <datalist id="datalist-{{ form.vars.listName }}">
            {% for choice in form.vars.list %}
                <option value="{{ choice }}"></option>
            {% endfor %}
        </datalist>
    {% endif %}
{%- endblock data_list_text_widget -%}

{% block markdown_widget %}
<rz-markdown-editor class="rz-markdown-editor">
    <div class="rz-markdown-editor__controls">
        <div class="rz-button-group rz-button-group--collapsed rz-button-group--md">
            {% if attr.allow_h1 %}
                <button data-markdowneditor-button="h1" type="button" class="rz-button rz-button-group__button">
                    <span class="rz-button__icon rz-icon-ri--h-1"></span>
                </button>
            {% endif %}
            {% if attr.allow_h2 %}
                <button data-markdowneditor-button="h2" type="button" class="rz-button rz-button-group__button markdown-editor-button-h2">
                    <span class="rz-button__icon rz-icon-ri--h-2"></span>
                </button>
            {% endif %}
            {% if attr.allow_h3 %}
                <button data-markdowneditor-button="h3" type="button" class="rz-button rz-button-group__button markdown-editor-button-h3">
                    <span class="rz-button__icon rz-icon-ri--h-3"></span>
                </button>
            {% endif %}
            {% if attr.allow_h4 %}
                <button data-markdowneditor-button="h4" type="button" class="rz-button rz-button-group__button markdown-editor-button-h4">
                    <span class="rz-button__icon rz-icon-ri--h-4"></span>
                </button>
            {% endif %}
            {% if attr.allow_h5 %}
                <button data-markdowneditor-button="h5" type="button" class="rz-button rz-button-group__button markdown-editor-button-h5">
                    <span class="rz-button__icon rz-icon-ri--h-5"></span>
                </button>
            {% endif %}
            {% if attr.allow_h6 %}
                <button data-markdowneditor-button="h6" type="button" class="rz-button rz-button-group__button markdown-editor-button-h6">
                    <span class="rz-button__icon rz-icon-ri--h-6"></span>
                </button>
            {% endif %}
        </div>
        <div class="rz-button-group rz-button-group--collapsed rz-button-group--md">
            {% if attr.allow_bold %}
                <button data-markdowneditor-button="bold" type="button" class="rz-button rz-button-group__button markdown-editor-button-bold">
                    <span class="rz-button__icon rz-icon-ri--bold"></span>
                </button>
            {% endif %}
            {% if attr.allow_italic %}
                <button data-markdowneditor-button="italic" type="button" class="rz-button rz-button-group__button markdown-editor-button-italic">
                    <span class="rz-button__icon rz-icon-ri--italic"></span>
                </button>
            {% endif %}
        </div>
        <div class="rz-button-group rz-button-group--collapsed rz-button-group--md">
            {% if attr.allow_blockquote %}
                <button data-markdowneditor-button="blockquote" type="button" class="rz-button rz-button-group__button markdown-editor-button-blockquote">
                    <span class="rz-button__icon rz-icon-ri--single-quotes-l"></span>
                </button>
            {% endif %}
            {% if attr.allow_link %}
                <button data-markdowneditor-button="link" type="button" class="rz-button rz-button-group__button markdown-editor-button-link">
                    <span class="rz-button__icon rz-icon-ri--link"></span>
                </button>
            {% endif %}
            {% if attr.allow_image %}
                <button data-markdowneditor-button="image" type="button" class="rz-button rz-button-group__button markdown-editor-button-image">
                    <span class="rz-button__icon rz-icon-ri--image-line"></span>
                </button>
            {% endif %}
            {% if attr.allow_list %}
                <button data-markdowneditor-button="listUl" type="button" class="rz-button rz-button-group__button markdown-editor-button-listUl">
                    <span class="rz-button__icon rz-icon-ri--list-unordered"></span>
                </button>
            {% endif %}
        </div>
        <div class="rz-button-group rz-button-group--collapsed rz-button-group--md">
            {% if attr.allow_return %}
                <button data-markdowneditor-button="back" type="button" class="rz-button rz-button-group__button markdown-editor-button-back">
                    <span class="rz-button__icon rz-icon-ri--corner-down-left-line"></span>
                </button>
            {% endif %}
            {% if attr.allow_hr %}
                <button data-markdowneditor-button="hr" type="button" class="rz-button rz-button-group__button markdown-editor-button-hr">
                    <span class="rz-button__icon rz-icon-ri--separator"></span>
                </button>
            {% endif %}
            {% if attr.allow_nbsp %}
                <button data-markdowneditor-button="nbsp" type="button" class="rz-button rz-button-group__button markdown-editor-button-nbsp">
                    <span class="rz-button__icon rz-icon-ri--space"></span>
                </button>
            {% endif %}
            {% if attr.allow_nb_hyphen %}
                <button data-markdowneditor-button="nb-hyphen" type="button" class="rz-button rz-button-group__button markdown-editor-button-nb-hyphen">
                    <span class="rz-button__icon rz-icon-ri--subtract-line"></span>
                </button>
            {% endif %}
        </div>
        <div class="rz-button-group rz-button-group--collapsed rz-button-group--md">
            {% if attr.allow_preview %}
                <button data-markdowneditor-button="preview" type="button" class="rz-button rz-button-group__button markdown-editor-button-preview">
                    <span class="rz-button__icon rz-icon-ri--eye-line"></span>
                </button>
            {% endif %}
        </div>
        <div class="rz-button-group rz-button-group--collapsed rz-button-group--md">
            {% if attr.allow_translate_assistant_translate and translateAssistantEnabled and attr.locale %}
                <button
                    type="button"
                    data-markdowneditor-button="translate_assistant-translate"
                    class="rz-button rz-button-group__button markdown-editor-button-translate-assistant-translate"
                    data-translate-locale="{{ attr.locale }}"
                    data-translate-path="{{ path('translateAssistantTranslate') }}"
                >
                    <span class="rz-button__icon rz-icon-ri--translate"></span>
                </button>
            {% endif %}
            {% if attr.allow_translate_assistant_rephrase and translateAssistantEnabled and attr.locale %}
                <button
                    type="button"
                    data-markdowneditor-button="translate_assistant-rephrase"
                    class="rz-button rz-button-group__button markdown-editor-button-translate-assistant-rephrase"
                    data-translate-locale="{{ attr.locale }}"
                    data-translate-path="{{ path('translateAssistantRephrase') }}"
                    {{ (translateAssistantSupportRephrase) ? '' : 'disabled' }}
                >
                    <span class="rz-button__icon rz-icon-ri--translate-ai"></span>
                </button>
            {% endif %}
        </div>
    </div>
    <textarea class="rz-markdown-editor__textarea" {{ block('widget_attributes') }}>{{- value -}}</textarea>
</rz-markdown-editor>
{% endblock markdown_widget %}

{%- block textarea_widget -%}
    <textarea {{ block('widget_attributes') }} class="rz-textarea">{{ value }}</textarea>
{%- endblock textarea_widget -%}

{% block json_widget %}
{# just let the textarea widget render the select tag #}
<textarea {{ block('widget_attributes') }} data-rz-jsoneditor>{{ value }}</textarea>
{% endblock json_widget %}

{% block css_widget %}
{# just let the textarea widget render the select tag #}
<textarea {{ block('widget_attributes') }} data-rz-csseditor>{{ value }}</textarea>
{% endblock css_widget %}

{% block yaml_widget %}
{# just let the textarea widget render the select tag #}
<textarea {{ block('widget_attributes') }} data-rz-yamleditor>{{ value }}</textarea>
{% endblock yaml_widget %}

{% block dynamic_widget %}
{# just let the textarea widget render the select tag #}
<component
    :is="currentView"
    :entity="entity"
    :mode="mode"
    {{ block('widget_attributes') }}
    initial-value="{{ value }}">
</component>
{% endblock dynamic_widget %}

{%- block collection_widget -%}
{% if prototype is defined %}
    {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
    {% set attr = attr|merge({'data-prototype-name': prototype.vars.name}) %}
{% endif %}
{% set attr = attr|merge({'data-allow-add': allow_add ? 1 : 0}) %}
{% set attr = attr|merge({'data-allow-remove': allow_delete ? 1 : 0 }) %}
{% set attr = attr|merge({'data-name-prefix': full_name}) %}
{{ block('form_widget') }}
{%- endblock collection_widget -%}

{% block tags_widget %}
    {% include '@RoadizRozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'tag',
        isSortable: 'true',
        icon: 'uk-icon-tags'
    } %}
{% endblock tags_widget %}

{% block sortable_tags_widget %}
    {% include '@RoadizRozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'tag',
        icon: 'uk-icon-tags'
    } %}
{% endblock sortable_tags_widget %}

{% block documents_widget %}
    {% include '@RoadizRozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: true,
        entity: 'document',
        icon: 'rz-icon-ri--image-line'
    } %}
{% endblock documents_widget %}

{% block node_source_documents_widget %}
    {% include '@RoadizRozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: true,
        entity: 'document',
        icon: 'rz-icon-ri--image-line'
    } %}
{% endblock node_source_documents_widget %}

{% block folders_widget %}
    {% include '@RoadizRozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'explorer-provider',
        icon: 'uk-icon-folder-o'
    } %}
{% endblock folders_widget %}

{% block nodes_widget %}
    {% include '@RoadizRozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'node',
        icon: 'uk-icon-rz-global-nodes'
    } %}
{% endblock nodes_widget %}

{% block join_widget %}
    {% include '@RoadizRozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'join',
        icon: 'uk-icon-chain'
    } %}
{% endblock join_widget %}

{% block provider_widget %}
    {% include '@RoadizRozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'explorer-provider',
        icon: 'uk-icon-chain'
    } %}
{% endblock provider_widget %}

{% block explorer_provider_widget %}
    {% include '@RoadizRozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'explorer-provider',
        icon: 'uk-icon-chain'
    } %}
{% endblock explorer_provider_widget %}

{% block custom_forms_widget %}
    {% include '@RoadizRozier/widgets/drawer.html.twig' with {
        widget_attributes: block('widget_attributes'),
        enableDropzone: false,
        entity: 'custom-form',
        icon: 'uk-icon-rz-surveys-big'
    } %}
{% endblock custom_forms_widget %}

{%- block radio_widget -%}
    <input is="rz-input" type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} >
{%- endblock radio_widget -%}

{%- block document_alignment_widget -%}
    {% include '@RoadizRozier/widgets/documentAlignment.html.twig' with {
        widget_attributes: block('widget_attributes'),
        id: 'document-edit',
        form: form
    } %}
    {%- for child in form %}
        {{- form_widget(child) -}}
    {% endfor -%}
{%- endblock document_alignment_widget -%}

{% block image_crop_alignment_widget %}
<div class="image-crop-alignments" {{ block('widget_container_attributes') }}>
    <div class="uk-form-group uk-margin-bottom">
    {%- for child in form %}
        {{- form_widget(child) -}}
        {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
        {% if child.vars.value == null %}
            </div>
            <div class="image-crop-alignments__grid uk-form-group uk-margin-bottom">
        {% endif %}
    {% endfor -%}
    </div>
</div>
{% endblock %}

{% block checkbox_widget -%}
    <input class="rz-switch" {% if checked %}checked{% endif %} type="checkbox" />
{%- endblock checkbox_widget %}

{%- block choice_widget_expanded -%}
        <fieldset class="rz-fieldset">
            <legend class="rz-fieldset__legend">{{- form.vars.label|trans -}}</legend>
        {%- for child in form %}
            <div class="rz-form-field rz-form-field--type-radio">
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
                {{- form_widget(child) -}}
            </div>
        {% endfor -%}
        </fieldset>
{%- endblock choice_widget_expanded -%}

{% block text_widget %}
    <input is="rz-input" type="text" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}>
{%- endblock text_widget -%}

{% block number_widget -%}
    {%- set type = type|default('number') -%}
    <input is="rz-input" type="{{ type }}" class="rz-form-field__input rz-form-input" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value|replace({',': '.'}) }}"{% endif %} />
{%- endblock number_widget %}

{%- block email_widget -%}
    <input is="rz-input" class="rz-form-field__input rz-form-input" type="email" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %} />
{%- endblock email_widget -%}

{%- block file_widget -%}
    <input is="rz-input" type="file" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %} />
{%- endblock file_widget -%}

{% block separator_widget %}
{# just let the textarea widget render the select tag #}
<p {{ block('widget_attributes') }}>{{ label|trans }}</p>
{% endblock separator_widget %}

{% block time_widget -%}
    {% if widget == 'single_text' %}
        {{- block('form_widget_simple') -}}
    {% else -%}
        {% set vars = widget == 'text' ? { 'attr': { 'size': 1 }} : {} %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_widget(form.hour, vars) }}{% if with_minutes %}<span class="datetime-separator">:</span>{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}<span class="datetime-separator">:</span>{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {%- endif %}
{%- endblock time_widget %}

{%- block datetime_widget -%}
    {% if widget == 'single_text' %}
        <input is="rz-input" type="datetime-local" {{ block('widget_attributes') }} {% if value is defined %} value="{{ value }}"{% endif %}>
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form.date) -}}
            {{- form_errors(form.time) -}}
            {{- form_widget(form.date) -}}
            {{- form_widget(form.time) -}}
        </div>
    {%- endif -%}
{%- endblock datetime_widget -%}

{# Override default error block #}
{% block form_errors -%}
    {% if errors|length > 0 -%}
        <div class="rz-message rz-message--error rz-form-field__message">
            {%- for error in errors -%}
                <p class="rz-message__text"><i class="uk-icon-warning"></i> {{ error.message|trans(error.messageParameters) }}</p>
            {%- endfor -%}
        </div>
    {%- endif %}
{%- endblock form_errors %}

{# Children node tree field #}
{% block childrennodes_widget %}
<div class="uk-form-row rz-form-field children-nodes-widget" data-translation-id="{{ nodeTree.translation.id }}" data-children-nodes-widget {{ block('widget_attributes') }}>
    {% if label is empty -%}
        {% set label = name|humanize %}
    {%- endif -%}
    <nav class="drawer-widget-nav children-nodes-nav">
        <div class="drawer-widget-nav__head">
            <div class="drawer-widget-nav__title"><i class="uk-icon-rz-node-tree"></i></div>
            <div class="drawer-widget-nav__title label">{{ label|trans }}</div>
        </div>
        <div class="drawer-widget-nav__content">
            {% if linkedTypes|length %}
                <ul class="uk-navbar-nav">
                    <li class="children-nodes-quick-creation"
                        data-uk-dropdown="{mode:'click'}">
                        <div class="uk-button"><i class="uk-icon-rz-plus-simple"></i></div>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            {% for linkedType in linkedTypes %}
                                <button type="button" class="uk-button uk-button-small"
                                   data-children-node-type="{{ linkedType.name }}"
                                   data-children-parent-node="{{ nodeTree.rootNode.id }}"
                                   data-translation-id="{{ nodeTree.translation.id }}">
                                    <i class="uk-icon-rz-plus-simple"></i>{{ linkedType.displayName }}
                                </button>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
            {% endif %}
        </div>
    </nav>
    <div class="children-nodes-tree">
        {% include '@RoadizRozier/widgets/nodeTree/nodeTree.html.twig' with {
        "nodeTree": nodeTree,
        "node": nodeTree.getRootNode,
        'mainNodeTree': false,
        "linkedTypes": linkedTypes
        } only %}
    </div>
</div>
{% endblock childrennodes_widget %}
{#
 # Override default form rendering
 #}
{% block form_start -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
    <form class="rz-form" name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}" />
    {%- endif -%}
{%- endblock form_start %}

{% block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('rz-form-field__head__label') ~ ' required')|trim}) %}
        {%- else %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('rz-form-field__head__label'))|trim}) %}
        {%- endif %}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <div class="rz-form-field__head">
            <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{- label|trans -}}
            </label>
            {% if attr['data-universal'] %}
                <div class="rz-badge rz-badge--xs rz-form-field__head__badge">
                    <span class="rz-badge__icon rz-icon-ri--earth-line"></span>
                </div>
            {% endif %}
            {%- if attr['data-max-length'] -%}
                <div class="rz-badge rz-badge--xs rz-badge--error rz-form-field__head__badge" title="Badge title">
                    <span class="rz-badge__label count">
                        <span class="count-current">0</span>
                        /
                        <span class="count-limit">{{ attr['data-max-length'] }}</span>
                    </span>
                </div>
            {%- endif -%}
        </div>
        {%- if form.vars.help ?? false -%}
            <p id="{{ form.vars.id }}_help" class="rz-form-field__description">{{ form.vars.help|trans|inlineMarkdown }}</p>
        {%- endif -%}
    {%- endif %}
{%- endblock form_label %}

{% block form_widget_compound -%}
    <div {{ block('widget_container_attributes') }}>
        {%- if form.parent is empty -%}
            {{ form_errors(form) }}
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
    </div>
{%- endblock form_widget_compound %}

{% block choice_widget_collapsed -%}
    {% if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}

    {% if multiple %}
        <select is="rz-select" {{ block('widget_attributes') }} multiple="multiple">
            {% if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
            {%- endif %}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {% if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif %}
            {%- endif -%}
            {% set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    {% else %}
        <select is="rz-select" v-model="selected" {{ block('widget_attributes') }}>
            {% if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder|trans({}, translation_domain) }}</option>
            {%- endif %}
            {%- if preferred_choices|length > 0 -%}
                {% set options = preferred_choices %}
                {{- block('choice_widget_options') -}}
                {% if choices|length > 0 and separator is not none -%}
                    <option disabled="disabled">{{ separator }}</option>
                {%- endif %}
            {%- endif -%}
            {% set options = choices -%}
            {{- block('choice_widget_options') -}}
        </select>
    {% endif %}

{%- endblock choice_widget_collapsed %}

{% block form_row -%}
    {%- if form.vars.block_prefixes[1] == 'nodesourcebase' or form.vars.name == 'nodesTags' -%}
        {{- form_widget(form) -}}
    {%- else -%}
        {% set rowClasses = [
            'rz-form-field',
            'form-col-' ~ form.vars.block_prefixes[1],
            'form-col-' ~ form.vars.name|replace({'_': '-'}),
            'rz-form-field--type-' ~ form.vars.block_prefixes[1]
        ] %}
        {% if required %}
            {% set rowClasses = rowClasses|merge(['rz-form-field--required']) %}
        {% endif %}
        {% if errors|length > 0 -%}
            {% set rowClasses = rowClasses|merge(['rz-form-field--error']) %}
        {% endif %}
        {% if attr.class %}
            {% set rowClasses = rowClasses|merge([
                attr.class ~ '-wrapper'
            ]) %}
        {% endif %}
        <div {% if attr['data-field-group'] %}data-field-group="{{ attr['data-field-group']|trans }}"
             data-field-group-canonical="{{ attr['data-field-group-canonical'] }}"{% endif %}
            class="{{ rowClasses|join(' ') }}">
            {% if form.vars.block_prefixes[1] != 'separator' %}
                {{- form_label(form) -}}
            {% endif %}
            {{- form_widget(form) -}}
            {{- form_errors(form) -}}
        </div>
    {%- endif -%}
{%- endblock form_row %}

{%- block button_row -%}
    {% set rowClasses = [
    'form-col-' ~ form.vars.block_prefixes[1],
    'form-col-' ~ form.vars.name|replace({'_': '-'})
    ] %}
    <div class="{{ rowClasses|join(' ') }}">
        {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{%- block button_widget -%}
    {% if not attr.class %}
        {% set attr = attr|merge({'class': 'rz-button'}) %}
    {% endif %}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                <span class="rz-button__label">{{- label -}}</span>
            {%- else -%}
                <span class="rz-button__label">{{- label|raw -}}</span>
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                <span class="rz-button__label">{{- label|trans(label_translation_parameters, translation_domain) -}}</span>
            {%- else -%}
                <span class="rz-button__label">{{- label|trans(label_translation_parameters, translation_domain)|raw -}}</span>
            {%- endif -%}
        {%- endif -%}
        {%- if attr.icon is defined and attr.icon != '' -%}
            <span class="rz-button__icon {{ attr.icon }}"></span>
        {%- endif -%}
    </button>
{%- endblock button_widget -%}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {%- if form.vars.help ?? false -%}
        aria-describedby="{{ form.vars.id }}_help"
    {%- endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}

{%- block nodesourcebase_widget -%}
    <div class="rz-form__field-list rz-form__field-list--horizontal">
        {%- for child in form %}
            {{- form_row(child) -}}
        {%- endfor -%}
    </div>
{%- endblock nodesourcebase_widget -%}
