{% set formattedLocale = app.request.locale|replace({'_': '-'})|lower %}
<!DOCTYPE html>
<html class="no-js" lang="{{ formattedLocale }}"{% if app.request.locale is rtl %} dir="rtl"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% trans %}back_office{% endtrans %}: {{ head.siteTitle|default(meta.siteName) }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% trans %}back_office{% endtrans %}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% include '@RoadizRozier/admin/meta-icon.html.twig' %}
    {# CSS scripts inclusions / Using webpack #}
    {% include '@RoadizRozier/partials/css-inject.html.twig' %}
    {% if main_color %}
        <style>
            :root {
                --rz-accent-color: {{ main_color|raw }};
                --rz-accent-color-lighter: color-mix(in srgb, var(--rz-accent-color) var(--color-light-mix), white);
                --rz-accent-color-darker: color-mix(in srgb, var(--rz-accent-color) var(--color-darker-mix), black);
                --rz-accent-color-darkest: color-mix(in srgb, var(--rz-accent-color) var(--color-darkest-mix), black);
            }
        </style>
    {% endif %}
    <script src="{{ asset('vendor/modernizr.custom.50380.js', 'Rozier') }}"></script>
</head>
<body id="simple-body">
{% include '@RoadizRozier/includes/messages.html.twig' %}
<div id="main-container">
    <div id="splash-container"></div>
    <div id="main_content">
        {% block content %}
            <h1>{% trans %}welcome{% endtrans %}</h1>
        {% endblock %}
    </div>
</div>
<script>
    var temp = {
        "routes": {
            "splashRequest": "{{ path('loginImagePage') }}"
        }
    };
    var RozierRoot = temp;
</script>
{% if head.devMode %}
    <script src="{{ asset('vendor/jquery.js', 'Rozier') }}"></script>
{% else %}
    <script src="{{ asset('vendor/jquery.min.js', 'Rozier') }}"></script>
{% endif %}
{# JS scripts inclusions / Using webpack #}
{% include '@RoadizRozier/partials/simple-js-inject.html.twig' %}
{% block customScripts %}{% endblock %}
</body>
</html>
