<tr style="--rz-accent-color: {{ getNodeType(node).color }};">
    <td class="nodes-list-item-link">
        <span class="nodes-list-item-color" style="background-color:{{ getNodeType(node).color }};"></span>
        <a href="{{ path('nodesEditPage', { nodeId: node.id }) }}">
            <rz-entity-thumbnail
                class="mobile-hidden uk-visible-large"
                entity-class="RZ\Roadiz\CoreBundle\Entity\Node"
                entity-id="{{ node.id }}"
            ></rz-entity-thumbnail>
            {{ node.nodeSources.first.title|default(node.nodeName) }}
        </a>
    </td>
    <td class="mobile-hidden">{{ getNodeType(node).displayName }}</td>
    <td class="mobile-hidden uk-visible-large">
        {% import "@RoadizRozier/macros/rz_node_badge.html.twig" as rz_node_badge %}
        {{ rz_node_badge.all(node, { display_label: false }) }}
    </td>
    <td class="mobile-hidden uk-visible-xlarge">{{ node.updatedAt|format_date('short', locale=app.request.locale) }}</td>
    <td class="table-actions-row">
        {% if (with_select_action is not defined) %}
            {% set with_select_action = true %}
        {% endif %}
        {% if with_select_action %}
        <div class="bulk-selection">
            <input is="rz-input" type="checkbox" name="bulk-selection[]" value="{{ node.id }}" />
        </div>
        {% endif %}

        <div class="uk-button-group">
            <a class="uk-button uk-button-content uk-button-small"
               href="{{ path('nodesEditPage', { nodeId: node.id }) }}"
               title="{% trans %}edit.node{% endtrans %}"
               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
            <a class="uk-button uk-button-content uk-button-small"
               href="{{ path('nodesTreePage', { nodeId: node.id }) }}"
               title="{% trans %}see.nodetree{% endtrans %}"
               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-node-tree-mini"></i></a>
            {% if workflow_can(node, 'delete') %}
                <a class="uk-button uk-button-content uk-button-small uk-button-danger"
                   href="{{ path('nodesDeletePage', { nodeId: node.id }) }}"
                   title="{% trans %}delete{% endtrans %}"
                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
            {% endif %}
            {% if workflow_can(node, 'undelete') %}
                <a class="uk-button uk-button-content uk-button-small"
                   href="{{ path('nodesUndeletePage', { nodeId: node.id }) }}"
                   data-uk-tooltip="{animation:true}"
                   title="{% trans %}undelete{% endtrans %}"><i class="uk-icon-rz-untrash"></i></a>
            {% endif %}
        </div>
    </td>
</tr>
