<tr style="--rz-accent-color: {{ getNodeType(node).color }};">
    {% if selection_available %}
        {% import '@RoadizRozier/macros/rz_cell.html.twig' as rz_cell %}
        {{ rz_cell.selection_input({ input: { value: node.id } }) }}
    {% endif %}
    <td class="nodes-list-item-link">
        <span class="nodes-list-item-color" style="background-color:{{ getNodeType(node).color }};"></span>
        <a href="{{ path('nodesEditPage', { nodeId: node.id }) }}">
            <rz-entity-thumbnail
                class="mobile-hidden uk-visible-large"
                entity-class="RZ\Roadiz\CoreBundle\Entity\Node"
                entity-id="{{ node.id }}"
            >
            </rz-entity-thumbnail>
            {{ node.nodeSources.first.title|default(node.nodeName) }}
        </a>
    </td>
    <td class="mobile-hidden">{{ getNodeType(node).displayName }}</td>
    <td class="mobile-hidden uk-visible-large">
        {% if node.isDraft == true %}
            <div class="uk-button-status uk-button-draft" title="{% trans %}node.draft{% endtrans %}" data-uk-tooltip="{animation:true}">
                <i class="uk-icon-rz-draft-nodes"></i>
            </div><!-- uk-badge-warning -->
        {% endif %}
        {% if node.isPending == true %}
            <div class="uk-button-status uk-button-pending" title="{% trans %}node.pending.validation{% endtrans %}" data-uk-tooltip="{animation:true}">
                <i class="uk-icon-rz-pending-nodes"></i>
            </div><!-- uk-badge-warning -->
        {% endif %}
        {% if node.isDeleted == true %}
            <div class="uk-button-status uk-button-deleted" title="{% trans %}node.deleted{% endtrans %}" data-uk-tooltip="{animation:true}">
                <i class="uk-icon-rz-trash-mini-o"></i>
            </div><!-- uk-badge-danger -->
        {% endif %}
        {% if node.isVisible == false %}
            <div class="uk-button-status uk-button-hidden" title="{% trans %}node.hidden{% endtrans %}" data-uk-tooltip="{animation:true}">
                <i class="uk-icon-eye-slash"></i>
            </div><!-- uk-badge-notification -->
        {% endif %}
        {% if node.isLocked %}
            <div class="uk-button-status uk-button-locked" title="{% trans %}locked{% endtrans %}" data-uk-tooltip="{animation:true}">
                <i class="uk-icon-lock"></i>
            </div><!-- uk-badge-notification -->
        {% endif %}
        {% if node.isHidingChildren %}
            <div class="uk-button-status uk-button-hiding-children" title="{% trans %}hiding-children{% endtrans %}" data-uk-tooltip="{animation:true}">
                <i class="uk-icon-sitemap"></i>
            </div><!-- uk-badge-notification -->
        {% endif %}
        {% if node.isShadow %}
            <div class="uk-button-status uk-button-shadow" title="{% trans %}node.shadow{% endtrans %}" data-uk-tooltip="{animation:true}">
                <i class="uk-icon-flag-o"></i>
            </div><!-- uk-badge-notification -->
        {% endif %}
        {% if node.isArchived %}
            <div class="uk-button-status uk-button-archived" title="{% trans %}node.archived{% endtrans %}" data-uk-tooltip="{animation:true}">
                <i class="uk-icon-rz-archive-mini"></i>
            </div><!-- uk-badge-notification -->
        {% endif %}
    </td>
    <td class="mobile-hidden uk-visible-xlarge">{{ node.updatedAt|format_date('short', locale=app.request.locale) }}</td>
    <td>
        {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' with {
            'edit_href': path('nodesEditPage', { nodeId: node.id }),
            'delete_href': workflow_can(node, 'delete') ? path('nodesDeletePage', { nodeId: node.id }) : null,
        } %}
            {% block other_actions %}
                {% import '@RoadizRozier/macros/rz_table_action.html.twig' as rz_table_action %}
                {{ rz_table_action.item({
                    icon: 'uk-icon-rz-node-tree-mini',
                    attributes: {
                        href: path('nodesTreePage', { nodeId: node.id }),
                        title: 'see.nodetree'|trans,
                    }
                }) }}
                {% if workflow_can(node, 'undelete') %}
                    {{ rz_table_action.item({
                        icon: 'uk-icon-rz-untrash',
                        attributes: {
                            href: path('nodesUndeletePage', { nodeId: node.id }),
                            title: 'undelete'|trans,
                        }
                    })}}
                {% endif %}
            {% endblock %}
        {% endembed %}
    </td>
</tr>
