{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {% trans %}translations{% endtrans %}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
    {% include '@RoadizRozier/translations/head.html.twig' with {
        title: 'translations'|trans,
        filters: filters,
        buttons: [{
            label: 'add.a.translation'|trans,
            attributes: {
                href: path('translationsAddPage'),
            },
            icon: 'rz-icon-ri--add-line'
        }]
    } only %}

    {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
        filters: filters,
        display_select_all_button: false,
    }  only %}

    <section class="rz-page__body">
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            selection_available: hasBulkActions,
            actions_available: true,
        } %}

            {% block thead_cells %}
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'name',
                        'filters': filters,
                        'label': 'name'|trans,
                        'column_ordering_class': column_ordering_class,
                    } only %}
                </th>
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'locale',
                        'filters': filters,
                        'label': 'translation.locale'|trans,
                        'column_ordering_class': column_ordering_class,
                    } only %}
                </th>
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'overrideLocale',
                        'filters': filters,
                        'label': 'overrideLocale'|trans,
                        'column_ordering_class': column_ordering_class,
                    } only %}
                </th>
                <th>{% trans %}status{% endtrans %}</th>
            {% endblock %}

            {% block tbody_content %}
                {% import '@RoadizRozier/macros/rz_link.html.twig' as rz_link %}
                {% import '@RoadizRozier/macros/rz_badge.html.twig' as rz_badge %}

                {% for t in translations %}
                    <tr>
                        <td>
                            {{ rz_link.root({
                                label: t.translation.getName,
                                attributes: { href: path('translationsEditPage', { translationId: t.translation.getId }) },
                            }) }}
                        </td>
                        <td>{{ t.translation.locale }}</td>
                        <td>{{ t.translation.overrideLocale }}</td>
                        <td>
                            {% if t.translation.isAvailable == false %}
                                {{ rz_badge.item({ label: 'not_available'|trans })}}
                            {% endif %}
                            {% if t.translation.isDefaultTranslation == true %}
                                {{ rz_badge.item({
                                    icon: 'rz-icon-ri--star-line',
                                    attributes: {
                                        'title': 'default.translation'|trans
                                    }
                                    }) }}
                            {% endif %}
                        </td>
                        {% if actions_available %}
                            {% set is_not_default = t.translation.isDefaultTranslation == false %}
                            <td>
                                {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    'edit_href': path('translationsEditPage', { translationId: t.translation.getId }),
                                    'delete_href': is_not_default ? path('translationsDeletePage', { translationId: t.translation.getId }) : null,
                                } %}
                                    {% block other_actions %}
                                        {% if is_not_default is same as(true) %}
                                            {% form_theme t.defaultForm '@RoadizRozier/forms.html.twig' %}
                                            <form class="rz-form" action="#" method="post">
                                                {{ form_widget(t.defaultForm, { attr: { style: 'display: none;' }}) }}
                                                {{ _self.button({
                                                    icon: 'rz-icon-ri--star-line',
                                                    attributes: {
                                                        type: 'submit',
                                                        title: 'set.default'|trans,
                                                    }
                                                }) }}
                                            </form>
                                        {% endif %}
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </section>
{% endblock %}
