{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {{ "edit.user.%name%.groups"|trans({'%name%': user.username })|truncate_title }}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
    {% include '@RoadizRozier/users/head.html.twig' with {
        title: "edit.user.%name%.groups"|trans({'%name%': user.username })|truncate_title(40),
        with_nav_bar: true,
        user: user,
        current: 'groups',
        with_breadcrumb: true,
    } only %}

    <section class="rz-page__body">
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            selection_available: false,
            actions_available: true,
        }%}
            {% block thead_cells %}
                <th>{% trans %}group{% endtrans %}</th>
            {% endblock %}

            {% block tbody_content %}
                {% for group in user.getGroups %}
                    <tr>
                        {% if selection_available %}
                            <td>
                                {% import '@RoadizRozier/macros/rz_bulk.html.twig' as rz_bulk %}
                                {{ rz_bulk.select_input({ value: group.getId }) }}
                            </td>
                        {% endif %}
                        <td>
                            {% import '@RoadizRozier/macros/rz_link.html.twig' as rz_link %}
                            {{ rz_link.root({
                                label: group.getName,
                                attributes: { href: path('groupsEditPage', { id: group.getId })  },
                            }) }}
                        </td>
                        {% if actions_available %}
                            <td>
                                {% if is_granted(group) %}
                                    {% include '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                        'edit_href': path('groupsEditRolesPage', { id: group.getId }),
                                        'edit_title': 'roles'|trans,
                                        'delete_href': path('usersRemoveGroupsPage', { userId: user.getId, groupId: group.getId }),
                                        'delete_title': 'unlink'|trans,
                                    } only %}
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                    {% else %}
                        {{ _self.fallback_row({
                            length: 1,
                            selection_available: selection_available,
                            actions_available: actions_available,
                            message: 'no_groups',
                        }) }}
                    {% endfor %}
            {% endblock %}
        {% endembed %}

        <hr />

        <h2 class="text-h1-sm">{% trans %}add.a.group{% endtrans %}</h2>
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="rz-form-field rz-form-field--align-start">
                {% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}
                {{ rz_button.root({
                    size: 'md',
                    label: 'add.group'|trans,
                    icon: 'rz-icon-ri--add-line',
                    attributes: {
                        type: 'submit'
                    }
                }) }}
            </div>
        {{ form_end(form) }}
    </section>

    {% include '@RoadizRozier/users/actionsMenu.html.twig' %}
{% endblock %}
