{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {{ "edit.user.%name%.groups"|trans({'%name%': user.username })|truncate_title }}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global edit-user">
    {% include '@RoadizRozier/users/head.html.twig' with {
        title: "edit.user.%name%.groups"|trans({'%name%': user.username })|truncate_title(40),
        with_nav_bar: true,
        user: user,
        current: 'groups',
        with_breadcrumb: true,
    } only %}

    <article class="content content-user-groups">
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            selection_available: false,
            actions_available: true,
        }%}
            {% block thead_cells %}
                <th>{% trans %}group{% endtrans %}</th>
            {% endblock %}

            {% block tbody_content %}
                {% for group in user.getGroups %}
                    <tr>
                        {% if selection_available %}
                            <td>
                                {% import '@RoadizRozier/macros/rz_bulk.html.twig' as rz_bulk %}
                                {{ rz_bulk.select_input({ value: group.getId }) }}
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ path('groupsEditPage', {'id':group.getId}) }}">{{ group.getName }}</a>
                        </td>
                        {% if actions_available %}
                        <td>
                            {% if is_granted(group) %}
                                {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    'edit_href': path('groupsEditRolesPage', { id: group.getId }),
                                    'edit_title': 'roles'|trans,
                                    'delete_href': path('usersRemoveGroupsPage', { userId: user.getId, groupId: group.getId }),
                                    'delete_title': 'unlink'|trans,
                                } only %}
                                {% endembed %}
                            {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}

        <hr />

        <h2 class="text-title-sm">{% trans %}add.a.group{% endtrans %}</h2>
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="rz-form-field rz-form-field--align-start">
                <button class="rz-button rz-button--primary" type="submit">
                    <span class="rz-button__label">{% trans %}add.group{% endtrans %}</span>
                    <span class="rz-button__icon rz-icon-ri--add-line"></span>
                </button>
            </div>
        {{ form_end(form) }}
    </article>
    {% include '@RoadizRozier/users/actionsMenu.html.twig' %}
</section>
{% endblock %}
