<nav class="rz-menu-bar">
    <ul class="rz-menu-bar__inner">
        {% if is_granted('USER_EDIT', user) %}
            <li>
                <a class="rz-menu-bar__item{% if current == 'edit' %} rz-menu-bar__item--selected{% endif %}"
                aria-current="{{ current == 'edit' ? 'true' : 'false' }}"
                href="{{ path('usersEditPage', { id: user.getId }) }}">
                    {% trans %}user.edit{% endtrans %}
                </a>
            </li>
        {% endif %}
        {% if is_granted('USER_EDIT_DETAIL', user) %}
            <li>
                <a class="rz-menu-bar__item{% if current == 'edit_details' %} rz-menu-bar__item--selected{% endif %}"
                aria-current="{{ current == 'edit_details' ? 'true' : 'false' }}"
                href="{{ path('usersEditDetailsPage', { id: user.getId }) }}">
                    {% trans %}user.edit_details{% endtrans %}
                </a>
            </li>
        {% endif %}
        {% if (is_granted('ROLE_ACCESS_USERS')) %}
            <li>
                <a class="rz-menu-bar__item{% if current == 'security' %} rz-menu-bar__item--selected{% endif %}"
                aria-current="{{ current == 'security' ? 'true' : 'false' }}"
                href="{{ path('usersSecurityPage', { userId: user.getId }) }}">
                    {% trans %}user.security{% endtrans %}
                </a>
            </li>
            <li>
                <a class="rz-menu-bar__item{% if current == 'roles' %} rz-menu-bar__item--selected{% endif %}"
                aria-current="{{ current == 'roles' ? 'true' : 'false' }}"
                href="{{ path('usersEditRolesPage', { userId: user.getId }) }}">
                    {% trans %}user.roles{% endtrans %}
                </a>
            </li>
            <li>
                <a class="rz-menu-bar__item{% if current == 'groups' %} rz-menu-bar__item--selected{% endif %}"
                aria-current="{{ current == 'groups' ? 'true' : 'false' }}"
                href="{{ path('usersEditGroupsPage', { userId: user.getId }) }}">
                    {% trans %}user.groups{% endtrans %}
                </a>
            </li>
        {% endif %}
        {% if is_granted('USER_VIEW_HISTORY', user) %}
            <li class="rz-menu-bar__separator"></li>
            <li>
                <a class="rz-menu-bar__item{% if current == 'history' %} rz-menu-bar__item--selected{% endif %}"
                aria-current="{{ current == 'history' ? 'true' : 'false' }}"
                aria-label="{% trans %}user.history{% endtrans %}"
                href="{{ path('historyUserPage', { userId: user.getId }) }}">
                    <span class="rz-icon-ri--history-line"></span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
