{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {{ "edit.user.%name%.roles"|trans({'%name%': user.username })|truncate_title }}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
    {% include '@RoadizRozier/users/head.html.twig' with {
        title: "edit.user.%name%.roles"|trans({'%name%': user.username })|truncate_title(40),
        with_nav_bar: true,
        user: user,
        current: 'roles',
        with_breadcrumb: true,
    } only %}

    <section class="rz-page__body">
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            roles: user.roles,
            caption: 'inherited.roles.caption'|trans,
        } only %}
            {% block thead_cells %}
                <th>{% trans %}inherited.roles{% endtrans %}</th>
            {% endblock %}

            {% block tbody_content %}
                {% for role in roles %}
                    <tr>
                        <td>{{ role }}</td>
                    </tr>
                {% else %}
                    {{ _self.fallback_row({
                        length: 1,
                        selection_available: selection_available,
                        actions_available: actions_available,
                        message: 'no_roles',
                    }) }}
                {% endfor %}
            {% endblock %}
        {% endembed %}

        <hr />

        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            userRoles: user.userRoles,
            selection_available: false,
            actions_available: true,
            caption: 'specific.roles.caption'|trans,
            userId: user.id,
        } only %}
            {% block thead_cells %}
                <th>{% trans %}specific.roles{% endtrans %}</th>
            {% endblock %}

            {% block tbody_content %}
                {% for role in userRoles %}
                    <tr>
                        <td>{{ role }}</td>
                        {% if actions_available %}
                            <td>
                                {% include '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    'edit_href': null,
                                    'delete_href': is_granted(role) ? path('usersRemoveRolesPage', { userId: userId, role: role }) : null,
                                    'delete_title': 'remove'|trans,
                                } only %}
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    {{ _self.fallback_row({
                        length: 1,
                        selection_available: selection_available,
                        actions_available: actions_available,
                        message: 'no_specific_roles',
                    }) }}
                {% endfor %}
            {% endblock %}
        {% endembed %}

        <hr />

        <h2 class="text-h1-sm">{% trans %}add.a.specific.role{% endtrans %}</h2>
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="rz-form-field rz-form-field--align-start">
                {% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}
                {{ rz_button.root({
                    size: 'md',
                    label: 'add.role'|trans,
                    icon: 'rz-icon-ri--add-line',
                    attributes: {
                        type: 'submit'
                    }
                }) }}
            </div>
        {{ form_end(form) }}
    </section>

    {% include '@RoadizRozier/users/actionsMenu.html.twig' %}
{% endblock %}
