<td class="mobile-hidden uk-visible-xlarge">
    {% if item.pictureUrl and item.pictureUrl != '#' %}
        <img width="45" height="45"
             data-uk-tooltip="{animation:true}"
             title="{{- item.identifier|default(item.username) -}}"
             class="uk-thumbnail gravatar user-image"
             src="{{ item.pictureUrl }}"
             alt="{{ item.identifier }}" />
    {% else %}
        <span
            data-uk-tooltip="{animation:true}"
            title="{{- item.identifier|default(item.username) -}}"
            class="uk-thumbnail gravatar user-image">
            <i class="uk-icon uk-icon-rz-user"></i>
        </span>
    {% endif %}
</td>
<td>
    {% if is_granted('ROLE_SUPERADMIN') or not item.SuperAdmin %}
        <a href="{{ path('usersEditPage', { id: item.getId }) }}">
            {{- item.username|u.truncate(30) -}}
        </a>
    {% else %}
        {{- item.username|u.truncate(30) -}}
    {% endif %}
</td>
<td class="mobile-hidden">{{ item.email|u.truncate(30) }}</td>
<td class="mobile-hidden">
    {% if item.lastLogin %}
        {{ item.lastLogin|format_datetime }}
    {% else %}
        {% trans %}user.neverLoggedIn{% endtrans %}
    {% endif %}
</td>
<td class="mobile-hidden uk-visible-xlarge">{% transchoice item.roles|length %}{0} no.role|{1} 1.role|]1,Inf] %count%.roles{% endtranschoice %}</td>
<td class="mobile-hidden uk-visible-large user-status">
    {% if item.enabled %}
        <div class="uk-button-status" title="{% trans %}user.enabled{% endtrans %}" data-uk-tooltip="{animation:true}">
            <i class="uk-icon-check"></i>
        </div>
    {% else %}
        <div class="uk-button-status uk-button-danger" title="{% trans %}user.disabled{% endtrans %}" data-uk-tooltip="{animation:true}">
            <i class="uk-icon-close"></i>
        </div>
    {% endif %}
    {% if not item.accountNonLocked %}
        <div class="uk-button-status uk-button-warning" title="{% trans %}user.locked{% endtrans %}" data-uk-tooltip="{animation:true}">
            <i class="uk-icon-lock"></i>
        </div>
    {% endif %}
    {% if not item.credentialsNonExpired or not item.accountNonExpired %}
        <div class="uk-button-status uk-button-danger" title="{% trans %}user.expired{% endtrans %}" data-uk-tooltip="{animation:true}">
            <i class="uk-icon-hourglass-end"></i>
        </div>
    {% endif %}
</td>
<td class="table-actions-row table-actions-row-3">
    {% if hasBulkActions %}
        <div class="bulk-selection">
            <input class="checkbox" type="checkbox" name="bulk-selection[]" value="{{ item.id }}" />
        </div>
    {% endif %}
    {% if is_granted('ROLE_SUPERADMIN') or not item.SuperAdmin %}
        <div class="uk-button-group">
            <a class="uk-button uk-button-content uk-button-small"
               href="{{ path('usersEditPage', { id: item.id }) }}"
               title="{% trans %}edit{% endtrans %}"
               data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
            {% if not (item.username == app.user.username or is_granted('IS_IMPERSONATOR')) %}
                <a class="uk-button uk-button-content uk-button-small rz-no-ajax-link"
                   href="{{ path('adminHomePage') }}?_su={{ item.username }}"
                   title="{% trans %}start.test.user.right{% endtrans %}"
                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-sudo"></i></a>
            {% endif %}
            {% if is_granted('ROLE_ACCESS_USERS_DELETE') %}
                <a class="uk-button uk-button-content uk-button-small uk-button-danger"
                   href="{{ path('usersDeletePage', { id: item.id }) }}"
                   title="{% trans %}delete{% endtrans %}"
                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
            {% endif %}
        </div>
    {% endif %}
</td>
