{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {{- "edit.settingGroup.%name%"|trans({'%name%': item.name })|truncate_title -}}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global">

    {% include '@RoadizRozier/settingGroups/head.html.twig' with {
        title: "edit.settingGroup.%name%"|trans({'%name%': item.name})|truncate_title,
        with_breadcrumb: true,
    } only %}

    <article class="content content-settingGroup-edit">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: { id: 'edit-settingGroup-form'}}) }}
            {{ form_widget(form) }}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#edit-settingGroup-form') }}
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/settingGroups/actionsMenu.html.twig' %}
</section>
{% endblock %}
