{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {% trans %}settingGroups{% endtrans %}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
    <section class="content-global content-nav-and-filters">
        {% include '@RoadizRozier/settingGroups/head.html.twig' with {
            title: 'settingGroups'|trans,
            filters: filters,
            buttons: [{
                label: 'add.a.settingGroup'|trans,
                attributes: {
                    href: path('settingGroupsAddPage'),
                },
                icon: 'rz-icon-ri--add-line'
            }],
            breadcrumb: {
                label: 'settingGroups-breadcrumb',
                current: 'settingGroups'|trans,
            },
        } only %}

        {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
            filters: filters,
        }  only %}

        <article>
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            actions_available: true,
            selection_available: false,
        } %}
            {% block thead_cells %}
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'name',
                        'filters': filters,
                        'label': 'name'|trans,
                    } only %}
                </th>
                <th class="mobile-hidden">{% trans %}settingGroup.in.menu{% endtrans %}</th>
            {% endblock %}

            {% block tbody_content %}
                {%- for item in items -%}
                    {% set edit_href = path('settingGroupsEditPage', { id: item.id }) %}
                    <tr>
                        <td><a href="{{ edit_href }}">{{ item.getName }}</a></td>
                        <td class="mobile-hidden">
                            {% if item.isInMenu %}
                                {% import '@RoadizRozier/macros/rz_badge.html.twig' as rz_badge %}
                                {{ rz_badge.item({
                                    icon: 'rz-icon-ri--check-line',
                                    attributes: {
                                        title: 'settingGroup.in.menu'|trans,
                                    }
                                }) }}
                            {% endif %}
                        </td>
                        {% if actions_available %}
                            <td>
                                {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    'edit_href': edit_href,
                                    'delete_href': path('settingGroupsDeletePage', { id: item.id }),
                                } %}
                                    {% block other_actions %}
                                        {{ _self.button({
                                            icon: 'rz-icon-ri--settings-4-line',
                                            attributes: {
                                                href: path('settingGroupsSettingsPage', { settingGroupId: item.id }),
                                                title: 'see.settings'|trans,
                                            }
                                        }) }}
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        {% endif %}
                    </tr>
                {%- endfor -%}
            {% endblock %}
        {% endembed %}
        </article>
    </section>
{% endblock %}
