{% set url = path('redirectionsEditPage', { id: item.id }) %}
{% if item.redirectNodeSource %}
    {% set url = path('nodesEditSEOPage', {
        'nodeId': item.redirectNodeSource.node.id,
        'translationId': item.redirectNodeSource.translation.id
    }) ~ '#manage-redirections' %}
{% endif %}
<td>
    <a href="{{ url }}">{{ item.query }}</a>
</td>
<td>
    {% if item.redirectNodeSource %}
        <i class="uk-icon uk-icon-magic"></i> {{ path(item.redirectNodeSource) -}}
    {% else %}
        {{- item.redirectUri|u.truncate(80, '…') -}}
    {% endif %}
</td>
<td>{{ item.typeAsString|trans }}</td>
<td>{{ item.useCount }}</td>
<td class="table-actions-row">
    {% apply spaceless %}
        {% if hasBulkActions %}
            <div class="bulk-selection">
                <input class="checkbox" type="checkbox" name="bulk-selection[]" value="{{ item.id }}" />
            </div>
        {% endif %}
        <a class="uk-button uk-button-content uk-button-small"
           href="{{ url }}"
           title="{% trans %}edit{% endtrans %}"
           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
        <a class="uk-button uk-button-content uk-button-small uk-button-table-delete"
           href="{{ path('redirectionsDeletePage', { id: item.id }) }}"
           title="{% trans %}delete{% endtrans %}"
           data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
    {% endapply %}
</td>
