{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}folders{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global content-nav-and-filters">
    {% include '@RoadizRozier/folders/head.html.twig' with {
        title: 'folders'|trans,
        filters: filters,
        buttons: [{
            label: 'add.a.folder'|trans,
            href: path('foldersAddPage'),
            icon: 'rz-icon-ri--add-line'
        }]
    } only %}

    {% include '@RoadizRozier/widgets/filtersBar.html.twig' %}
    <article>
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            selection_available: false,
            actions_available: true,
        } %}
            {% block thead_cells %}
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'name',
                        'label': 'name'|trans,
                    } %}
                </th>
            {% endblock %}

            {% block tbody_content %}
                {% for folder in folders %}
                    <tr>
                        {% if selection_available %}
                            <td>
                                {% import '@RoadizRozier/macros/rz_bulk.html.twig' as rz_bulk %}
                                {{ rz_bulk.select_input({ value: item.id }) }}
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ path('foldersEditPage', { folderId: folder.id }) }}">{{ folder.folderName }}</a>
                        </td>
                        {% if actions_available %}
                            <td>
                                {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    'edit_href': path('foldersEditPage', { folderId: folder.id }),
                                    'delete_href': path('foldersDeletePage', { folderId: folder.id }),
                                } %}
                                    {% block other_actions %}
                                        {% import '@RoadizRozier/macros/rz_table_action.html.twig' as rz_table_action %}
                                        {{ rz_table_action.item({
                                            icon: 'uk-icon-rz-download',
                                            attributes: {
                                                href: path('foldersDownloadPage', { folderId: folder.id }),
                                                title: 'download.folder.content'|trans,
                                            }
                                        }) }}
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </article>
</section>
{% endblock %}
