<div class="rz-menu-bar">
    <div class="rz-menu-bar__inner">
        <a class="rz-menu-bar__item{% if current == 'edit' %} rz-menu-bar__item--selected{% endif %}"
           aria-current="{{ current == 'edit' ? 'true' : 'false' }}"
           href="{{ path('foldersEditPage', { folderId: folder.id }) }}">
            {% trans %}folder.settings{% endtrans %}
        </a>
        <a class="rz-menu-bar__item{% if current == 'edit-label' %} rz-menu-bar__item--selected{% endif %}"
           aria-current="{{ current == 'edit-label' ? 'true' : 'false' }}"
           href="{{ path('foldersEditTranslationPage', { folderId: folder.id, translationId:translation.id }) }}">
            {% trans %}folder.labels{% endtrans %}
        </a>
        <a class="rz-menu-bar__item{% if current == 'list' %} rz-menu-bar__item--selected{% endif %}"
           aria-current="{{ current == 'list' ? 'true' : 'false' }}"
           href="{{ path('documentsHomePage', { folderId: folder.id }) }}">
            {% trans %}documents{% endtrans %}
        </a>
        <a class="rz-menu-bar__item{% if current == 'private_list' %} rz-menu-bar__item--selected{% endif %}"
           aria-current="{{ current == 'private_list' ? 'true' : 'false' }}"
           href="{{ path('documentsPrivateHomePage', { folderId: folder.id }) }}">
            {% trans %}private_documents{% endtrans %}
        </a>
    </div>
</div>
