
{% set currentTitle = source.title|default(node.nodeName) %}

{% extends '@RoadizRozier/layout.html.twig' %}

{% block content %}
    <section class="content-global">
        {% include '@RoadizRozier/nodes/head.html.twig' with {
            node: node,
            title: ("edit.nodeSource.%name%"|trans({'%name%': currentTitle}))|u.truncate(30, '[…]', false),
            translation: translation,
            available_translations: available_translations,
            current: 'attributes',
            app: app,
            with_debug_badge: true,
            with_info_badge: true,
            with_status_badge: true,
            with_nav_bar: true,
        } only %}

        <article>
            {% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}

            {{ rz_button.root({
                icon: 'rz-icon-ri--add-large-line',
                label: 'add.a.attribute'|trans,
                attributes: {
                    href: path('attributesAddPage', {
                        referer: path('nodesEditAttributesPage', { nodeId: node.id, translationId: translation.id })
                    }),
                }
            }) }}

            <hr/>

            {% if addAttributeForm %}
                {% form_theme addAttributeForm '@RoadizRozier/horizontalForms.html.twig' %}
                {{ form_start(addAttributeForm, {
                    'attr': {
                        'id': 'add-node-attribute-form',
                        'class': 'rz-form--align-end'
                    }
                }) }}
                    {{ form_widget(addAttributeForm) }}
                    {% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}
                    {{ rz_button.root({
                        icon: 'rz-icon-ri--add-large-line',
                        emphasis: 'primary',
                        label: 'add.a.node.attribute'|trans,
                        attributes: {
                            type: 'submit',
                        }
                    }) }}
                {{ form_end(addAttributeForm) }}
            {% endif %}

            <hr/>

            {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
                sortable: not order_by_weight,
                class: 'attribute-value-forms',
            } %}
                {% block tbody_content %}
                    {% for attribute_value_translation_form in attribute_value_translation_forms %}
                        {% set attributeValue = attribute_value_translation_form.vars.data.attributeValue %}
                        <tr
                            class="setting-row"
                            data-position="{{ attributeValue.position }}"
                            data-id="{{ attributeValue.id }}"
                            style="--rz-accent-color: {{ attributeValue.attribute.color|default('transparent') }};"
                        >
                            <th>
                                <span class="rz-table__color"></span>
                                <strong>{{- attribute_value_translation_form.vars.data|attribute_label -}}</strong>
                            </th>
                            <td>
                                {% set _groupLabel = attributeValue.attribute.group|attribute_group_label %}
                                {{- _groupLabel is not empty ? _groupLabel : attributeValue.attribute.group.name -}}
                            </td>
                            <td>
                                {% form_theme attribute_value_translation_form '@RoadizRozier/horizontalForms.html.twig' %}
                                {{ form_start(attribute_value_translation_form) }}
                                    {{ form_widget(attribute_value_translation_form) }}
                                    {% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}
                                    {{ rz_button.root({
                                        icon: 'rz-icon-ri--edit-line',
                                        label: 'edit'|trans,
                                        attributes: {
                                            type: 'submit',
                                            style: 'display: none;'
                                        }
                                    }) }}
                                {{ form_end(attribute_value_translation_form) }}
                            </td>
                            <td>
                                {% set display_delete_button = translation and (translation.defaultTranslation or attributeValue.attributeValueTranslations.count == 1) %}
                                {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    delete_title: 'attributes.delete_value'|trans,
                                    delete_href: display_delete_button ? path('nodesDeleteAttributesPage', { nodeId : node.id, translationId : translation.id, attributeValueId : attributeValue.id }) : null,
                                    save_href: '#' ~ attribute_value_translation_form.vars.id,
                                    save_class: 'rz-button-settings-save',
                                } %}
                                    {% block other_actions %}
                                        {% if translation and attributeValue.attributeValueTranslations.count > 1 %}
                                            {% import '@RoadizRozier/macros/rz_table_action.html.twig' as rz_table_action %}
                                            {{ rz_table_action.item({
                                                icon: 'rz-icon-ri--repeat-2-line',
                                                attributes: {
                                                    href: path('nodesResetAttributesPage', {
                                                        nodeId : node.id,
                                                        translationId : translation.id,
                                                        attributeValueId : attributeValue.id
                                                    }),
                                                    title: 'attributes.reset_value'|trans,
                                                }
                                            }) }}
                                        {% endif %}
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}

        </article>

        {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
    </section>
{% endblock %}
