{% set currentTitle = source.title|default(node.nodeName) %}

{% extends '@RoadizRozier/layout.html.twig' %}
{% import "@RoadizRozier/macros/rz_status_badge.html.twig" as rz_status_badge %}

{% block content %}
    <section class="content-global">
        {% include '@RoadizRozier/nodes/head.html.twig' with {
            node: node,
            title: ("edit.nodeSource.%name%"|trans({'%name%': currentTitle}))|u.truncate(30, '[…]', false),
            translation: translation,
            available_translations: available_translations,
            current: 'attributes',
            app: app,
            with_debug_badge: true,
            with_info_badge: true,
            with_status_badge: true,
            with_nav_bar: true,
        } only %}

        <article>
            <table class="attribute-value-forms rz-table">
                {% if not order_by_weight %}
                    <tbody class="uk-sortable" data-uk-sortable="{animation:0, dragCustomClass:'setting-row rz-node-type-field-dragged', handleClass:'attribute-value-col'}">
                {% else %}
                    <tbody>
                {% endif %}
                    {% for attribute_value_translation_form in attribute_value_translation_forms %}
                        {% set attributeValue = attribute_value_translation_form.vars.data.attributeValue %}
                        <tr class="setting-row" data-position="{{ attributeValue.position }}" data-id="{{ attributeValue.id }}">
                            <th class="name attribute-value-col">
                                <span class="color" style="--rz-accent-color: {{ attributeValue.attribute.color|default('transparent') }};"></span>
                                <strong>{{- attribute_value_translation_form.vars.data|attribute_label -}}</strong>
                            </th>
                            {%- if attributeValue.attribute.group %}
                                <td class="uk-visible-xlarge">
                                    {{- attributeValue.attribute.group|attribute_group_label -}}
                                </td>
                            {% endif -%}
                            <td>
                                {% form_theme attribute_value_translation_form '@RoadizRozier/horizontalForms.html.twig' %}
                                {{ form_start(attribute_value_translation_form, {
                                    'attr': {
                                        'class': 'rz-form'
                                    }
                                }) }}
                                {{ form_widget(attribute_value_translation_form) }}
                                <button
                                    class="rz-button"
                                    title="{% trans %}edit{% endtrans %}"
                                    type="submit"
                                    style="display:none"
                                >
                                    <span class="rz-button__icon rz-icon-ri--arrow-drop-right-line"></span>
                                </button>
                                {{ form_end(attribute_value_translation_form) }}
                            </td>
                            <td class="table-actions-row">
                                <div class="rz-button-group rz-button-group--md rz-button-group--end rz-button-group--collapsed">
                                        <a
                                            is="rz-link"
                                            tooltip-text="{% trans %}save{% endtrans %}"
                                            popover-placement="top"
                                            popover-offset="4"
                                            class="rz-button rz-button--primary rz-button--success rz-button-group__button rz-button-settings-save"
                                            href="#{{ attribute_value_translation_form.vars.id }}"
                                            title="{% trans %}save{% endtrans %}"
                                        >
                                            <span class="rz-button__icon rz-icon-ri--save-line"></span>
                                        </a>
                                    {% if translation and attributeValue.attributeValueTranslations.count > 1 %}
                                        <a
                                            is="rz-link"
                                            tooltip-text="{% trans %}attributes.reset_value{% endtrans %}"
                                            popover-placement="top"
                                            popover-offset="4"
                                            class="rz-button rz-button--secondary rz-button-group__button"
                                            href="{{ path('nodesResetAttributesPage', {
                                                nodeId : node.id,
                                                translationId : translation.id,
                                                attributeValueId : attributeValue.id
                                            }) }}"
                                            title="{% trans %}attributes.reset_value{% endtrans %}"
                                        >
                                            <span class="rz-button__icon rz-icon-ri--reset-left-line"></span>
                                        </a>
                                    {% endif %}
                                    {% if translation and (translation.defaultTranslation or attributeValue.attributeValueTranslations.count == 1) %}
                                        <a
                                            is="rz-link"
                                            tooltip-text="{% trans %}attributes.delete_value{% endtrans %}"
                                            popover-placement="top"
                                            popover-offset="4"
                                            class="rz-button rz-button--primary rz-button--danger rz-button-group__button"
                                            href="{{ path('nodesDeleteAttributesPage', {
                                                nodeId : node.id,
                                                translationId : translation.id,
                                                attributeValueId : attributeValue.id
                                            }) }}"
                                            title="{% trans %}attributes.delete_value{% endtrans %}"
                                        >
                                            <span class="rz-button__icon rz-icon-ri--delete-bin-7-line"></span>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if addAttributeForm %}
                {% form_theme addAttributeForm '@RoadizRozier/horizontalForms.html.twig' %}
                {{ form_start(addAttributeForm, {
                    'attr': {
                        'id': 'add-node-attribute-form',
                        'class': 'rz-form'
                    }
                }) }}
                {{ form_widget(addAttributeForm) }}
                <div class="rz-form-field rz-form-field--justify-end rz-form-field--align-end">
                    <button type="submit" class="rz-button rz-button--primary">
                        <span class="rz-button__label">{% trans %}add.a.node.attribute{% endtrans %}</span>
                        <span class="rz-button__icon rz-icon-ri--add-large-line"></span>
                    </button>
                </div>
                {{ form_end(addAttributeForm) }}
            {% endif %}
            <hr>

            {% set currentPath = path('nodesEditAttributesPage', {
                nodeId: node.id,
                translationId: translation.id
            })  %}

            <a
                class="rz-button rz-button--secondary"
                href="{{ path('attributesAddPage', {referer: currentPath}) }}"
            >
                <span class="rz-button__label">{% trans %}add.a.attribute{%- endtrans -%}</span>
                <span class="rz-button__icon rz-icon-ri--add-large-line"></span>
            </a>
        </article>

        {% include '@RoadizRozier/nodes/actionsMenu.html.twig' %}
    </section>
{% endblock %}
