<tr class="{% if loop.index0 is odd %}odd{% endif %}">
    <td>
        {# Update URL alias #}
        {% form_theme urlAlias.editForm '@RoadizRozier/horizontalForms.html.twig' %}
        {{ form_start(urlAlias.editForm, {
            attr: { class: "urlalias-form" }
        }) }}
            {{ form_widget(urlAlias.editForm) }}
            <div class="rz-form-field rz-form-field--align-end">
                <button class="rz-button rz-button--primary" type="submit" value="{% trans %}edit{% endtrans %}">
                    <span class="rz-button__label">{% trans %}edit{% endtrans %}</span>
                    <span class="rz-button__icon rz-icon-ri--edit-line"></span>
                </button>
            </div>
        {{ form_end(urlAlias.editForm) }}
    </td>
    <td>{{ urlAlias.alias.getNodeSource.getTranslation.getName }}</td>
    <td>
        {# Delete URL Alias #}
        {% form_theme urlAlias.deleteForm '@RoadizRozier/horizontalForms.html.twig' %}
        {{ form_start(urlAlias.deleteForm) }}
            {{ form_widget(urlAlias.deleteForm) }}
            <div class="rz-form-field rz-form-field--justify-end">
                <button class="rz-button rz-button--primary rz-button--danger" type="submit" value="{% trans %}delete{% endtrans %}">
                    <span class="rz-button__label">{% trans %}delete{% endtrans %}</span>
                    <span class="rz-button__icon rz-icon-ri--delete-bin-7-line"></span>
                </button>
            </div>
        {{ form_end(urlAlias.deleteForm) }}
    </td>
</tr>
