{% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}

<tr>
    <td>
        {% form_theme urlAlias.editForm '@RoadizRozier/forms.html.twig' %}

        {{ form_start(urlAlias.editForm, { attr: { class: 'rz-form-field--head-hidden' } }) }}
            {{ form_widget(urlAlias.editForm) }}
        {{ form_end(urlAlias.editForm) }}
    </td>
    <td>
        {{ urlAlias.alias.getNodeSource.getTranslation.getName }}
    </td>
    {% if actions_available %}
        <td>
            {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' %}
                {% block other_actions %}
                    {# Submit editForm #}
                    {{ _self.button({
                        icon: 'rz-icon-ri--save-line',
                        color: 'success',
                        attributes: {
                            type: 'submit',
                            title: 'save'|trans,
                            form: field_id(urlAlias.editForm),
                        }
                    }) }}

                    {# Delete URL Alias #}
                    {% form_theme urlAlias.deleteForm '@RoadizRozier/forms.html.twig' %}
                    {{ form_start(urlAlias.deleteForm) }}
                         {{ form_widget(urlAlias.deleteForm, { attr: { style: 'display: none;' }}) }}
                        {{ _self.button({
                            icon: 'rz-icon-ri--delete-bin-7-line',
                            color: 'danger',
                            attributes: {
                                type: 'submit',
                                title: 'delete'|trans,
                            }
                        }) }}
                    {{ form_end(urlAlias.deleteForm) }}
                {% endblock %}
            {% endembed %}
        </td>
    {% endif %}
</tr>
