{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ customForm.displayName|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="content-global content-nav-and-filters">
        {% include '@RoadizRozier/custom-forms/head.html.twig' with {
            title: customForm.displayName|truncate_title,
            filters: filters,
            with_nav_bar: true,
            current: 'customFormAnswers',
            type: customForm,
            buttons: [{
                label: 'export'|trans,
                href: path('customFormsExportPage', { id: customForm.id }),
                icon: 'rz-icon-ri--download-line'
            }]
        } only %}
        {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
            filters: filters,
        }  only %}
        <article class="content content-no-action-menu content-node-types-list">
            <div class="content-table-cont">
                <table class="node-types content-table uk-table">
                    <thead>
                    <tr>
                        <th class="mobile-hidden">
                            {% trans %}ip.address{% endtrans %}
                            {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                                'field': 'ip',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden">
                            {% trans %}email{% endtrans %}
                        </th>
                        <th>
                            {% trans %}submitted.date{% endtrans %}
                            {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                                'field': 'submittedAt',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="table-actions-row table-actions-row-2">{% trans %}actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for type in custom_form_answers %}
                        <tr>
                            <td class="mobile-hidden">{{ type.ip }}</td>
                            <td class="mobile-hidden">{{ type.email }}</td>
                            <td>{{ type.submittedAt|format_date('short', locale=app.request.locale) }}</td>
                            <td class="table-actions-row table-actions-row-2">
                                <div class="uk-button-group">
                                    <a class="uk-button uk-button-content uk-button-small"
                                       href="{{ path('customFormFieldAttributesHomePage', { customFormAnswerId: type.getId }) }}"
                                       title="{% trans %}customFormAnswer.answers{% endtrans %}"
                                       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-node-type-field"></i></a>
                                    <a class="uk-button uk-button-content uk-button-small uk-button-danger"
                                       href="{{ path('customFormAnswersDeletePage', { customFormAnswerId: type.getId }) }}"
                                       title="{% trans %}delete{% endtrans %}"
                                       data-uk-tooltip="{animation:true}">
                                        <i class="uk-icon-rz-trash-o"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>
    </section>
{% endblock %}
