{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{% trans %}add.a.customFormField{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/custom-forms/head.html.twig' with {
        title: 'add.a.customFormField'|trans,
        with_breadcrumb: true,
        breadcrumb_parents: [{
            displayName: customForm.displayName|truncate_title(30),
            type: 'customFormFields',
            url: path('customFormFieldsListPage', {customFormId: customForm.id})
        }],
    } only %}

    <article class="content">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{- form_start(form, { 'attr': { 'id': "add-custom-form-field-form" }}) -}}
        {{ form_widget(form) }}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#add-custom-form-field-form') }}
        {{- form_end(form) -}}
    </article>

    {% include '@RoadizRozier/custom-form-fields/actionsMenu.html.twig' %}
</section>
{% endblock %}
