{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "edit.customFormField.%name%"|trans({'%name%': field.label }) }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/custom-form-fields/head.html.twig' with {
        title: "edit.customFormField.%name%"|trans({'%name%': field.label })
    } only %}

    <article class="content">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, {attr:{id: 'edit-customformfield-form'}}) }}
            {{ form_widget(form) }}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#edit-customformfield-form') }}
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/custom-form-fields/actionsMenu.html.twig' %}
</section>
{% endblock %}
