{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ customForm.displayName|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global content-nav-and-filters">
    {% include '@RoadizRozier/custom-form-fields/head.html.twig' with {
        title: customForm.displayName|truncate_title,
        buttons: [{
            label: 'add.a.customFormField'|trans,
            href: path('customFormFieldsAddPage', {customFormId: customForm.id}),
            icon: 'rz-icon-ri--add-line'
        }]
    } only %}

    {% include '@RoadizRozier/custom-forms/navBar.html.twig' with {
        type: customForm,
        current: 'customFormFields'
    } only %}

    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="content-table custom-form-fields uk-table">
                <thead>
                    <tr>
                        <th>{% trans %}label{% endtrans %}</th>
                        <th class="mobile-hidden">{% trans %}type{% endtrans %}</th>
                        <th class="mobile-hidden">{% trans %}group{% endtrans %}</th>
                        <th class="mobile-hidden">{% trans %}status{% endtrans %}</th>
                        <th class="table-actions-row">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody class="uk-sortable">
                    {% for field in fields %}
                        <tr class="custom-form-field-row" data-position="{{ field.position }}">
                            <td class="custom-form-field-col-1">{{ field.label }}</td>
                            <td class="mobile-hidden">{{ field.typeName }}</td>
                            <td class="mobile-hidden">{% if field.groupName %}{{ field.groupName }}{% endif %}</td>
                            <td class="mobile-hidden">
                                {% if field.required %}
                                    <div class="uk-badge uk-badge-notification">{% trans %}required{% endtrans %}</div>
                                {% endif %}
                            </td>
                            <td class="table-actions-row">
                                <i class="uk-icon-rz-drag-and-drop"></i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
