{% extends "@!RoadizRozier/dashboard/index.html.twig" %}
{% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}

{%- block header -%}
    {% include '@RoadizRozier/admin/head.html.twig' with {
        title: "hello.%name%"|trans({'%name%': displayName}),
        with_nav_bar: true,
        nav_bar_template: '@RoadizRozier/dashboard/navBar.html.twig',
        nav_bar_context: {'current':'dashboard'},
        breadcrumb: {
            label: 'breadcrumb',
            current: 'dashboard'|trans,
        },
        buttons: [
            {
                label: 'articles.add'|trans,
                attributes : {
                    href: path('appArticlesAddPage'),
                },
                icon: 'rz-icon-ri--add-line',
            }
        ],
    } only %}
{%- endblock -%}

{%- block dashboard_panels -%}
    <div class="rz-dashboard__row">
        {% embed '@RoadizRozier/dashboard/panel.html.twig' with {
            icon: 'rz-icon-ri--computer-line',
            title: 'roadiz.dashboard.my_last_articles'|trans,
            button: {
                size: 'sm',
                label: 'see_all'|trans,
                icon: 'rz-icon-ri--arrow-right-line',
                attributes: {
                    href: path('appArticlesListPage')
                }
            }
        } %}
            {% block content %}
                {% embed '@RoadizRozier/includes/rz_table.html.twig' %}
                    {% block tbody_content %}
                        {% for article in articles %}
                            <tr>
                                <td>
                                    <rz-entity-thumbnail
                                        size="medium"
                                        entity-class="App\GeneratedEntity\NSArticle"
                                        entity-id="{{ article.id }}"
                                        data-uk-tooltip="{animation:true}"
                                    ></rz-entity-thumbnail>
                                </td>
                                <td>
                                    {% import '@RoadizRozier/macros/rz_link.html.twig' as rz_link %}
                                    {{ rz_link.root({
                                        label: article.title,
                                        attributes: {
                                            href: path('nodesForwardSourcePage', {nodeSourceId: article.id}),
                                        },
                                    }) }}
                                </td>
                                {% if article.node.updatedAt is defined %}
                                <td>
                                    {{ article.node.updatedAt|format_datetime('medium', 'short', locale=app.request.locale) }}
                                </td>
                                {% endif %}
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">{{ '{0} no.item|{1} 1.item|]1,Inf] %count%.items'|transchoice(0)|raw }}</td>
                            </tr>
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            {% endblock %}
        {% endembed %}

        {% if clientsTag is not null %}
            {% embed '@RoadizRozier/dashboard/panel.html.twig' with {
                icon: 'rz-icon-ri--price-tag-3-line',
                title: 'roadiz.dashboard.clients'|trans,
                button: {
                    size: 'sm',
                    label: 'see_all'|trans,
                    icon: 'rz-icon-ri--arrow-right-line',
                    attributes: {
                        href: path('tagsTreePage', {tagId: clientsTag.id})
                    }
                },
                type: 'card',
            } %}
                {% block content %}
                    <div class="text-h1-md">{{ clients|length }}</div>
                {% endblock %}
            {% endembed %}

        {% endif %}
    </div>
{%- endblock -%}
