{% if orderingParams is not defined %}
    {% if filters is not defined %}
        {% set orderingParams = {
            'item_per_page': 15,
            'page': 1,
        } %}
    {% else %}
        {% set orderingParams = app.request.query.all|merge({
            'item_per_page': filters.itemPerPage,
            'page': filters.currentPage,
        }) %}
        {% if filters.search %}
            {% set orderingParams = orderingParams|merge({
                'search': filters.search,
            }) %}
        {% endif %}
    {% endif %}
{% endif %}

{% set hasQuery = app.request.query.get("field") == field %}

{% if hasQuery and app.request.query.get("ordering") == "DESC" %}
    {% set localOrderingParams = orderingParams|merge({
        'field': field,
        'ordering': 'ASC'
    }) %}
    <a
        is="rz-link"
        title="{{ 'sort_asc'|trans }}"
        class="active {{ class_name|default('') }}"
        href="?{{ localOrderingParams|url_encode }}"
    >
        {% if label %}{{ label }}{% endif %}
        <span class="rz-icon-ri--arrow-down-s-fill"></span>
    </a>
{% elseif hasQuery and app.request.query.get("ordering") == "ASC" %}
    {% set localOrderingParams = orderingParams|merge({
        'field': field,
        'ordering': 'DESC'
    }) %}
    <a
        is="rz-link"
        title="{{ 'sort_desc'|trans }}"
        class="active {{ class_name|default('') }}"
        href="?{{ localOrderingParams|url_encode }}"
    >
        {% if label %}{{ label }}{% endif %}
        <span class="rz-icon-ri--arrow-up-s-fill"></span>
    </a>
{% else %}
    {% set localOrderingParams = orderingParams|merge({
        'field': field,
        'ordering': 'ASC'
    }) %}
    <a
        is="rz-link"
        class="{{ class_name|default('') }}"
        title="{{ 'sort_asc'|trans }}"
        href="?{{ localOrderingParams|url_encode }}"
    >
        {% if label %}{{ label }}{% endif %}
        &bull;
    </a>
{% endif %}
