{% extends "base.html.twig" %}

{% block title %}{{ webResponse.item.title }}{% endblock %}

{% block body %}
    {% if webResponse.item %}
        <h1><a href="{{ path(webResponse.item) }}">Page: {{ webResponse.item.title }}</a></h1>
        {% if webResponse.item.content is defined %}
            {{ webResponse.item.content|markdown }}
        {% endif %}
        {% for image in webResponse.item.images %}
            {{ image|display({
                'width': 300,
                'picture': true,
            }) }}
        {% endfor %}
        {% if not webResponse.isHidingBlock and webResponse.blocks.length %}
            <h2>Blocks</h2>
            <ul>
                {% for block in webResponse.blocks %}
                    <li>{{ block.item.title }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}
