{% extends '@RoadizRozier/layout.html.twig' %}

{% import _self as macro %}

{% macro column(type, request) %}
<tr>
    <td class="rz-table__cell--bold">{{ type.customFormField.label|trans }}</td>
    {% if type.customFormField.isCountry  %}
        <td>{{ type.value|country_iso(request.locale) }}</td>
    {% elseif type.customFormField.isDate %}
        <td>{{ type.value|format_datetime('full', 'none', locale=request.locale) }}</td>
    {% elseif type.customFormField.isDateTime %}
        <td>{{ type.value|format_datetime('full', 'medium', locale=request.locale) }}</td>
    {% elseif type.customFormField.isDocuments %}
        <td>
            {% for document in type.documents %}
                <a href="{{ path('documentsDownloadPage', { documentId: document.id}) }}" class="rz-no-ajax-link" download>{{ document.filename }}</a><br>
            {% endfor %}
        </td>
    {% else %}
        <td>{{ type.value|trans }}</td>
    {% endif %}
</tr>
{% endmacro %}

{% block title %}{% trans %}customFormFieldAttribute{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
<section>
    {% include '@RoadizRozier/custom-forms/head.html.twig' with {
        title: 'customFormFieldAttribute'|trans,
        with_breadcrumb: true,
        breadcrumb_parents: [{
            displayName: customForm.displayName|truncate_title(30),
            type: 'customFormFields',
            url: path('customFormAnswersHomePage', {customFormId: customForm.id})
        }],
    } only %}

    <article>
        {% set table_classes = "rz-table rz-table--bordered" %}
        <div class="data-uk-margin metadata-list">
            <table class="{{ table_classes }}">
                {% for groupName, answers in fields %}
                    {% if answers is iterable %}
                        </table>

                        <hr />

                        <h3>{{ groupName|trans }}</h3>
                        <table class="{{ table_classes }}">
                            {% for type in answers %}
                                {{ macro.column(type, app.request) }}
                            {% endfor %}
                        </table>

                        <hr />

                        <table class="{{ table_classes }}">
                    {% else %}
                        {{ macro.column(answers, app.request) }}
                    {% endif %}
                {% endfor %}
                <tr>
                    <td class="rz-table__cell--bold">{{ 'ip.address'|trans }}</td>
                    <td>{{ answer.ip }}</td>
                </tr>
                <tr>
                    <td class="rz-table__cell--bold">{{ 'submitted.date'|trans }}</td>
                    <td>{{ answer.submittedAt|format_datetime('full', 'medium', locale=app.request.locale) }}</td>
                </tr>
            </table>
        </div>
    </article>
</section>
{% endblock %}
