{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "edit.customForm.%name%"|trans({'%name%': customForm.displayName}) }} | {{ parent() }}{% endblock %}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/custom-forms/head.html.twig' with {
        title: "edit.customForm.%name%"|trans({'%name%': customForm.displayName})
    } only %}

    {% include '@RoadizRozier/custom-forms/navBar.html.twig' with {
        type: customForm,
        current: 'customFormEdit'
    } only %}

    <article class="content">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: { id: 'edit-custom-form-form'}}) }}
            {{ form_widget(form) }}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#edit-custom-form-form') }}
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/custom-forms/actionsMenu.html.twig' %}
</section>
{% endblock %}
