{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ customForm.displayName|u.truncate(25, '[…]', true) }} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="content-global manage-custom-form">

        <header class="content-header header-custom-form header-custom-form-edit">
            <h1 class="content-title custom-form-edit-title">{{ customForm.displayName|u.truncate(25, '[…]', true) }}</h1>
            {% include '@RoadizRozier/custom-forms/navBar.html.twig' with {
                type: customForm,
                current:'usage'
            } %}
        </header>
        {# usages #}

        <article class="content content-no-action-menu">
                <div class="content-table-cont">
                    <h3>{% trans %}nodes{% endtrans %}</h3>
                    <table class="content-table uk-table">
                        <thead>
                        <tr>
                            <th>{% trans %}title{% endtrans %}</th>
                            <th>{% trans %}usage.fieldName{% endtrans %}</th>
                            <th>{% trans %}nodeType.name{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for usage in usages %}
                            {% set source = usage.node.nodeSources.first %}
                            {% set field = usage.field %}
                            <tr>
                                <td>
                                    <a href="{{ path('nodesEditSourcePage', {
                                        nodeId: source.node.id,
                                        translationId: source.translation.id
                                    }) }}">
                                        {% if source.title %}
                                            {{ source.title }}
                                        {% else %}
                                            {{ source.node.nodeName }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td>{{ field.name }}</td>
                                <td>{{ field.nodeType.name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </article>
    </section>
{% endblock %}
