{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ customForm.displayName|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
    <section>
        {% include '@RoadizRozier/custom-forms/head.html.twig' with {
            title: customForm.displayName|truncate_title,
            current: 'usage',
            type: customForm,
            with_nav_bar: true
        } only %}

        <article>
            <h3>{% trans %}nodes{% endtrans %}</h3>

            {% embed '@RoadizRozier/includes/rz_table.html.twig' %}
                {% block thead_cells %}
                    <th>{% trans %}title{% endtrans %}</th>
                    <th>{% trans %}usage.fieldName{% endtrans %}</th>
                {% endblock %}

                {% block tbody_content %}
                    {% for usage in usages %}
                    {% set source = usage.node.nodeSources.first %}
                    {% set nodeHref = path('nodesEditSourcePage', { nodeId: source.node.id, translationId: source.translation.id}) %}
                    {% set nodeName = source.title ? source.title : source.node.nodeName %}
                        <tr>
                            <td>
                                <a href="{{ nodeHref }}">{{ nodeName }}</a>
                            </td>
                            <td>{{ usage.fieldName }}</td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </article>
    </section>
{% endblock %}
