{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ customForm.displayName|truncate_title }} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="content-global manage-custom-form">
        {% include '@RoadizRozier/custom-forms/head.html.twig' with {
            title: customForm.displayName|truncate_title,
            current: 'usage',
            type: customForm,
            with_nav_bar: true
        } only %}

        <article class="content content-no-action-menu">
            <div class="content-table-cont">
                <h3>{% trans %}nodes{% endtrans %}</h3>

                {% set nodes = usages|map(u => u.node) %}
                {% include '@RoadizRozier/nodes/list_table.html.twig' with {
                    sortable: false,
                    selection_available: false,
                    actions_available: false,
                    items: nodes,
                } %}

                <table class="content-table uk-table">
                    <thead>
                    <tr>
                        <th>{% trans %}title{% endtrans %}</th>
                        <th>{% trans %}usage.fieldName{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for usage in usages %}
                        {% set source = usage.node.nodeSources.first %}
                        {% set field = usage.fieldName %}
                        <tr>
                            <td>
                                <a href="{{ path('nodesEditSourcePage', {
                                    nodeId: source.node.id,
                                    translationId: source.translation.id
                                }) }}">
                                    {% if source.title %}
                                        {{ source.title }}
                                    {% else %}
                                        {{ source.node.nodeName }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ field }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </article>
    </section>
{% endblock %}
