{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {% trans %}add.a.setting{% endtrans %}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/settings/head.html.twig' with {
        title: 'add.a.setting'|trans,
        with_breadcrumb: true,
    } only %}

    <article class="content content-setting-add">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: { id: 'add-setting-form'}}) }}
            {{ form_widget(form) }}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#add-setting-form') }}
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/settings/actionsMenu.html.twig' %}
</section>
{% endblock %}
