{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {{ settingGroup.name|trans }}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global content-nav-and-filters">
    {% if settingGroup %}
        {% include '@RoadizRozier/settings/head.html.twig' with {
            title: settingGroup.name|trans,
            filters: filters,
            buttons: [
                {
                    label: 'add.a.setting'|trans,
                    href: path('settingsAddPage'),
                    icon: 'rz-icon-ri--add-line'
                },
                {
                    label: 'import'|trans,
                    href: path('settingsImportPage'),
                    icon: 'rz-icon-ri--upload-line'
                },
                {
                    label: 'export'|trans,
                    href: path('settingsExportGroupPage', {settingGroupId: settingGroup.id}),
                    icon: 'rz-icon-ri--download-line'
                }
            ]
        } only %}
    {% else %}
        {% include '@RoadizRozier/settings/head.html.twig' with {
            title: 'settings'|trans,
            filters: filters,
            buttons: [
                {
                    label: 'add.a.setting'|trans,
                    href: path('settingsAddPage'),
                    icon: 'rz-icon-ri--add-line'
                },
                {
                    label: 'import'|trans,
                    href: path('settingsImportPage'),
                    icon: 'rz-icon-ri--upload-line'
                },
                {
                    label: 'export'|trans,
                    href: path('settingsExportPage'),
                    icon: 'rz-icon-ri--download-line'
                }
            ]
        } only %}
    {% endif %}
    
    {% include '@RoadizRozier/widgets/filtersBar.html.twig' %}
    <article class="content content-no-action-menu content-settings-list">
        <div class="content-table-cont">
            <table class="content-table settings uk-table">
                <thead>
                    <tr>
                        <th>
                            {% trans %}name{% endtrans %}
                            {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                                'field': 'name',
                                'filters': filters,
                            } only %}
                        </th>
                        <th class="mobile-hidden">
                            {% trans %}value{% endtrans %}
                        </th>
                        <th class="mobile-hidden">{% trans %}type{% endtrans %}</th>
                        <th class="table-actions-row table-actions-row-2">{% trans %}actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for setting in settings %}
                    <tr>
                        <td><a href="{{ path('settingsEditPage', { settingId: setting.id }) }}">{{ setting.getName }}</a></td>
                        <td class="mobile-hidden">{{ setting.getValue|nl2br }}</td>
                        <td class="mobile-hidden">{{ ('setting.type.' ~ setting.getType)|trans }}</td>
                        <td class="table-actions-row">
                            <div class="uk-button-group">
                                <a class="uk-button uk-button-content uk-button-small"
                                   href="{{ path('settingsEditPage', { settingId: setting.id }) }}"
                                   title="{% trans %}edit{% endtrans %}"
                                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                                <a class="uk-button uk-button-content uk-button-small uk-button-danger"
                                   href="{{ path('settingsDeletePage', { settingId: setting.id }) }}"
                                   title="{% trans %}delete{% endtrans %}"
                                   data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </article>
</section>
{% endblock %}
