{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {{ settingGroup.name|trans }}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
    <section class="content-global content-nav-and-filters">
        {% if settingGroup %}
            {% set title = settingGroup.name|trans %}
            {% set href = path('settingsExportGroupPage', {settingGroupId: settingGroup.id}) %}
        {% else %}
            {% set title = 'settings'|trans %}
            {% set href = path('settingsExportAllPage') %}
        {% endif %}
        {% include '@RoadizRozier/settings/head.html.twig' with {
            title: title,
            filters: filters,
            buttons: [
                {
                    label: 'add.a.setting'|trans,
                    attributes : {
                        href: path('settingsAddPage'),
                    },
                    icon: 'rz-icon-ri--add-line',
                },
                {
                    label: 'import'|trans,
                    attributes : {
                        href: path('settingsImportPage'),
                    },
                    icon: 'rz-icon-ri--upload-line',
                },
                {
                    label: 'export'|trans,
                    attributes : {
                        href: href
                    },
                    icon: 'rz-icon-ri--download-line',
                    class: 'rz-no-ajax-link',
                }
            ]
        } only %}
        {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
            filters: filters,
        }  only %}

        <article>
            {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
                actions_available: true,
                selection_available: false,
            } %}
                {% block thead_cells %}
                    <th>
                        {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                            'field': 'name',
                            'filters': filters,
                            'label': 'name'|trans,
                            'column_ordering_class': column_ordering_class,
                        } only %}
                    </th>
                    <th class="mobile-hidden">{% trans %}value{% endtrans %}</th>
                {% endblock %}

                {% block tbody_content %}
                    {% for setting in settings %}
                        {% set edit_href = path('settingsEditPage', { settingId: setting.setting.getId }) %}
                        <tr class="setting-row">
                            <td class="rz-table__cell rz-table__cell--sm">
                                <p>
                                    <a href="{{ edit_href }}">
                                        {{ setting.setting.name|trans|inlineMarkdown -}}
                                    </a>
                                </p>
                                {% if setting.setting.description %}
                                    <p class="uk-text-small uk-text-muted">{{ setting.setting.description|trans|inlineMarkdown }}</p>
                                {% endif %}
                            </td>
                            <td class="mobile-hidden">
                                {% if setting.document %}
                                    <figure>{{- setting.document|display({height:30}) -}}</figure>
                                {% endif %}
                                {% form_theme setting.form '@RoadizRozier/horizontalForms.html.twig' %}
                                {{ form_start(setting.form, { attr: { class: 'rz-form-field--head-hidden'}}) }}
                                    {{ form_widget(setting.form) }}
                                    {% import '@RoadizRozier/macros/rz_button.html.twig' as rz_button %}
                                    {{ rz_button.root({
                                        icon: 'rz-icon-ri--save-line',
                                        attributes: {
                                            type: 'submit',
                                            title: 'save'|trans,
                                            style: 'display: none;',
                                        }
                                    }) }}
                                {{ form_end(setting.form) }}
                            </td>
                            {% if actions_available %}
                                <td>
                                    {% include '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                        'edit_href': edit_href,
                                        'delete_href': path('settingsDeletePage', { settingId: setting.setting.getId }),
                                        'save_href': '#',
                                        'save_class': 'rz-button-settings-save',
                                    } only %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </article>
    </section>
{% endblock %}
