{% extends "@RoadizRozier/layout.html.twig" %}

{% block title %}{% trans %}add.a.nodeTypeDecorator{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="bulk-layout content-global">
        {% if title is defined and title %}
            {% set headerTitle = title %}
        {% else %}
            {% set headerTitle = 'add.a.nodeTypeDecorator'|trans %}
        {% endif %}
        {% include '@RoadizRozier/node-types/head.html.twig' with {
            title: headerTitle,
            subtitle: nodeType ? nodeType.displayName : null,
            with_breadcrumb: true,
            item: {displayName: headerTitle},
            breadcrumb_parents: [
                {
                    displayName: 'nodeTypeDecorator'|trans,
                    type: 'listing',
                    url: path('nodeTypeDecoratorsListPage')
                },
            ],
        } only %}
        <article class="content">
            {% form_theme form '@RoadizRozier/forms.html.twig' %}
            {{ form_start(
                form, {'attr': {
                    'id': 'edit-nodetypedecorator-form',
                    'class': 'rz-form'
                }})
            }}
                {{ form_widget(form) }}
                {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
                {{ actions_menu.saveItem('#edit-nodetypedecorator-form') }}
            {{ form_end(form) }}
        </article>
        {% include '@RoadizRozier/node-types-decorators/actionsMenu.html.twig' %}
    </section>
{% endblock %}
