{% extends "@RoadizRozier/admin/base.html.twig" %}

{% block title %}{% trans %}add.a.nodeTypeDecorator{% endtrans %} | {{ parent() }}{% endblock %}

{%- block content_title -%}{% trans %}add.a.nodeTypeDecorator{% endtrans %}{%- endblock -%}
{%- block content_sub_title -%}
{% if nodeType %}
    <p>{{ nodeType.displayName }}</p>
{% endif %}
{%- endblock -%}

{%- block content_header_nav -%}
    <a class="content-header-nav-back uk-navbar-content"
       href="{{ path('nodeTypeDecoratorsListPage') }}"
       title="{% trans %}back_to.nodeTypeDecorators{% endtrans %}"
       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
{%- endblock -%}

{%- block content_body -%}
    <article class="content">
        {%- block content_body_before -%}{%- endblock -%}
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, {
            'attr': {
                'id': 'edit-nodetypedecorator-form',
                'class': 'uk-form uk-form-stacked'
            }
        }) }}{{ form_widget(form) }}
        {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as floating_bar %}
        {{ floating_bar.saveItem('#edit-nodetypedecorator-form') }}
        {{ form_end(form) }}
        {%- block content_body_after -%}{%- endblock -%}
    </article>
    {% include '@RoadizRozier/node-types-decorators/actionsMenu.html.twig' %}
{%- endblock -%}
