{% extends "@RoadizRozier/layout.html.twig" %}

{% block title %}{% trans %}nodeTypeDecorator{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="bulk-layout content-global content-nav-and-filters">
        {% include '@RoadizRozier/node-types/head.html.twig' with {
            title: 'nodeTypeDecorator'|trans,
            filters: filters,
            popover: {
                title: 'add.a.nodeTypeDecorator'|trans,
                icon: 'rz-icon-ri--arrow-drop-down-line',
                items: nodeTypes,
            },
            with_breadcrumb: true,
            item: {displayName: 'nodeTypeDecorator'|trans},
        } only %}

        {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
            filters: filters,
            display_select_all_button: false,
        }  only %}
        {% include '@RoadizRozier/admin/bulk_actions.html.twig' %}

        <article>
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
                selection_available: hasBulkActions,
                actions_available: true,
            } %}
                {% block thead_cells %}
                    <th>
                        {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                            'field': 'path',
                            'filters': filters,
                            'label': 'nodeTypeDecorator.entity'|trans,
                            'column_ordering_class': column_ordering_class,
                        } only %}
                    </th>
                    <th>{% trans %}nodeTypeDecorator.field{% endtrans %}</th>
                    <th>
                        {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                            'field': 'property',
                            'filters': filters,
                            'label': 'nodeTypeDecorator.property'|trans,
                            'column_ordering_class': column_ordering_class,
                        } only %}
                    </th>
                    <th>
                        {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                            'field': 'value',
                            'filters': filters,
                            'label': 'nodeTypeDecorator.value'|trans,
                            'column_ordering_class': column_ordering_class,
                        } only %}
                    </th>
                {% endblock %}

                {% block tbody_content %}
                {% import '@RoadizRozier/macros/rz_bulk.html.twig' as rz_bulk %}
                {% import "@RoadizRozier/macros/rz_badge.html.twig" as rz_badge %}

                {%- for item in items -%}
                    {% set path = item.path|split('.') %}
                    {% set entity, field = path[0], path[1] %}

                    {% set color = '#000000' %}
                    {% if item.property.value == 'color' and item.value and item.value != '' %}
                        {% set color = item.value %}
                    {% endif %}

                    <tr {{ _self.colored_row_attrs({'color': color }) }}>
                        {% if selection_available %}
                            <td>
                                {{ rz_bulk.select_input({ value: item.id }) }}
                            </td>
                        {% endif %}
                        <td>
                            {% import '@RoadizRozier/macros/rz_link.html.twig' as rz_link %}
                            {{ rz_link.root({
                                label: entity,
                                attributes: { href: path('nodeTypeDecoratorsEditPage', { id: item.getId }) },
                            }) }}
                        </td>
                        <td class="mobile-hidden">{{ field }}</td>
                        <td class="mobile-hidden">{{ ("nodeTypeDecorator.property." ~ item.property.value)|trans() }}</td>
                        <td class="mobile-hidden">

                            {% set label = null %}
                            {% set icon = null %}

                            {% if item.value is same as true or item.value is same as false %}
                                {% set label = item.value ? 'enabled'|trans : 'disabled'|trans %}
                                {% set icon = item.value ? 'rz-icon-ri--check-line' : 'rz-icon-ri--close-line' %}
                            {% elseif item.property.value == 'color' %}
                                {% set label = item.value %}
                                {% set icon = 'rz-icon-ri--color-filter-line' %}
                            {% else %}
                                {% set label = item.value %}
                            {% endif %}

                            {% if label != '' and label != null %}
                                {{ rz_badge.item({
                                    size: 'sm',
                                    color: 'default',
                                    label: label,
                                    icon: icon,
                                }) }}
                            {% endif %}
                        </td>
                        {% if actions_available %}
                            <td>
                                {% include '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    'edit_href': path('nodeTypeDecoratorsEditPage', { id: item.getId }),
                                    'delete_href': path('nodeTypeDecoratorsDeletePage', { id: item.getId }),
                                } %}
                            </td>
                        {% endif %}
                    </tr>
                {%- endfor -%}
                {% endblock %}
            {% endembed %}
        </article>
    </section>
{% endblock %}
