{% extends "@RoadizRozier/layout.html.twig" %}

{% block title %}{% trans %}nodeTypeDecorator{% endtrans %} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="bulk-layout content-global content-nav-and-filters">
        {% include '@RoadizRozier/node-types/head.html.twig' with {
            title: 'nodeTypeDecorator'|trans,
            filters: filters,
            popover: {
                title: 'add.a.nodeTypeDecorator'|trans,
                icon: 'rz-icon-ri--arrow-drop-down-line',
                items: nodeTypes,
            },
            with_breadcrumb: true,
            item: {displayName: 'nodeTypeDecorator'|trans},
        } only %}

        {% include "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
            filters: filters,
            display_select_all_button: false,
        }  only %}
        {% include '@RoadizRozier/admin/bulk_actions.html.twig' %}

        <article>
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
                selection_available: hasBulkActions,
                actions_available: true,
            } %}
                {% block thead_cells %}
                    <th>
                        {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                            'field': 'path',
                            'filters': filters,
                            'label': 'nodeTypeDecorator.entity'|trans,
                            'column_ordering_class': column_ordering_class,
                        } only %}
                    </th>
                    <th>{% trans %}nodeTypeDecorator.field{% endtrans %}</th>
                    <th>
                        {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                            'field': 'property',
                            'filters': filters,
                            'label': 'nodeTypeDecorator.property'|trans,
                            'column_ordering_class': column_ordering_class,
                        } only %}
                    </th>
                    <th>
                        {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                            'field': 'value',
                            'filters': filters,
                            'label': 'nodeTypeDecorator.value'|trans,
                            'column_ordering_class': column_ordering_class,
                        } only %}
                    </th>
                {% endblock %}

                {% block tbody_content %}
                {%- for item in items -%}
                    {% set path = item.path|split('.') %}
                    {% set entity, field = path[0], path[1] %}
                    {% if '' != field %}
                        {% set color = '#FF0000' %}
                    {% else %}
                        {% set color = '#000000' %}
                    {% endif %}
                    <tr style="--rz-accent-color: {{ color }};">
                        {% if selection_available %}
                            <td>
                                {% import '@RoadizRozier/macros/rz_bulk.html.twig' as rz_bulk %}
                                {{ rz_bulk.select_input({ value: item.id }) }}
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ path('nodeTypeDecoratorsEditPage', { id: item.getId }) }}">
                                <span class="rz-table__color" style="background-color:{{ color|raw }};"></span>
                                {{- entity -}}
                            </a>
                        </td>
                        <td class="mobile-hidden">{{ field }}</td>
                        <td class="mobile-hidden">{{ ("nodeTypeDecorator.property." ~ item.property.value)|trans() }}</td>
                        <td class="mobile-hidden">
                            {% if item.property.value == 'field_universal' or item.property.value == 'field_visible' or item.property.value == 'highlighted' %}
                                {% if item.value == true %}
                                    <div class="uk-button-status uk-button-check" >
                                        <i class="uk-icon-check"></i>
                                    </div>
                                {% else %}
                                    <div class="uk-button-status uk-button-close" >
                                        <i class="uk-icon-close"></i>
                                    </div>
                                {% endif %}
                            {% elseif item.property.value == 'color' and item.value != '' %}
                                <div class="uk-button-status" style="background-color: {{ item.value }}" title="{{ item.value }}" data-uk-tooltip="{animation:true}">
                                </div>
                            {% else %}
                                {{ item.value }}
                            {% endif %}
                        </td>
                        {% if actions_available %}
                            <td>
                                {% include '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    'edit_href': path('nodeTypeDecoratorsEditPage', { id: item.getId }),
                                    'delete_href': path('nodeTypeDecoratorsDeletePage', { id: item.getId }),
                                } %}
                            </td>
                        {% endif %}
                    </tr>
                {%- endfor -%}
                {% endblock %}
            {% endembed %}
        </article>
    </section>
{% endblock %}
