{% extends '@RoadizRozier/layout.html.twig' %}
{% import "@RoadizRozier/macros/rz_button.html.twig" as rz_button %}

{% block title %}{{ title|truncate_title }}{% endblock %}

{% block content %}
    <section class="content-global delete-document">
        {% include headPath with {
            title: title,
            subtitle: subtitle,
        } only %}

        <article class="content content-delete content-no-action-menu">
            {% form_theme form '@RoadizRozier/forms.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="rz-message rz-message--{{ messageType|default('error') }} rz-form-field__message">
                <p class="rz-message__text">
                    {{ alertMessage|trans }}
                </p>
            </div>
            <div class="rz-button-group rz-button-group--gap-md">
                {{
                    rz_button.root({
                        tagName: 'a',
                        attributes: {
                            href: cancelPath,
                        },
                        emphasis: 'secondary',
                        label: 'cancel',
                        icon: 'rz-icon-ri--corner-down-left-line',
                    })
                }}
                {{
                    rz_button.root({
                        attributes: {
                            type: 'submit',
                        },
                        emphasis: 'primary',
                        color: action_color|default('danger'),
                        label: action_label|default('delete'),
                        icon: action_icon|default('rz-icon-ri--delete-bin-7-line'),
                    })
                }}
            </div>
            {{ form_end(form) }}

            {% if items is defined and items|length > 0 %}
                {% import '@RoadizRozier/macros/rz_card.html.twig' as card %}

                <ul class="rz-delete-page__body rz-layout-grid">
                    {% for item in items %}
                        {{ card.render(item, thumbnailFormat) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </article>
    </section>
{% endblock %}
