{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ title|truncate_title }}{% endblock %}

{% block content %}
    <section class="content-global delete-document">
        {% include headPath with {
            title: title,
            subtitle: subtitle,
        } only %}

        <article class="content content-delete content-no-action-menu">
            {% form_theme form '@RoadizRozier/forms.html.twig' %}
            {{ form_start(form, {
                'attr': {
                    'class': 'rz-form'
                }
            }) }}
            {{ form_widget(form) }}
            <div class="rz-message rz-message--error rz-form-field__message">
                <p class="rz-message__text">
                    {{ alertMessage|trans }}
                </p>
            </div>
            <div class="rz-button-group rz-button-group--gap-md">
                <a class="rz-button rz-button--secondary rz-button-group__button"
                      href="{{ cancelPath }}"
                >
                    <span class="rz-button__label">{% trans %}cancel{% endtrans %}</span>
                    <span class="rz-button__icon rz-icon-ri--corner-down-left-line"></span>
                </a>
                {% if deleteLabel is not defined %}
                    {% set deleteLabel = 'delete' %}
                {% endif %}
                {% if deleteIcon is not defined %}
                    {% set deleteIcon = 'rz-icon-ri--delete-bin-7-line' %}
                {% endif %}
                <button is="rz-button" type="submit" class="rz-button rz-button--primary rz-button--error rz-button-group__button">
                    <span class="rz-button__label">{{ deleteLabel }}</span>
                    <span class="rz-button__icon {{ deleteIcon }}"></span>
                </button>
            </div>
            {{ form_end(form) }}
        </article>
    </section>
{% endblock %}
