{% extends '@RoadizRozier/layout.html.twig' %}
{% import "@RoadizRozier/macros/rz_button.html.twig" as rz_button %}

{%- block title -%}
    {% trans %}add.multiple.tags{% endtrans %}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/tags/head.html.twig' with {
        title: 'add.multiple.tags'|trans,
        with_nav_bar: true,
        tag: tag,
        current: 'add-multiple',
        with_breadcrumb: true,
    } only %}

    <article class="content content-tags-add">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: 'add-tag-form'}}) }}
        {{ form_widget(form) }}
        <div class="rz-form-field rz-form-field--align-start">
            {{
                rz_button.root({
                    attributes: {
                        type: 'submit',
                        'data-action-save': '#add-tag-form',
                    },
                    emphasis: 'primary',
                    label: 'add_all',
                    icon: 'rz-icon-ri--add-line',
                })
            }}
        </div>
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/tags/actionsMenu.html.twig' %}
</section>
{% endblock %}
