{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {% trans %}add.a.tag{% endtrans %}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/tags/head.html.twig' with {
        title: 'add.a.tag'|trans,
    } only %}

    <article class="content content-tags-add">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: 'add-tag-form'}}) }}
            {{ form_widget(form) }}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#add-tag-form') }}
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/tags/actionsMenu.html.twig' %}
</section>
{% endblock %}
