{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {{ "edit.tag.%name%"|trans({'%name%': tag.getTagName })|truncate_title }}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global edit-tag">
    {% include '@RoadizRozier/tags/head.html.twig' with {
        title: tag.getTranslatedTags.first.getName,
        with_nav_bar: true,
        tag: tag,
        current: 'edit',
        available_translations, available_translations,
        translation: translation,
        with_breadcrumb: true,
    } only %}

    <tag-edit-page class="content content-tag-edit">
        {% if readOnly %}
            <div class="uk-alert uk-alert-warning" data-uk-alert>
                <a href="{{ path('tagsEditTranslatedPage', {
                    tagId: tag.id,
                    translationId: translation.id
                }) }}" class="uk-alert-close uk-close"></a>
                <h4>{% trans %}versions.viewing_a_previous_version{% endtrans %}</h4>
                <p>{{ currentVersion.loggedAt|format_datetime('full', 'short', locale=app.request.locale) }} - {{ currentVersion.username }}</p>
                {%- if revertForm -%}
                    {{- form_start(revertForm, { attr: {id: 'revert-node-source-form'}}) -}}
                    {{- form_widget(revertForm) -}}
                    <div class="uk-button-group">
                        <button class="uk-button uk-button-warning" type="submit">
                            <span class="icon-container"><i class="uk-icon-rz-back-parent"></i></span>
                            <span class="label"><span class="label-text">{% trans %}versions.revert_to_this_version{% endtrans %}</span></span>
                        </button>
                        <a class="uk-button" href="{{ path('tagsEditTranslatedPage', {
                            tagId: tag.id,
                            translationId: translation.id
                        }) }}"><i class="uk-icon-rz-home"></i> {% trans %}versions.back_to_working_copy{% endtrans %}</a>
                    </div>
                    {{- form_end(revertForm) -}}
                {%- endif -%}
            </div>
        {% endif %}

        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: 'edit-tag-form'}}) }}
        {{ form_widget(form) }}
        {% if not readOnly %}
            {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
            {{ actions_menu.saveItem('#edit-tag-form') }}
        {% endif %}
        {{ form_end(form) }}
    </tag-edit-page>

    {% include '@RoadizRozier/tags/actionsMenu.html.twig' %}
</section>
{% endblock %}
