{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {% trans %}tags{% endtrans %}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<rz-bulk-section>
    {% include '@RoadizRozier/tags/head.html.twig' with {
        title: 'tags'|trans,
        filters: filters,
        buttons: [{
            label: 'add.a.tag'|trans,
            attributes: {
                href: path('tagsAddPage'),
            },
            icon: 'rz-icon-ri--add-line',
        }]
    } only %}

    {% include '@RoadizRozier/tags/filtersBar.html.twig' with {
        filters: filters,
    } only %}

    {% include "@RoadizRozier/widgets/rz_bulk_actions.html.twig" with {
        delete_form_data: deleteTagsForm,
        delete_form_action: path('tagsBulkDeletePage'),
        delete_form_method: 'GET',
    } only %}

    <article>
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            sortable: false,
            selection_available: true,
            actions_available: true,
        } %}

            {% block thead_cells %}
                <th>{% trans %}id{% endtrans %}</th>
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'tagName',
                        'filters': filters,
                        'label': 'name'|trans
                    } only %}
                </th>
            {% endblock %}

            {% block tbody_content %}
                {% import '@RoadizRozier/macros/rz_badge.html.twig' as rz_badge %}

                {% for tag in tags %}
                    {% set translated_tag = tag.getTranslatedTags.first %}
                    {% set tag_href = translated_tag ?
                        path('tagsEditTranslatedPage', { tagId: tag.id, translationId: translated_tag.translation.id })
                        : path('tagsEditPage', { tagId: tag.id })
                    %}
                    {% set can_delete = is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked %}
                    <tr
                        {{ _self.colored_row_attrs({'color': tag.color }) }}
                    >
                            <td>
                                {% if selection_available %}
                                    {% if can_delete %}
                                        {% import '@RoadizRozier/macros/rz_bulk.html.twig' as rz_bulk %}
                                        {{ rz_bulk.select_input({ value: tag.id }) }}
                                    {% else %}
                                        {{ rz_badge.item({
                                            icon: 'rz-icon-ri--lock-2-line',
                                            attributes: {
                                                title: 'locked'|trans,
                                            }
                                        }) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        <td>
                            <a href="{{ tag_href }}">{{ tag.id }}</a>
                        </td>
                        <td>
                            <a href="{{ tag_href }}">{{ translated_tag.getName|default('tag_' ~ tag.id) }}</a>
                            {% if not translated_tag %}

                                {{ rz_badge.item({
                                    icon: 'rz-icon-ri--error-warning-line',
                                    color: 'warning',
                                    attributes: {
                                        title: 'notranslation_available.tag'|trans,
                                    }
                                }) }}
                            {% endif %}
                        </td>
                        <td>
                            {% include '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                'edit_href': translated_tag ? path('tagsEditTranslatedPage', { tagId: tag.id, translationId: translated_tag.translation.id }) : path('tagsEditPage', { tagId: tag.id }),
                                'delete_href': can_delete ? path('tagsDeletePage', { tagId: tag.id }) : null,
                            } only %}
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </article>

</rz-bulk-section>
{% endblock %}
