{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {% trans %}tags{% endtrans %}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<rz-bulk-section>
    {% include '@RoadizRozier/tags/head.html.twig' with {
        title: 'tags'|trans,
        filters: filters,
        buttons: [{
            label: 'add.a.tag'|trans,
            href: path('tagsAddPage'),
            icon: 'rz-icon-ri--add-line',
        }]
    } only %}

    {% include '@RoadizRozier/tags/filtersBar.html.twig' with {
        filters: filters,
    } only %}

    {% include "@RoadizRozier/widgets/rz_bulk_actions.html.twig" with {
        delete_form_data: deleteTagsForm,
        delete_form_action: path('tagsBulkDeletePage'),
        delete_form_method: 'GET',
    } only %}


    <article>
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            sortable: false,
            selection_available: true,
            actions_available: true,
        } %}

            {% block thead_cells %}
                <th>{% trans %}id{% endtrans %}</th>
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'tagName',
                        'filters': filters,
                        'label': 'name'|trans
                    } only %}
                </th>
            {% endblock %}

            {% block tbody_content %}
                {% for tag in tags %}
                    {% set ttag = tag.getTranslatedTags.first %}
                    {% set tag_href = ttag ?
                        path('tagsEditTranslatedPage', { tagId: tag.id, translationId: ttag.translation.id })
                        : path('tagsEditPage', { tagId: tag.id })
                    %}
                    {% set can_delete = is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked %}
                    <tr>
                        {% if selection_available and can_delete %}
                            {% import '@RoadizRozier/macros/rz_cell.html.twig' as rz_cell %}
                            {{ rz_cell.selection_input({ input: { value: tag.id } }) }}
                        {% endif %}
                        <td>
                            <a href="{{ tag_href }}">{{ tag.id }}</a>
                        </td>
                        <td>
                            <a href="{{ tag_href }}">{{ ttag.getName|default('tag_' ~ tag.id) }}</a>
                            {% if not ttag %}
                                <span class="rz-badge rz-badge--warning">{% trans %}notranslation_available.tag{% endtrans %}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% include '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                'edit_href': ttag ? path('tagsEditTranslatedPage', { tagId: tag.id, translationId: ttag.translation.id }) : path('tagsEditPage', { tagId: tag.id }),
                                'delete_href': can_delete ? path('tagsDeletePage', { tagId: tag.id }) : null,
                            } only %}
                        </td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </article>

</rz-bulk-section>
{% endblock %}
