{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {% trans %}tags{% endtrans %}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global content-nav-and-filters bulk-layout">
    {% include '@RoadizRozier/tags/head.html.twig' with {
        title: 'tags'|trans,
        filters: filters,
        buttons: [{
            label: 'add.a.tag'|trans,
            href: path('tagsAddPage'),
            icon: 'rz-icon-ri--add-line',
        }]
    } only %}

    {% include '@RoadizRozier/tags/filtersBar.html.twig' with {
        filters: filters,
        deleteTagsForm: deleteTagsForm
    } only %}

    <table class="rz-table">
        <thead>
            <tr>
                <th>
                    <div class="bulk-selection">
                        <input is="rz-input" type="checkbox" name="bulk-selection-all" />
                    </div>
                </th>
                <th class="table-id-row">{% trans %}id{% endtrans %}</th>
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'tagName',
                        'filters': filters,
                        'label': 'name'|trans,
                        'class_name': 'rz-table__ordering-link',
                    } only %}
                </th>
                <th class="table-actions-row table-actions-row-3">
                    {% trans %}actions{% endtrans %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for tag in tags %}
                {% set ttag = tag.getTranslatedTags.first %}
                {% if ttag %}
                    <tr>
                        {% if is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked %}
                            <td>
                                <div class="tagtree-bulk-selection">
                                    <input is="rz-input" type="checkbox" name="bulk-selection[]" value="{{ tag.id }}" />
                                </div>
                            </td>
                        {% endif %}
                        <td><a href="{{ path('tagsEditTranslatedPage', { tagId: tag.id, translationId: ttag.translation.id }) }}">{{ tag.id }}</a></td>
                        <td><a href="{{ path('tagsEditTranslatedPage', { tagId: tag.id, translationId: ttag.translation.id }) }}">{{ ttag.getName }}</a></td>
                        <td>
                            <div class="uk-button-group">
                                <a class="uk-button uk-button-content uk-button-small" href="{{ path('tagsEditTranslatedPage', { tagId: tag.id, translationId: ttag.translation.id }) }}" title="{% trans %}edit.tag{% endtrans %}" data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-pencil"></i></a>
                                {% if is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked %}
                                    <a class="uk-button uk-button-content uk-button-small uk-button-danger" href="{{ path('tagsDeletePage', { tagId: tag.id }) }}" title="{% trans %}delete.tag{% endtrans %}" data-uk-tooltip="{animation:true}">
                                        <i class="uk-icon-rz-trash-o"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% else %}
                <tr>
                    {% if is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked %}
                        <td>
                            <div class="bulk-selection">
                                <input is="rz-input" type="checkbox" name="bulk-selection[]" value="{{ tag.id }}" />
                            </div>
                        </td>
                    {% endif %}
                    <td><a href="{{ path('tagsEditPage', { tagId: tag.id }) }}">{{ tag.id }}</a></td>
                    <td><a href="{{ path('tagsEditPage', { tagId: tag.id }) }}">tag_{{ tag.id }} <span class="uk-badge uk-badge-warning">{% trans %}notranslation_available.tag{% endtrans %}</span></a></td>
                    <td class="table-actions-row table-actions-row-3">
                        <div class="uk-button-group">
                            <a
                                class="uk-button uk-button-content uk-button-small"
                                href="{{ path('tagsEditPage', { tagId: tag.id }) }}"
                                title="{% trans %}edit.tag{% endtrans %}"
                                data-uk-tooltip="{animation:true}"
                            >
                                <i class="uk-icon-rz-pencil"></i>
                            </a>
                            {% if is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked %}
                                <a class="uk-button uk-button-content uk-button-small uk-button-danger"
                                    href="{{ path('tagsDeletePage', { tagId: tag.id }) }}"
                                    title="{% trans %}delete.tag{% endtrans %}"
                                    data-uk-tooltip="{animation:true}"
                                >
                                    <i class="uk-icon-rz-trash-o"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

</section>
{% endblock %}
