{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {% trans %}tags{% endtrans %}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<rz-bulk-section>
    {% include '@RoadizRozier/tags/head.html.twig' with {
        title: 'tags'|trans,
        filters: filters,
        buttons: [{
            label: 'add.a.tag'|trans,
            attributes: {
                href: path('tagsAddPage'),
            },
            icon: 'rz-icon-ri--add-line',
        }],
        breadcrumb: {
            label: 'tags-breadcrumb',
            current: 'tags'|trans,
        },
    } only %}

    {% include '@RoadizRozier/tags/filtersBar.html.twig' with {
        filters: filters,
    } only %}

    {% include "@RoadizRozier/widgets/rz_bulk_actions.html.twig" with {
        delete_form_data: deleteTagsForm,
        delete_form_action: path('tagsBulkDeletePage'),
        delete_form_method: 'GET',
    } only %}

    <section class="rz-page__body">
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            sortable: false,
            selection_available: true,
            actions_available: true,
        } %}

            {% block thead_cells %}
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'tagName',
                        'filters': filters,
                        'label': 'name'|trans
                    } only %}
                </th>
                <th>{% trans %}id{% endtrans %}</th>
            {% endblock %}

            {% block tbody_content %}
                {% import '@RoadizRozier/macros/rz_badge.html.twig' as rz_badge %}
                {% import '@RoadizRozier/macros/rz_link.html.twig' as rz_link %}

                {% for tag in tags %}
                    {% set translated_tag = tag.getTranslatedTags.first %}
                    {% set edit_link = translated_tag ?
                        path('tagsEditTranslatedPage', { tagId: tag.id, translationId: translated_tag.translation.id })
                        : path('tagsEditPage', { tagId: tag.id })
                    %}
                    {% set can_delete = is_granted('ROLE_ACCESS_TAGS_DELETE') and not tag.locked %}
                    <tr
                        {{ _self.colored_row_attrs({'color': tag.color }) }}
                    >
                        {{ _self.selection_input(selection_available, tag.id, disabled: not can_delete) }}
                        <td>
                            {{ rz_link.root({
                                label: translated_tag.getName|default('tag_' ~ tag.id),
                                attributes: { href: edit_link },
                            }) }}
                            {% if not translated_tag %}
                                {{ rz_badge.item({
                                    icon: 'rz-icon-ri--error-warning-line',
                                    color: 'warning',
                                    attributes: {
                                        title: 'notranslation_available.tag'|trans,
                                    }
                                }) }}
                            {% endif %}
                        </td>
                        <td>{{ tag.id }}</td>
                        {% if actions_available %}
                            <td>
                                {% include '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    'edit_href': edit_link,
                                    'delete_href': can_delete ? path('tagsDeletePage', { tagId: tag.id }) : null,
                                } only %}
                            </td>
                        {% endif %}
                    </tr>
                {% else %}
                    {{ _self.fallback_row({
                        length: 2,
                        selection_available: selection_available,
                        actions_available: actions_available,
                        message: 'no_tags',
                    }) }}
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </section>

</rz-bulk-section>
{% endblock %}
