{% import "@RoadizRozier/macros/rz_menu_bar.html.twig" as rz_menu_bar %}
{% set tTag = tag.getTranslatedTags.first %}
<nav class="rz-menu-bar">
    <ul class="rz-menu-bar__inner">
        {% if tag.getChildren|length %}
            {{ rz_menu_bar.item(
                name: 'tree',
                href: path('tagsTreePage', { tagId: tag.getId }),
                current: current,
                icon: 'rz-icon-ri--node-tree',
                aria_label: 'tag.tree'
            ) }}
            <li class="rz-menu-bar__separator"></li>
        {% endif %}
        {{ rz_menu_bar.item(
            name: 'edit',
            label: 'tag.content',
            href: path('tagsEditTranslatedPage', { tagId: tag.getId, translationId: tTag.getTranslation.getId }),
            current: current
        ) }}
        {{ rz_menu_bar.item(
            name: 'settings',
            label: 'tag.settings',
            href: path('tagsSettingsPage', { tagId: tag.getId }),
            current: current
        ) }}
        {{ rz_menu_bar.item(
            name: 'nodes',
            label: 'tag.nodes',
            href: path('tagsEditNodesPage', { tagId: tag.getId }),
            current: current
        ) }}
        {{ rz_menu_bar.item(
            name: 'add-multiple',
            label: 'add.tags',
            href: path('tagsAddMultipleChildPage', { parentTagId: tag.getId }),
            current: current
        ) }}
    </ul>
</nav>
