{% set tTag = tag.getTranslatedTags.first %}
<rz-tablist class="rz-tablist--filled">
    <div class="rz-tablist__inner" role="tablist">
        {% if tag.getChildren|length %}
            <a role="tab"
               class="rz-tablist__tab{% if current == 'tree' %} rz-tablist__tab--selected{% endif %} uk-navbar-link"
               aria-current="{{ current == 'tree' ? 'true' : 'false' }}"
               href="{{ path('tagsTreePage', { tagId: tag.getId }) }}">
                {% trans %}tag.tree{% endtrans %}
            </a>
        {% endif %}
        <a role="tab"
           class="rz-tablist__tab{% if current == 'edit' %} rz-tablist__tab--selected{% endif %}"
           aria-current="{{ current == 'edit' ? 'true' : 'false' }}"
           href="{{ path('tagsEditTranslatedPage', { tagId: tag.getId, translationId: tTag.getTranslation.getId }) }}">
            {% trans %}tag.content{% endtrans %}
        </a>
        <a role="tab"
           class="rz-tablist__tab{% if current == 'settings' %} rz-tablist__tab--selected{% endif %}"
           aria-current="{{ current == 'settings' ? 'true' : 'false' }}"
           href="{{ path('tagsSettingsPage', { tagId: tag.getId }) }}">
            {% trans %}tag.settings{% endtrans %}
        </a>
        <a role="tab"
           class="rz-tablist__tab{% if current == 'nodes' %} rz-tablist__tab--selected{% endif %}"
           aria-current="{{ current == 'nodes' ? 'true' : 'false' }}"
           href="{{ path('tagsEditNodesPage', { tagId: tag.getId }) }}">
            {% trans %}tag.nodes{% endtrans %}
        </a>
        <a role="tab"
           class="rz-tablist__tab{% if current == 'add-multiple' %} rz-tablist__tab--selected{% endif %}"
           aria-current="{{ current == 'add-multiple' ? 'true' : 'false' }}"
           href="{{ path('tagsAddMultipleChildPage', { parentTagId: tag.getId }) }}">
            {% trans %}add.tags{% endtrans %}
        </a>
    </div>
</rz-tablist>
