{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {{ "edit.tag.%name%.settings"|trans({'%name%': tag.getTagName }) }}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/tags/head.html.twig' with {
        title: tag.getTranslatedTags.first.getName,
        with_nav_bar: true,
        tag: tag,
        current: 'settings',
        with_breadcrumb: true,
    } only %}

    <article class="content content-tags-settings">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: {id: 'edit-tag-form'}}) }}
        {{ form_widget(form) }}
        {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
        {{ actions_menu.saveItem('#edit-tag-form') }}
        {{ form_end(form) }}
    </article>

    {% include '@RoadizRozier/includes/rz_meta_item_table.html.twig' with {
        item: tag
    } only %}

    {% include '@RoadizRozier/tags/actionsMenu.html.twig' %}

</section>
{% endblock %}
