{% extends "@RoadizRozier/admin/base.html.twig" %}

{%- block content_title -%}{{ shadowTitle }}{%- endblock -%}

{%- block content_header_actions -%}
    <a class="uk-button" href="{{ path('appArticlesAddPage') }}">
        <i class="uk-icon-rz-plus"></i> {% trans %}articles.add{% endtrans %}
    </a>
{%- endblock -%}

{% block content_header_nav %}
    {% include '@RoadizRozier/widgets/countFiltersBar.html.twig' %}
{% endblock %}

{%- block content_filters -%}
    {% embed '@RoadizRozier/widgets/filtersBar.html.twig' %}
        {% block filter_search_form %}
            <input type="hidden" name="page" value="1">
            {% if tags|length %}
                <select aria-label="{% trans %}filter.by_tag{% endtrans %}"
                        class="uk-form-width-small"
                        name="tag">
                    <option value>{% trans %}filter.by_tag.all{% endtrans %}</option>
                    {% for tagGroupName, tagGroup in tags %}
                        <optgroup label="{{ tagGroupName }}">
                            {% for tag in tagGroup %}
                                <option {% if currentTag.id == tag.id %}selected {% endif %}value="{{ tag.id }}">{{ tag.name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            {% endif %}

            {{ parent() }}

            {% set resetUrl = path('appArticlesListPage') %}
            <button class="uk-button uk-button-secondary uk-button-small"
                    type="submit"><i class="uk-icon uk-icon-filter"></i> {% trans %}filter{% endtrans %}</button>
            <a class="uk-button uk-button-secondary uk-button-small uk-button-status"
               href="{{ resetUrl }}"
               title="{% trans %}filter.reset{% endtrans %}"
               data-uk-tooltip="{animation:true}"><i class="uk-icon uk-icon-close"></i></a>
        {% endblock %}
    {% endembed %}
    {% include '@RoadizRozier/admin/bulk_actions.html.twig' %}
{%- endblock -%}

{%- block content_body -%}
    <article class="content content-no-action-menu">
        <div class="content-table-cont">
            <table class="content-table uk-table">
                <thead>
                <tr>
                    {%- include '/admin/article/row_header.html.twig' -%}
                </tr>
                </thead>
                <tbody>
                {%- for item in items -%}
                    <tr>
                        {%- include '/admin/article/row.html.twig' -%}
                    </tr>
                {%- else -%}
                    <tr>
                        <td colspan="8">{% trans %}no_article{% endtrans %}</td>
                    </tr>
                {%- endfor -%}
                </tbody>
            </table>
        </div>
    </article>
{%- endblock -%}
