{% extends "@RoadizRozier/admin/base.html.twig" %}

{%- block header -%}
    {% include '@RoadizRozier/admin/head.html.twig' with {
        title: 'articles'|trans,
        filters: filters,
        buttons: [
            {
                label: 'articles.add'|trans,
                attributes : {
                    href: path('appArticlesAddPage'),
                },
                icon: 'rz-icon-ri--add-line',
            }
        ]
    } only %}
{%- endblock -%}

{%- block content_filters -%}
    {% embed "@RoadizRozier/widgets/rz_filters_bar.html.twig" with {
        filters: filters,
        display_select_all_button: true,
        tags: tags,
        currentTag: currentTag,
    } only %}
        {% block before_submit %}
            <select aria-label="{% trans %}filter.by_tag{% endtrans %}"
                    is="rz-select"
                    name="tag">
                <option value>{% trans %}filter.by_tag.all{% endtrans %}</option>
                {% for tagGroupName, tagGroup in tags %}
                    <optgroup label="{{ tagGroupName }}">
                        {% for tag in tagGroup %}
                            <option {% if currentTag.id == tag.id %}selected {% endif %}value="{{ tag.id }}">{{ tag.name }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        {% endblock %}
    {% endembed %}
    {% include '@RoadizRozier/admin/bulk_actions.html.twig' %}
{%- endblock -%}

{%- block content_body -%}
    <article>
        {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
            selection_available: true,
            actions_available: true,
            items: items
        } only %}
            {% block thead_cells %}
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'title',
                        label: 'article.title'|trans,
                    } %}
                </th>
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'publishedAt',
                        label: 'article.published_at'|trans,
                    } %}
                </th>
                <th>
                    {% include '@RoadizRozier/includes/column_ordering.html.twig' with {
                        'field': 'node.createdAt',
                        label: 'article.created_at'|trans,
                    } %}
                </th>
                <th>
                    {% trans %}article.status{% endtrans %}
                </th>
                <th>
                    {% trans %}article.tags{% endtrans %}
                </th>
            {% endblock %}
            {% block tbody_content %}
                {% for item in items %}
                    {% set itemEditUrl = path('nodesEditSourcePage', {
                        nodeId: item.node.id,
                        translationId: item.translation.id,
                    }) %}
                    <tr>
                        {% if selection_available %}
                            <td>
                                {% import '@RoadizRozier/macros/rz_bulk.html.twig' as rz_bulk %}
                                {{ rz_bulk.select_input({ value: item.id }) }}
                            </td>
                        {% endif %}
                        <td>
                            <a href="{{ itemEditUrl }}" class="rz-table__cell--flex">
                                <rz-entity-thumbnail
                                    entity-class="App\GeneratedEntity\NSArticle"
                                    entity-id="{{ item.id }}"
                                ></rz-entity-thumbnail>
                                <span class="rz-table__cell--ellipsis">
                                    {{ item.title }}
                                </span>
                            </a>
                        </td>
                        <td>{{- item.publishedAt ? item.publishedAt|format_datetime('short', 'short', locale=app.request.locale) : '-' -}}</td>
                        <td>{{- item.node.createdAt|format_datetime('short', 'short', locale=app.request.locale) -}}</td>
                        <td>
                            {% import "@RoadizRozier/macros/rz_node_badge.html.twig" as rz_node_badge %}
                            {{ rz_node_badge.all(item.node, { display_label: false }) }}
                        </td>
                        <td>
                            {% import "@RoadizRozier/macros/rz_badge.html.twig" as rz_badge %}
                            {%- for tag in item.node.tags -%}
                                {{ rz_badge.item({
                                    label: tag.name,
                                })}}
                            {%- endfor -%}
                        </td>
                        {% if actions_available %}
                            <td>
                                {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' with {
                                    'edit_href': itemEditUrl,
                                    'delete_href': workflow_can(item.node, 'delete') ? path('nodesDeletePage', { nodeId: item.node.id }) : null,
                                } %}
                                    {% block other_actions %}
                                        {{ _self.button({
                                            icon: 'uk-icon-rz-node-tree-mini',
                                            attributes: {
                                                href: path('nodesTreePage', { nodeId: item.node.id }),
                                                title: 'see.nodetree'|trans,
                                            }
                                        }) }}
                                        {% if workflow_can(item.node, 'undelete') %}
                                            {{ _self.button({
                                                icon: 'uk-icon-rz-untrash',
                                                attributes: {
                                                    href: path('nodesUndeletePage', { nodeId: item.node.id }),
                                                    title: 'undelete'|trans,
                                                }
                                            })}}
                                        {% endif %}
                                    {% endblock %}
                                {% endembed %}
                            </td>
                        {% endif %}
                    </tr>
                {%- else -%}
                    <tr>
                        <td colspan="8">{% trans %}no_article{% endtrans %}</td>
                    </tr>
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </article>
{%- endblock -%}
