{% macro label(label, label_attr, form, icon, attr, items_length) %}
    {% if label is not same as(false) -%}
        {% if label is empty -%}
            {% set label = name|humanize %}
        {%- endif -%}
        <div class="rz-form-field__head">
            {{ _self.inner_label(label, label_attr, form, icon, attr, items_length) }}
        </div>
        {{ _self.help(form) }}
    {%- endif %}
{% endmacro %}

{% macro inner_label(label, label_attr, form, icon, attr, items_length) %}
    {% if icon is defined and icon %}
        <span class="rz-form-field__head__icon {{ icon }}"></span>
    {% endif %}
    <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{- label|trans -}}
    </label>
    {% if attr['data-universal'] %}
        <div class="rz-badge rz-badge--xs rz-form-field__head__badge">
            <span class="rz-badge__icon rz-icon-ri--earth-line"></span>
        </div>
    {% endif %}
    {%- if attr['data-max-length'] -%}
        <div class="rz-badge rz-badge--xs rz-badge--error rz-form-field__head__badge" title="Count title">
        <span class="rz-badge__label count">
            <span class="count-current">{{ items_length ? items_length : 0 }}</span>
            /
            <span class="count-limit">{{ attr['data-max-length'] }}</span>
        </span>
        </div>
    {%- endif -%}
    {% if attr['data-min-length'] %}
        <div class="rz-badge rz-badge--xs rz-badge--information rz-form-field__head__badge">
            <span class="rz-badge__label">({% trans %}min{% endtrans %}: {{ attr['data-min-length'] }})</span>
        </div>
    {% endif %}
{% endmacro %}

{% macro help(form, class = 'rz-form-field') %}
    {%- if form.vars.help ?? false -%}
        <p id="{{ form.vars.id }}_help" class="{{ class }}__description">{{ form.vars.help|trans|inlineMarkdown }}</p>
    {%- endif -%}
{% endmacro %}
