{% extends '@RoadizRozier/layout.html.twig' %}

{%- block title -%}
    {% trans %}add.a.redirection{% endtrans %}
    |
    {{ parent() -}}
{%- endblock -%}

{% block content %}
<section class="content-global">
    {% include '@RoadizRozier/redirections/head.html.twig' with {
        title: 'add.a.redirection'|trans,
        with_breadcrumb: true,
    } only %}

    <article class="content">
        {% form_theme form '@RoadizRozier/forms.html.twig' %}
        {{ form_start(form, { attr: { id: 'add-redirection-form'}}) }}
        {{ form_widget(form) }}
        {% import "@RoadizRozier/macros/rz_actions_menu.html.twig" as actions_menu %}
        {{ actions_menu.saveItem('#add-redirection-form') }}
        {{ form_end(form) }}
    </article>
    {% include '@RoadizRozier/redirections/actionsMenu.html.twig' %}
</section>
{% endblock %}
