<tr>
    <td>
        {# Update URL alias #}
        {% form_theme redirection.editForm '@RoadizRozier/forms.html.twig' %}
        {{ form_start(redirection.editForm, { attr: { class: 'rz-form-field--head-hidden' } }) }}
            {{ form_widget(redirection.editForm) }}
        {{ form_end(redirection.editForm) }}
    </td>

    <td>{{ path(redirection.redirection.redirectNodeSource) }}</td>
    <td>{{ redirection.redirection.redirectNodeSource.translation.name }}</td>

    <td>
        {# Delete URL Alias #}
        {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' %}
            {% block other_actions %}

                {{ _self.button({
                    icon: 'rz-icon-ri--save-line',
                    color: 'success',
                    attributes: {
                        type: 'submit',
                        title: 'save'|trans,
                        form: field_id(redirection.editForm),
                    }
                }) }}

                {% form_theme redirection.deleteForm '@RoadizRozier/forms.html.twig' %}
                {{ form_start(redirection.deleteForm) }}
                    {{ form_widget(redirection.deleteForm, { attr: { style: 'display: none;' }}) }}
                    {{ _self.button({
                        icon: 'rz-icon-ri--delete-bin-7-line',
                        color: 'danger',
                        attributes: {
                            type: 'submit',
                            title: 'delete'|trans,
                        }
                    }) }}
                {{ form_end(redirection.deleteForm) }}
            {% endblock %}
        {% endembed %}
    </td>
</tr>
