{% extends "@RoadizRozier/admin/base.html.twig" %}

{% if app.user %}
    {% set displayName = app.user.firstName|default(app.user.nickname|default(app.user.givenName|default(app.user.name|default(app.user.userIdentifier)))) %}
{% else %}
    {% set displayName = '' %}
{% endif %}

{% block title %}{% trans %}dashboard{% endtrans %} | {{ parent() }}{% endblock %}

{%- block header -%}
    {% include '@RoadizRozier/admin/head.html.twig' with {
        title: "hello.%name%"|trans({'%name%': displayName}),
        with_nav_bar: true,
        nav_bar_template: '@RoadizRozier/dashboard/navBar.html.twig',
        nav_bar_context: {'current':'dashboard'}
    } only %}
{%- endblock -%}

{%- block content_body -%}
<article class="content">
    <div class="rz-dashboard">
        {%- block dashboard_panels -%}{%- endblock -%}

        {% if bags.settings.get('dashboard_iframe') %}
            <div class="rz-dashboard__row">
                <div class="rz-dashboard__panel uk-panel uk-panel-box dashboard-iframe">
                    {{- bags.settings.get('dashboard_iframe')|striptags(['iframe','script'])|raw -}}
                </div>
            </div>
        {% endif %}

        <div class="rz-dashboard__row">
            {% if latestLogs %}
                {% embed '@RoadizRozier/dashboard/panel.html.twig' with {
                    icon: 'rz-icon-ri--command-line',
                    title: 'latest.node-sources.updates'|trans,
                    latestLogs: latestLogs
                } only %}
                    {% block content %}
                        {% embed '@RoadizRozier/includes/rz_table.html.twig' %}
                            {% block tbody_content %}
                                {% for log in latestLogs %}
                                    {% set entityPath = log_entity_edit_path(log) %}
                                    {% set thumbnail = log.additionalData.entity_thumbnail_src %}
                                    <tr>
                                        <td>
                                            {% set empty_class = thumbnail ? null : 'rz-entity-thumbnail--empty' %}
                                            <figure class="rz-entity-thumbnail rz-entity-thumbnail--medium {{ empty_class }}">
                                                {% if thumbnail %}
                                                    <img
                                                        class="rz-entity-thumbnail__image"
                                                        width="68px"
                                                        height="52px"
                                                        src="{{ thumbnail }}"
                                                        alt="{{ log.additionalData.entity_title }}">
                                                {% else %}
                                                    <span class="rz-entity-thumbnail__placeholder"></span>
                                                {% endif %}
                                            </figure>
                                        </td>
                                        <td>
                                            {% import '@RoadizRozier/macros/rz_link.html.twig' as rz_link %}
                                            {{ rz_link.root({
                                                label: log.additionalData.entity_title,
                                                attributes: { href: entityPath },
                                            }) }}
                                            </td>
                                        <td>{{ log.additionalData.user_public_name|default(log.username) }}</td>
                                        <td>{{ log.datetime|format_datetime('medium', 'short', locale=app.request.locale) }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">{{ '{0} no.item|{1} 1.item|]1,Inf] %count%.items'|transchoice(0)|raw }}</td>
                                    </tr>
                                {% endfor %}
                            {% endblock %}
                        {% endembed %}
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {% if bookmarks|length %}
                {% embed '@RoadizRozier/dashboard/panel.html.twig' with {
                    id: 'dashboard-bookmarks',
                    icon: 'rz-icon-ri--computer-line',
                    title: 'bookmarks.links'|trans,
                } %}
                    {% block content %}
                        <ul class="rz-dashboard__body-bg">
                            {% for bookmark in bookmarks %}
                                <li>
                                    {% import '@RoadizRozier/macros/rz_link.html.twig' as rz_link %}
                                    {{ rz_link.root({
                                        label: bookmark.label,
                                        class: 'rz-dashboard__text',
                                        attributes: {
                                            href: bookmark.url,
                                            target: '_blank',
                                        },
                                    }) }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                {% endembed %}
            {% endif %}
        </div>
    </div>
</article>
{%- endblock -%}
