{% extends "@RoadizRozier/admin/base.html.twig" %}

{%- block content_title -%}{% trans %}two_factor_backup_codes{% endtrans %}{%- endblock -%}

{%- block content_header_nav -%}
    <a class="content-header-nav-back uk-navbar-content"
       href="{{ path('2fa_admin_two_factor') }}"
       title="{% trans %}back_to.two_factor{% endtrans %}"
       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
{%- endblock -%}

{%- block content_body -%}
    <article class="content">
        {% if backupCodes %}
            <h2>{% trans %}store_your_backup_codes{% endtrans %}</h2>
            <div>
                <pre>
                    {%- for code in backupCodes -%}
                        <code>{{ code }}</code><br>
                    {%- endfor -%}
                </pre>

                <p><a href="{{ path('2fa_admin_two_factor') }}"
                      class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}back_to.two_factor{% endtrans %}</a></p>
            </div>
        {% elseif form %}
            <h2>{% trans %}request_two_factor_backup_codes{% endtrans %}</h2>
            {% form_theme form '@RoadizRozier/forms.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-warning"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.generate.two_factor_backup_codes.erasing_any_existing{% endtrans %}</legend>
                <div class="uk-button-group">
                    <a href="{{ path('2fa_admin_two_factor') }}"
                       class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                    <button class="uk-button uk-button-warning" type="submit">
                        <span class="icon-container"><i class="uk-icon-archive"></i></span>
                        <span class="label"><span class="label-text">
                                {%- trans -%}generate_backup_codes{%- endtrans -%}
                        </span></span>
                    </button>
                </div>
            </fieldset>
            {{ form_end(form) }}
        {% endif %}
    </article>
{%- endblock -%}
