{% extends "@RoadizRozier/admin/base.html.twig" %}

{% block title %}{% trans %}disable_two_factor_authentication{% endtrans %} | {{ parent() }}{% endblock %}

{%- block content_title -%}{% trans %}disable_two_factor_authentication{% endtrans %}{%- endblock -%}

{%- block content_header_nav -%}
    <a class="content-header-nav-back uk-navbar-content"
       href="{{ path('2fa_admin_two_factor') }}"
       title="{% trans %}back_to.two_factor{% endtrans %}"
       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
{%- endblock -%}

{%- block content_body -%}
    <article class="content">
        {% if form %}
            {% form_theme form '@RoadizRozier/forms.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.disable.two_factor{% endtrans %}</legend>

                <div class="uk-button-group">
                    <a href="{{ path('2fa_admin_two_factor') }}"
                       class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                    <button class="uk-button uk-button-danger" type="submit">
                        <span class="icon-container"><i class="uk-icon-unlock"></i></span>
                        <span class="label"><span class="label-text">
                                {%- trans -%}disable_two_factor{%- endtrans -%}
                        </span></span>
                    </button>
                </div>
            </fieldset>
            {{ form_end(form) }}
        {% endif %}
    </article>
{%- endblock -%}
