{% extends "@RoadizRozier/admin/base.html.twig" %}

{%- block content_title -%}{% trans %}two_factor_authentication{% endtrans %}{%- endblock -%}

{%- block content_header_nav -%}
    <a class="content-header-nav-back uk-navbar-content"
       href="{{ path('usersHomePage') }}"
       title="{% trans %}back_to.users{% endtrans %}"
       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
{%- endblock -%}

{%- block content_body -%}
    <article class="content">
        {% if form %}
            <h2>{% trans %}start_two_factor_activation{% endtrans %}</h2>
            {% form_theme form '@RoadizRozier/forms.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-info"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.activate.two_factor{% endtrans %}</legend>
                {% apply spaceless %}
                    <a href="{{ path('usersHomePage') }}"
                       class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                    <button class="uk-button uk-button-primary" type="submit">
                        <span class="icon-container"><i class="uk-icon-lock"></i></span>
                        <span class="label"><span class="label-text">
                                {%- trans -%}begin_activation{%- endtrans -%}
                        </span></span>
                    </button>
                {% endapply %}
            </fieldset>
            {{ form_end(form) }}
        {% elseif displayQrCodeTotp %}
            <h2>{% trans %}scan_qr_code_with_totp_app{% endtrans %}</h2>
            <p><img alt="Two factor QRCode" src="{{ path("2fa_qr_code_totp") }}" /></p>

            <h2>{% trans %}enter_generated_code_to_finalize{% endtrans %}</h2>
            {% form_theme totpForm '@RoadizRozier/forms.html.twig' %}
            {{ form_start(totpForm) }}
            {{ form_widget(totpForm) }}
            <fieldset data-uk-margin>
                {% apply spaceless %}
                    <button class="uk-button uk-button-primary" type="submit">
                        <span class="icon-container"><i class="uk-icon-lock"></i></span>
                        <span class="label"><span class="label-text">
                                {%- trans -%}submit_totp_code{%- endtrans -%}
                        </span></span>
                    </button>
                {% endapply %}
            </fieldset>
            {{ form_end(totpForm) }}
        {% else %}
            <h2>{% trans %}two_factor_authentication_is_enabled{% endtrans %}</h2>

            <hr>
            <h2>{% trans %}disable_two_factor_authentication{% endtrans %}</h2>
            {% form_theme disableForm '@RoadizRozier/forms.html.twig' %}
            {{ form_start(disableForm) }}
            {{ form_widget(disableForm) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-danger"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.disable.two_factor{% endtrans %}</legend>
                {% apply spaceless %}
                    <button class="uk-button uk-button-danger" type="submit">
                        <span class="icon-container"><i class="uk-icon-lock"></i></span>
                        <span class="label"><span class="label-text">
                                {%- trans -%}disable_two_factor{%- endtrans -%}
                        </span></span>
                    </button>
                {% endapply %}
            </fieldset>
            {{ form_end(disableForm) }}
        {% endif %}
    </article>
{%- endblock -%}
