{% extends "@RoadizRozier/admin/base.html.twig" %}

{% block title %}{% trans %}two_factor_authentication{% endtrans %} | {{ parent() }}{% endblock %}

{%- block content_title -%}{% trans %}two_factor_authentication{% endtrans %}{%- endblock -%}

{%- block content_body -%}
    <article class="content">
        {% if form %}
            <h2>{% trans %}start_two_factor_activation{% endtrans %}</h2>
            {% form_theme form '@RoadizRozier/forms.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-info"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.activate.two_factor{% endtrans %}</legend>
                {% apply spaceless %}
                    <a href="{{ path('usersHomePage') }}"
                       class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                    <button class="uk-button uk-button-primary" type="submit">
                        <span class="icon-container"><i class="uk-icon-lock"></i></span>
                        <span class="label"><span class="label-text">
                                {%- trans -%}begin_activation{%- endtrans -%}
                        </span></span>
                    </button>
                {% endapply %}
            </fieldset>
            {{ form_end(form) }}
        {% elseif displayQrCodeTotp %}
            <div class="uk-grid">
                <div class="uk-width-small-1-2">
                    <h2>{% trans %}scan_qr_code_with_totp_app{% endtrans %}</h2>
                    <p><img alt="Two factor QRCode" width="256" height="256" src="{{ path("2fa_qr_code_totp") }}" /></p>
                </div>
                <div class="uk-width-small-1-2">
                    <h2>{% trans %}enter_generated_code_to_finalize{% endtrans %}</h2>
                    {% form_theme totpForm '@RoadizRozier/forms.html.twig' %}
                    {{ form_start(totpForm) }}
                    {{ form_widget(totpForm) }}
                    <fieldset data-uk-margin>
                        {% apply spaceless %}
                            <button class="uk-button uk-button-primary" type="submit">
                                <span class="icon-container"><i class="uk-icon-lock"></i></span>
                                <span class="label"><span class="label-text">
                                {%- trans -%}submit_totp_code{%- endtrans -%}
                        </span></span>
                            </button>
                        {% endapply %}
                    </fieldset>
                    {{ form_end(totpForm) }}
                </div>
            </div>
        {% else %}
            <div>
                <p class="uk-alert uk-alert-success">{% trans %}two_factor_authentication_is_enabled{% endtrans %}</p>

                <a class="uk-button" href="{{ path('2fa_admin_two_factor_backup_codes') }}"><i class="uk-icon-archive"></i> {% trans %}generate_backup_codes{% endtrans %}</a>
                <a class="uk-button uk-button-danger" href="{{ path('2fa_admin_two_factor_disable') }}"><i class="uk-icon-unlock"></i> {%- trans -%}disable_two_factor_authentication{%- endtrans -%}</a>
            </div>
        {% endif %}
    </article>
{%- endblock -%}
