{% extends "@RoadizRozier/admin/base.html.twig" %}

{%- block content_title -%}{% trans %}two_factor{% endtrans %}{%- endblock -%}

{%- block content_header_nav -%}
    <a class="content-header-nav-back uk-navbar-content"
       href="{{ path('usersHomePage') }}"
       title="{% trans %}back_to.users{% endtrans %}"
       data-uk-tooltip="{animation:true}"><i class="uk-icon-rz-back-parent"></i></a>
{%- endblock -%}

{%- block content_body -%}
    <article class="content">
        {% if form %}
            {% form_theme form '@RoadizRozier/forms.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <fieldset data-uk-margin>
                <legend class="uk-alert uk-alert-info"><i class="uk-icon uk-icon-warning"></i> {% trans %}are_you_sure.activate.two_factor{% endtrans %}</legend>
                {% apply spaceless %}
                    <a href="{{ path('usersHomePage') }}"
                       class="uk-button"><i class="uk-icon-rz-back-parent"></i> {% trans %}cancel{% endtrans %}</a>
                    <button class="uk-button uk-button-primary" type="submit">
                        <span class="icon-container"><i class="uk-icon-lock"></i></span>
                        <span class="label"><span class="label-text">{% block content_form_submit_label %}
                                {%- trans -%}start_two_factor_activation{%- endtrans -%}
                            {% endblock %}</span></span>
                    </button>
                {% endapply %}
            </fieldset>
            {{ form_end(form) }}
        {% endif %}
        {% if displayQrCodeTotp %}
            <p>{% trans %}scan_qr_code_with_totp_app{% endtrans %}</p>
            <p><img alt="Two factor QRCode" src="{{ path("2fa_qr_code_totp") }}" /></p>
        {% endif %}
    </article>
{%- endblock -%}
