{% extends '@RoadizRozier/layout.html.twig' %}

{% block title %}{{ "edit.nodeTypeFields.for.nodeType.%name%"|trans({'%name%': nodeType.displayName}) }} | {{ parent() }}{% endblock %}

{% block content %}
    <section class="content-global content-nav-and-filters">
        {% include '@RoadizRozier/node-types/head.html.twig' with {
            title: "edit.nodeTypeFields.for.nodeType.%name%"|trans({'%name%': nodeType.displayName}),
            with_breadcrumb: true,
            item: nodeType,
        } only %}

        <article>
            {% embed '@RoadizRozier/includes/rz_table.html.twig' with {
                selection_available: false,
                actions_available: true,
                fields: fields,
                nodeType: nodeType,
            } only %}
                {% block thead_cells %}
                    <th>{% trans %}name{% endtrans %}</th>
                    <th class="mobile-hidden">{% trans %}label{% endtrans %}</th>
                    <th class="mobile-hidden">{% trans %}type{% endtrans %}</th>
                    <th class="mobile-hidden">{% trans %}group{% endtrans %}</th>
                    <th class="mobile-hidden">{% trans %}status{% endtrans %}</th>
                {% endblock %}

                {% block tbody_content %}
                    {% for field in fields %}
                        <tr data-position="{{ field.position }}">
                            <td>{{- field.name -}}</td>
                            <td class="mobile-hidden">{{ field.label }}</td>
                            <td class="mobile-hidden">{{ field.typeName|trans }}</td>
                            <td class="mobile-hidden">{{ field.groupName|trans }}</td>
                            <td class="mobile-hidden">
                                {% import '@RoadizRozier/macros/rz_node_badge.html.twig' as rz_node_badge %}
                                {% if not field.visible %}
                                    {{ rz_node_badge.item('hidden', false) }}
                                {% endif %}
                                {% if field.universal %}
                                    {{ rz_node_badge.item('universal', false) }}
                                {% endif %}
                                {% if field.indexed %}
                                    {{ rz_node_badge.item('indexed', false) }}
                                {% endif %}
                            </td>
                            {% if actions_available %}
                                <td>
                                    {% embed '@RoadizRozier/includes/rz_table_actions.html.twig' %}
                                        {% block other_actions %}
                                            {{ _self.button({
                                                icon: 'rz-icon-ri--edit-line',
                                                attributes: {
                                                    href: path('nodeTypeDecoratorsAddPage', {'nodeTypeName': nodeType.name, 'nodeTypeFieldName': field.name }),
                                                    title: 'add.a.nodeTypeDecorator'|trans,
                                                }
                                            }) }}
                                        {% endblock %}
                                    {% endembed %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </article>
    </section>
{% endblock %}
